<dialog id="login-dialog" class="dialog fade">
    <div class="dialog-header">
        <h4 class="dialog-title">Login to Qobo</h4>
    </div>
    <form method="post" name="loginForm" id="loginForm" action="login.php">
        <div class="dialog-body">
            <div class="form-group">
                <label>Username:
                    <input name="username" class="form-control" autocomplete="name" />
                </label>
            </div>
            <div class="form-group">
                <label>Password:
                    <input type="password" name="password" class="form-control" />
                </label>
            </div>
        </div>
        <div class="dialog-footer">
            <button id="confirmBtn" class="btn btn-primary" value="default" name="loginsubmit">Login</button>
            <button value="cancel" class="btn btn-default" formmethod="dialog">Cancel</button>
        </div>
    </form>
</dialog>