<dialog id="debug-dialog" class="dialog fade">
    <div class="dialog-header">
        <h4 class="dialog-title">Debug information</h4>
    </div>
    <form>
        <div class="dialog-body">
            <p><pre>{{ dump() }}</pre></p>
        </div>
        <div class="dialog-footer">
            <button value="cancel" class="btn btn-default" formmethod="dialog">OK</button>
        </div>
    </form>
</dialog>