{% extends "_layout.twig" %}

{% block content %}
    <div style="text-align: center;">
        <div class="section">
            <div class="content-box">
                <img src="/assets/under_construction.png" class="under-construction">
            </div>
            <div class="content-box">
                <h1>SOOS</h1>
                <span>Add links here</span>
                <form action="/search">
                    <input id="header-search-input" type="text" name="query" placeholder="{{ localize('search') }}...">
                    <button id="header-search-button">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div class="section">
            <div class="content-box">
                Currently serving [add number here] uploads!
            </div>
        </div>
    </div>
{% endblock %}
