/* HTML Overrides */

html { height: 100% }
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFF;
	color: #000;
	}
	
a:link, a:visited, a:active { color: #03C; }

a.dg { color: #333; }
a.noul { text-decoration: none; }
	
code {
	font-family: Courier, "Courier New", monospace;
	font-size: 12px;
	}

img { border: none; }
	
dt {
	font-weight: bold;
	padding-bottom: 5px;
	}
	
dd { padding-bottom: 15px; }
	
emphasis { font-style: italic; }

form { margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #000;
	margin-top: 5px;
	margin-bottom: 3px;
	padding: 0;
	}

h1 {
	margin-top: 0;
	font-size: 18px;
}
	
h1.leftNavNoContent { margin-bottom: 8px; }

h2 { font-size: 16px; }
	
h3 { font-size: 14px; }

h4 { font-size: 12px; }

h5 { font-size: 10px; }

h6 { font-size: 10px; }
	
hr {
	border: 0; 
	margin-top: 12px;
	border-top: 1px dashed #999;
	height: 1px;
	}



/* Common Elements */

.standardText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	}
.normalText { font-size: 12px; }
.smallText { font-size: 11px; }
.xsmallText { font-size: 10px; }
.xxsmallText { font-size: 9px; }
.largeText { font-size: 14px; }
.xlargeText { font-size: 16px; }
.xxlargeText { font-size: 18px; }
.xxxlargeText { font-size: 21px; }

.grayText { color: #666; }
.dgText {color: #333; }
.smgrayText { font-size: 11px; color: #666; }
.smdgText { font-size: 11px; color: #333; }

.standardLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	}

.label { font-weight: bold; color: #333333; }
	
.smallLabel {
	font-weight: bold;
	font-size: 11px;
	color: #333;
	}
.xsmallLabel {
	font-weight: bold;
	font-size: 10px;
	color: #333;
	}
.largeLabel {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	}

.headerTitle {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	}

.headerTitleLite {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	}

.headerTitleRight {
	float: right; 
	padding: 1px 5px 0 0;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	}

.headerTitleCenter {
	padding: 1px 5px 0 0;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	}
	
.eLink {
	text-decoration: none;
	border-bottom: 1px dotted #03C;
	}

/* multi-purpose general classes */

.cccBG { background: #CCC; }
.dddBG { background: #DDD; }
.eeeBG { background: #EEE; }
.fffBG { background: #FFF; }

.marT0 { margin-top: 0;}
.marl15 { margin-left: 15px; }
.marb5 { margin-bottom: 5px; }
.marB0 { margin-bottom: 0; }

.clear { clear: both; }
.lclear { clear: left; }
.rclear { clear: right; }
.spacer { clear: both; height: 1px; font-size: 1px; }

.alignMid { vertical-align: middle; }
.alignTop { vertical-align: top; }
.alignBot { vertical-align: bottom; }
.ralign { text-align: right; }
.lalign { text-align: left; }
.calign { text-align: center; }

.lfloat { float: left; }
.rfloat { float: right; }

/* the following better align the label with field cells that have
non-textfields or textfields preceded by text (e.g. Contest Name URL
on the contest page) */
.topPad7 {
	padding-top: 7px;
}
.topPad5 {
	padding-top: 5px;
}
.topPad2 {
	margin-top: 2px;
}
.topMar10 {
	margin-top: 10px;
}
.topMar5 {
	margin-top: 5px;
}
.topMar2 {
	margin-top: 2px;
}
/* END multi-purpose general classes */


.required { color: #FF0000; }

.rating {
	margin-top: 3px;
	font-size: 11px;
	height: 14px; 
	}


.confirmBox {
	border: 3px solid #666;
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #006;
	}

.errorBox {
	border: 3px solid #C00;
	padding: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #C00;
	}

.codeBox {
	background-color: #EEE;
	border: 1px solid #999;
	padding: 8px;
	margin-bottom: 15px;
	}

.headerBox {
	padding: 3px 5px;
	border: 1px solid #CCC;
	background-color: #CCC; 
	}

.headerRCBox { }
.headerRCBox .rch { display: block; }
.headerRCBox .rch * {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #CCC;
	}
.headerRCBox .rch1 {
	border-right: 1px solid #E9E9E9;
	padding-right: 1px;
	margin-right: 3px;
	border-left: 1px solid #E9E9E9;
	padding-left: 1px;
	margin-left: 3px;
	background: #D9D9D9; /* rch5 */
	}
.headerRCBox .rch2 {
	border-right: 1px solid #FAFAFA;
	border-left: 1px solid #FAFAFA;
	padding: 0 1px;
	background: #D6D6D6; /* rch3 */
	margin: 0 1px;
	}
.headerRCBox .rch3 {
	border-right: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	margin: 0 1px;
	}
.headerRCBox .rch4 {
	border-right: 1px solid #E9E9E9;
	border-left: 1px solid #E9E9E9;
	}
.headerRCBox .rch5 {
	border-right: 1px solid #D9D9D9;
	border-left: 1px solid #D9D9D9;
	}
.headerRCBox .content {
	background: #CCC;
	padding: 0 6px 2px;
	}

.headerHighlight {
	display:block;
	}
.headerHighlight *{
	display:block;
	height:1px;
	overflow:hidden;
	background:#ffcc00;
	}
	
.headerHighlight1 {
	border-right:1px solid #ffe991;
	padding-right:1px;
	margin-right:3px;
	border-left:1px solid #ffe991;
	padding-left:1px;
	margin-left:3px;
	background:#ffd83f;
	}
	
.headerHighlight2 {
	border-right:1px solid #fff9e5;
	border-left:1px solid #fff9e5;
	padding:0 1px;
	background:#ffd530;
	margin:0 1px;
	}

.headerHighlight3 {
	border-right:1px solid #ffd530;
	border-left:1px solid #ffd530;
	margin:0 1px;
	}

.headerHighlight4 {
	border-right:1px solid #ffe991;
	border-left:1px solid #ffe991;
	}
.headerHighlight5 {
	border-right:1px solid #ffd83f;
	border-left:1px solid #ffd83f;
	}
	
.headerHighlight_content{
	padding: 0 6px 2px;
	background:#ffcc00;
	}

.footerBox {
	padding: 0 5px;
	border: 1px solid #CCC;
	background-color: #CCC; 
	margin-bottom: 15px;
	margin-top: 0;
	}

.contentBox {
	padding: 6px; 
	border: 1px solid #CCC;
	}
	
.highlightBox {
	padding: 6px; 
	background-color: #FFC;
	border: 1px solid #FC3;
	}
	
.lowlightBox {
	text-align: left;
	padding: 6px;
	border: 1px solid #333;
	background-color: #BBB;
	}
.lowlightBox div.head {
	margin-left: 6px;
	font-weight: bold;
}
.boxdates {
	margin: 3px;
	font-size: 90%;
	padding: 3px;
	}
.boxdates.hi {
	background-color: #DDD;
	}
.attentionBox {
	font-weight: bold;
	padding: 6px;
	text-align: center;
	background-color: #FFC;
	border: 1px solid #FC3;
	}

.spOffersDiv {
	margin-top: 18px;
	line-height: 16px;
	}
.spOffersEntry { margin-bottom: 10px; }

.hid { display: none; }

.extraVertSpaceReg { padding-top: 8px; }




/* Common Layout Elements */

#sidebarRight245 {
	float: right;
	width: 245px;
	margin-left: 15px;
	margin-bottom: 9px;
	}

#sidebarRight305 {
	float: right;
	width: 305px;
	margin-left: 10px;
	margin-bottom: 9px;
	}

#mainContent { width: 700px; margin-right: 12px; }
#sideContent { float: right; width: 160px; padding-top: 2px; }
#sideAd { float: right; width: 160px; padding-top: 2px; }

#sideNav { float: left; width: 150px; }
#sideNav .body { }
#sideNav .navHead {
	font-weight: bold;
	font-size: 14px;
	padding: 8px 0 1px;
	}
#sideNav .navBody { padding-bottom: 10px; }
#sideNav .navBody12 {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 10px;
	}
#sideNav .navBody11 {
	font-size: 11px;
	line-height: 15px;
	padding-bottom: 10px;
	}
#sideNav .navButton { padding-bottom: 4px; }
#sideNav #bottomAdDiv { padding: 20px 0; text-align: center; }

#mainContentWithNav {
	width: 545px; /* this should be 550, but IE6 doesn't like it */
	margin-left: 150px;
	}

#leaderboardAd {
	height: 90px;
	padding-bottom: 15px;
	text-align: center;
	}

#manageNav {
	width: 150px;
	vertical-align: top;
	}
#manageNav ul {
	margin: 0;
	padding: 0;
	}
#manageNav li {
	list-style: none;
	margin: 0;
	padding: 5px;
	font-weight: bold;
	}
#manageNav .selected { background: #CCC; }

#manageContent {
	border: 3px solid #CCC;
	vertical-align: top;
	}
#manageContent .controls {
	background: #CCC;
	padding: 4px;
	}
#manageContent .pager {
	text-align: right;
	padding: 4px;
	}
#manageContent .empty {
	padding: 24px 0;
	text-align: center;
	}

#sectionHeader {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #999;
	}
#sectionHeader .my { float: right; padding-top: 1px; }
#sectionHeader .name {
	float: left;
	width: 150px;
	font-size: 21px;
	font-weight: bold;
	}
#sectionHeader .title {
	font-size: 16px;
	font-weight: bold;
	line-height: 34px;
	}



/* Masthead Elements */

#baseDiv {
	position: relative;
	width: 875px;
	margin-left: auto;
	margin-right: auto;
	}

#logoTagDiv { float: left; }
#logoDiv {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	}

#utilDiv {
	margin-left: 136px;
	padding-bottom: 6px;
	text-align: right;
	}
.utilDelim {
	padding-left: 3px;
	padding-right: 3px;
	}
a.headerLink { }
#iconMail {
	vertical-align: text-bottom;
	padding: 1px 0;
	}
#searchDiv {
	margin-top: 6px;
	margin-bottom: 4px;
	text-align: right;
	/*
	clear: both;
	background: #DDD;
	text-align: center;
	padding: 6px 0px;
	margin-bottom: 10px;
	*/
	}
.searchField {
	width: 250px;
	color: #000000;
	font-size: 12px;
	}

#gNavDiv {
	clear: both;
	margin-top: 8px;
	}
#gNavDiv .tab {
	float: left;
	width: 140px;
	margin-right: 6px;
	}
#gNavDiv .ltab {
	float: left;
	width: 140px;
	margin-right: 8px;
	}
#gNavDiv .rtab {
	float: right;
	margin-left: 2px;
	width: 140px;
	}

#gNavDiv .tabContent {
	height: 19px;
	padding: 5px 5px 0;
	background: #BCE url(/assets/2006l/navbar_tab_bg.gif) top left no-repeat;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px solid #FFF;
}
#gNavDiv .selected {
	background: #ddd url(/assets/2006l/navbar_tab_bg_sel.gif) top left no-repeat;
	border-bottom: 1px solid #DDD;
	}

#gNavBottom {
	height: 24px;
	background: #DDD url(/assets/2006l/pic_globalnav_gradation_8x24.gif) top left repeat-x;
	}
	
#gSubNavDiv {
	clear: both;
	background: #DDD;
	text-align: center;
	padding: 8px 0;
	margin-bottom: 10px;
	}




/* Footer Elements */

#footerDiv {
	clear: both;
	width: 875px;
	margin-top: 12px;
	padding-bottom: 12px;
	font-size: 11px;
	}
#footerCopyright { padding-top: 12px; text-align: center; }
#footerSearch { padding-top: 8px; text-align: center; }
#footerLinks { height: 66px; line-height: 15px; }
#footerContent {
	background: #EEE;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 8px 0;
	}
.footColumn { }
.footColumnBar {
	height: 60px;
	width: 170px;
	margin-right: 20px;
	border-right: 1px solid #CCC;
	}
.footLabel {
	font-weight: bold;
	font-size: 11px;
	color: #333;
	}
.footValues {
	margin-left: 0;
	padding-bottom: 6px;
	font-size: 11px;
	}
.footValues .column { float: left; padding-right: 26px; }






/* Dropdown Menu Elements */

.myAccountContainer {
	position: relative;
	float:right;
}

.myAccountMenu {
	position: absolute;
	top: 9px;
	left: 0;
	z-index:2;
	width:120px;
	height:120px;
	text-align:left;

}
	
.menuBox {
	margin-top: 6px;
	background-color:#FFF;
	border-top:1px #CCC solid;
	border-left:1px #CCC solid;
	border-right:1px #999 solid;
	border-bottom:1px #999 solid;
	padding:4px;
	width:90px;
}

.menuBoxItem {
	text-align: left;
	padding: 2px;
	margin: 0;
	background-color: #FFF;
	cursor: pointer;
	cursor: hand;
}

a.dropdownLinks:link {
	text-decoration: none;
	}	
a.dropdownLinks:hover {
	text-decoration: none;
}
a.dropdownLinks:visited {
	text-decoration: none;
}
a.dropdownLinks:active {
	text-decoration: none;
}




/* Local Subnav Elements */
#subnavContent { width: 670px; }

#subnavSidebar {
	border: 1px solid #CCC;
	float: right; 
	width: 185px; 
	background-color: #EEE;
	padding: 0;
	margin-top: 0;
	margin-left: 15px;
	}
	
.navItem {
	list-style: none;
	margin: 0;
	padding: 6px; 
	border-bottom: 1px dashed #999;
	font-weight: bold;
	}
	
.navItemHighlight {
	list-style: none;
	padding: 6px; 
	background-color: #BCE;
	border-bottom: 1px dashed #999;
	font-weight: bold;
	}

.sidebarLinks {
	margin-top: 3px;
	margin-bottom: 3px;
	}






/* htmlForm Elements */
 
.dataEntryTable { width: 650px; }

.formLabel  {
        font-weight: bold;
        text-align: right;
        width: 200px;
        }
.formImg {
	padding-right: 2px;
	vertical-align: middle;
	}
#contestOwnerInfo {
	margin-top: 20px;
	font-size: 95%;
}
#contestOwnerInfo form {
	width: 120px;
	text-align: center;
	margin: 0 0 20px;
}
#contestVoted {
	margin: 20px 0 0 5px;
}
.formField { width: 450px; }

.dataEntryTableSmall { width: 400px; }

.formLabelSmall  {
        font-weight: bold;
        text-align: right;
        width: 125px;
        }
		
.formFieldSmall { width: 275px; }

.formHighlight {
        background-color: #BCE;
        background-position: left top;
        border: 1px dashed #006;
        padding: 9px;
        margin-bottom: 5px;
        }

.defaultTextarea {
	width: 400px;
	height: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.contestAddForm {
	text-align: center;
	width: 130px;
	float: right;
	padding: 3px 0;
	margin: 0;
}
#contestVidHead { width: 680px; }
#contestVids { width: 680px; }

.thumbArrowL {
	padding: 10px 0;
	width: 40px;
}
.thumbArrowR {
	padding: 10px 0;
}

.contestThumb {
	vertical-align: top;
	text-align: center;
	width: 100px;
	height: 180px;
	overflow: auto;
	padding: 10px 5px;
}
.thumbInfo {
	text-align: left;
	padding: 3px 0 0 5px;
}
.thumbHilite {
	border: 2px #fc3 solid;
}

/* Pagination Elements */

.pagingDiv {
	background: #CCC;
	padding: 5px 0;
	font-size: 13px;
	color: #333;
	font-weight: bold;
	text-align: right;
	}
.pagerCurrent {
	color: #333;
	background-color: #FFF;
	padding: 1px 4px;
	border: 1px solid #999;
	margin-right: 5px;
	cursor: pointer;
	cursor: hand;
	}

.pagerNotCurrent {
	color: #03C;
	background-color: #CCC;
	padding: 1px 4px;
	border: 1px solid #999;
	margin-right: 5px;
	text-decoration: underline;
	cursor: pointer;
	cursor: hand;
	}






/* tag Elements (is this used?) */
	
.tagCloud {
	margin-left: 5px; 
	margin-bottom: 5px; 
	line-height: 18px;
	}
	
.tagCloudBig {
	margin-left: 5px; 
	margin-bottom: 5px; 
	line-height: 28px;
	}






/* Video Display Elements */

.vGridBox {
	padding: 6px;
	border: 1px solid #CCC;
	background: #EEE;
	}

.vListBox {
	padding: 0 6px; 
	border: 1px solid #CCC;
	background: #EEE;
	}

.vimg {
	width: 130px;
	height: 100px;
	border: 1px solid #CCC;
	}
	
.vimgSm {
	width: 90px;
	height: 70px;
	border: 1px solid #CCC;
	}

.vimg130 {
	width: 130px;
	height: 100px;
	border: 1px solid #CCC;
	}

.vimg120 {
	width: 120px;
	height: 90px;
	border: 1px solid #CCC;
	}

.vimg90 {
	width: 90px;
	height: 70px;
	border: 1px solid #CCC;
	}

.vimg80 {
	width: 80px;
	height: 60px;
	border: 1px solid #CCC;
	}
	
.vimg60 {
	width: 60px;
	height: 45px;
	border: 1px solid #CCC;
	}

.vimg50 {
	width: 50px;
	height: 38px;
	border: 1px solid #CCC;
	}
	
.addtoQL { 
	width:20px;
	left:1px;
	top:71px;
	position:relative;	
	}

.addtoQLIE {
       	width:20px;
	left:1px;
        top:74px;
        position:relative;
        }

.addtoQLRelated {
	width:20px;
	margin-top:-26px;
	margin-left:1px;
	}

.addtoQLRelatedIE {
	width:20px;
        margin-top:-29px;
        margin-left:1px;
        }
	
img.rating {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	}

.runtime {
	font-size: 11px;
	color: #000;
	font-weight: bold;
	}

.title { 
	font-weight: bold;
	font-size: 12px; 
	}
	
.desc {
	margin: 3px 0;
	font-size: 12px;
	}
	
.facets {
	margin-top: 2px;
	margin-bottom: 3px;
	font-size: 11px;
	line-height: 13px;
	}

.vstill { margin-bottom: 2px; }

.vtitle { font-weight: bold; }
	
.vdesc { margin: 3px 0; }
	
.vfacets {
	margin: 3px 0;
	font-size: 11px;
	line-height: 13px;
	}

.vruntime {
	font-size: 11px;
	color: #000;
	font-weight: bold;
	}

.vtagLabel { float: left; }
.vtagValue {
	margin-left: 35px;
	margin-bottom: 3px;
	}
	
.vTable {
	border-spacing: 0;
	padding: 0;
	}
.vTable td { vertical-align: top; }
.vTable .vinfo { padding-left: 8px; }

.vDirectorBox { width: 100px; }


.vEntry {
	padding: 10px 0;
	border-bottom: 1px dashed #999;
	}
.vDetailEntry {
	clear: left;
	padding: 8px 0;
	border-bottom: 1px dashed #999;
	}
.vDetailEntry table {
	border-spacing: 0;
	padding: 0;
	}
.vDetailEntry td { vertical-align: top; }

.vDetailEntry .image { margin-right: 12px; }

.vDetailEntry .tagLabel { float: left; }
.vDetailEntry .tagValue {
	margin-left: 35px;
	margin-bottom: 3px;
	}
	
.vDetailEntry .tagTable {
	border-spacing: 0;
	padding: 0;
	margin-bottom: 3px;
	}

.vDetailEntry .tagTable td {
	font-size: 11px;
	vertical-align: top;
	}


.vBriefEntry {
	width: 130px;
	padding: 3px;
	margin-bottom: 6px;
	}
	
.vBriefEntry .img { margin-bottom: 4px; }

.vMicroEntry {
	width: 90px;
	margin-bottom: 6px;
	margin-right: 15px;
	}
.vMicroEntry img { margin-bottom: 4px; }


.v120vEntry { width: 120px; margin-bottom: 10px; }
.v120vEntry .vstill { margin-bottom: 4px; }
.v120vEntry .vimg { width: 120px; height: 90px; border: 1px solid #CCC; }

.v90vEntry { width: 90px; margin-bottom: 6px; }
.v90vEntry .vstill { margin-bottom: 2px; }
.v90vEntry .vtitle { font-weight: bold; }
.v90vEntry .vimg { width: 90px; height: 70px; border: 1px solid #CCC; }

.v80vEntry { width: 80px; margin-bottom: 6px; }
.v80vEntry .vstill { margin-bottom: 2px; }
.v80vEntry .vtitle { font-weight: bold; }
.v80vEntry .vimg { width: 80px; height: 60px; border: 1px solid #CCC; }


.v120hEntry { clear: left; }
.v120hEntry .vstill { float: left; }
.v120hEntry .vinfo { margin-left: 130px; }

.v90hEntry { clear: left; }
.v90hEntry .vstill { float: left; }
.v90hEntry .vimg { width: 90px; height: 70px; border: 1px solid #CCC; }
.v90hEntry .vinfo { margin-left: 96px; }

.v80hEntry { clear: left; }
.v80hEntry .vstill { float: left; }
.v80hEntry .vimg { width: 80px; height: 60px; border: 1px solid #CCC; }
.v80hEntry .vinfo { margin-left: 86px; }

.v50hEntry { clear: left; }
.v50hEntry .vstill { float: left; }
.v50hEntry .vimg { width: 50px; height: 38px; border: 1px solid #CCC; }
.v50hEntry .vinfo { margin-left: 56px; }

.vimgFaded {
        width: 120px;
        height: 90px;
        border: 1px solid #CCC;
        opacity : .3;
        -moz-opacity : .3;
        filter : alpha(opacity=30);
}


.playlistHeading {
	float:left;
	width:320px;
	margin-left:5px;
	margin-bottom:8px;
}





/* Homepage Elements */

#hpMainContent {
	float: left;
	width: 555px;
	}
#hpSideContent {
	float: right;
	width: 300px;
	}

.hpContentBlock { margin-bottom: 15px; }
.hpSideBlock { margin-bottom: 15px; }

#hpSVidHeader {
	font-weight: bold;
	font-size: 12px;
	color: #999;
	margin-bottom: 6px;
	}
#hpSVidAboutLink { float: right; font-size: 11px; }
.hpSVidEntry {
	float: left;
	width: 23%;
	text-align: center;
	padding: 0 3px;
	}

#hpSubsBlock {
	border-top: 1px dashed #999;
	margin-top: 6px;
	}
#hpSubsHeader { padding: 5px 0; }
#hpSubsTable {
	width: 100%;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	}
#hpSubsTable td { vertical-align: top; }
#hpSubsTable td.next { vertical-align: middle; }

.hpSubsHeading {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 2px;
	}
	
.hpSubsEntry { 
	width: 90px;
	font-size: 11px;
	}

.hpStatsEntry { margin-top: 8px; }
.hpStatsHeading {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 2px;
	}

.hpAboutTable { width: 100%; }
.hpAboutTable td { vertical-align: top; }
.hpAboutTable td.label { font-size: 14px; font-weight: bold; }
.hpAboutTable td.desc { padding-bottom: 8px; }

.hpLoginField { width: 170px; }
.hpLoginForgot { padding-top: 10px; }

.hpChannelEntry { margin-bottom: 5px; }
.hpGroupEntry { margin-bottom: 5px; }

#hpEmbedTopCap { height: 35px; overflow: hidden; padding-bottom: 1px; }
#hpEmbedVideo { }
#hpEmbedUnderBlock { padding-top: 5px; }
#hpEmbedRatingDiv { float: right; }
#hpEmbedInfoDiv {}




/* Signin Signup Elements */

#siSignupDiv {
	float: left;
	width: 420px;
	margin-bottom: 24px;
	}
	
#suSignupDiv {
	float: left;
	background-color: #EEE;
	margin-bottom: 24px;
	}

#suInOrderToDiv {
	background-color: #FFFFCC;
	border: 1px solid #CCCC66;
	margin: 6px 25%;
	padding: 6px;
	font-weight: bold;
	}

#suSigninDiv {
	width: 400px;
	float: right;
	}





/* Inbox Elements */

#ibNav { width: 130px; }
#ibNav ul {
	margin: 0;
	padding: 0;
	}
#ibNav li {
	list-style: none;
	margin: 0;
	padding: 4px;
	font-weight: bold;
	}
#ibNav .selected { background: #CCC; }

#ibContent { border: 3px solid #CCC; }

#ibSubmitDiv { margin: 6px 0 6px 12px; }

#ibFilterDiv { margin-top: 12px; }
#ibFilterSelect { font-size: 11px; }

/* .ibTable { background-color: none; } removing this because there is no value of "none" */

tr.ibTableHeader { background-color: #CCC; }

tr.ibTableMain { background-color: #FFF; }

a.ibLink:hover {
	color: #03C;
	font-family: Arial, Helvetica, sans-serif;
	}

a.ibLink:link {
	color: #03C;
	font-family: Arial, Helvetica, sans-serif;
	}

a.ibLink:active {
	color: #03C;
	font-family: Arial, Helvetica, sans-serif;
	}

a.ibLink:visited {
	color: #03C;
	font-family: Arial, Helvetica, sans-serif;
	}

a.ibLink:hover {
	color: #03C;
	font-family: Arial, Helvetica, sans-serif;
	}






/* Category Elements */

.catNameHeader {
	font-size: 16px;
	font-weight: bold;
	padding: 6px 0 4px;
	}
.catNameHeader a { text-decoration: none; }
.catNameHeader a:hover { text-decoration: underline; }
.catEntry { padding-bottom: 36px; }
.catFeatureVidDiv { padding-bottom: 5px; }
.catMoreDiv { font-size: 11px; }
.catSearchDiv {
	margin: 4px 0 12px;
	padding: 6px;
	background: #EEE;
	border: 1px solid #CCC;
	}






/* Mini Explanation Popup Code */
#set_of_links {
	position: relative;
	padding: 0;
	border: none;
	background: #FFF;
	margin-bottom: 20px;
	}

#set_of_links a {
	display: inline;
	color: #03C;
	}

#set_of_links a:hover {
	background: #FFC;
	text-decoration: none;
	color: #000;
	}

#set_of_links a span { display:none }

#set_of_links a:hover span {
	display: inline;
	position: absolute;
	left: 0;
	background: #FFC;
	padding: 5px 15px 5px 0;
	}





/* Channel Customization Code */

.dataEntryTableSm { 
	width: 360px;
	margin-top: 5px;
	}

.formLabelSm {
        font-weight: bold;
        text-align: right;
        width: 200px;
        }
        
.formFieldShortSm { width: 180px; }       

.formLabelLong  {
	font-weight: bold;
	text-align: right;
	width: 210px;
}

.formFieldShort { width: 327px; }

.customizationTable { width: 875px; }

.inputSize { width: 559px; }

tr.inputsizeSmall td {
	width: 22px;
	text-align: center;
}

tr.inputSizeMedium td {
	width: 537px;
	text-align: left;
}

tr.inputSizeSs td { width: 316px; }

.formTable { width: 537px; }

.profileSubLinks {
	color:  $theme_obj.link_color;	
}

#viewPublicChannel  {
	float: right;
	margin-right: 10px;
	padding: 6px 8px;
	/* background: #FFC; */
	border: 1px solid #999;
	font-weight: bold;
	}

.horizontalDisplayTable {
	margin-left: 30px;
	margin-bottom: 15px;
	width: 630px;
	}
	
tr.horizontalDisplayTable td {
	text-align: center; 
	width: 90px;
	font-weight: bold;
	}

/* Bulletin code */

.displayTable { border: 1px solid #CCC; }

tr.displayTable td {
	padding-top: 4px;
	padding-bottom: 8px;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}


.displayPostTable { border: 1px solid #CCCCCC; }

tr.displayPostTable td {
	padding-top: 4px;
	padding-bottom: 8px;
}

.columnTitles {
	font-weight: bold;
	color: #000000;
}

.imgBrdr {
	border: 2px solid #CCCCCC;

}





/* Musician Forms Code */

.editDividerTable {
        border-bottom: 1px dashed #CCCCCC;
        width: 650px;
        padding-bottom: 10px;
        padding-top: 15px;
        }

.editDividerTableEnd {
        border-bottom: none;
        width: 650px;
        padding-bottom: 10px;
        padding-top: 15px;
        }

.formLabelTiny {
        font-weight: bold;
        width: 100px;
        text-align: right;
}

.alertBoxSm {
        border: 2px solid #C00;
        padding: 6px;
        margin-top: 6px;
        margin-bottom: 6px;
        text-align: left;
        font-weight: bold;
        font-size: 12px;
        color: #000;
        width: 420px;
        }

.descriptionTable {
        border: 1px solid #CCC;
        }

tr.descriptionTable td {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        border-bottom: 1px solid #CCC;
}

tr.descriptionTableNB td {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
}




/* QuickList Elements */
.quicklist_container {
	padding-top:12px;
}
div.scroll {
	height: 206px;
	overflow: auto;
}

div.watchlist_videos {
	width: 448px;
	background-color: #F7F7F7;
	border: 1px #DDD solid;
}

.nextVideoRowDiv {
	width:450px;
	background-color:#DDD;
	height:28px;
}

.saveRowDiv {
	width:450px;
	background-color:#DDD;	
}

.quicklistActions {
	float:right;
	margin-top:4px;
	margin-right:8px;
}

.hideShowButton {
	margin-right:3px;
	float:right;
}

.saveRowSetting {
	float:left;
	margin-top:0;
}

.nextVideoDisplay {
	float:left;
	margin-left:3px;
	margin-top:1px;
}

.quicklistClickableArea
{
	cursor:hand;
	cursor:pointer;
}





/* Groups Elements */

#groupCommonHeader {
	border-bottom: 1px dashed #999;
	padding-bottom: 12px;
	margin-bottom: 12px;
	}
#groupStillDiv {}
#groupHeaderInfo {}
#groupName {
	font-weight: bold;
	font-size: 16px;
	}
#groupLinks { margin: 6px 0; }
#groupDesc {}
#groupOptionsDiv {
	float: right;
	margin-left: 10px;
	line-height: 15px;
	}
#groupFlagAsDiv { padding-top: 5px; }

#groupRecentVideosDiv { padding-top: 2px; }
#groupRecentTopicsDiv { padding: 12px 0 16px; }
#groupAboutGroupDiv { padding-bottom: 6px; }

.groupControlsTop {
	text-align: right;
	padding-bottom: 4px;
	}
.groupControlsBottom {
	text-align: right;
	padding-top: 4px;
	}

.groupEmpty { padding-left: 24px; }

#groupTopicTopEntry {
	background: #DEF;
	/* border: 1px solid #9CF; */
	/*
	background: #FFC;
	border: 1px solid #FC3;
	*/
	padding: 6px;
	margin-bottom: 24px;
	}
#groupTopicPostCommentDiv { padding: 10px 0; }

.brandedInfoBox{
	float: left;
	width: 680px;
	padding: 6px 0;
	margin-top: 10px;
	border-top: 1px dashed #999;
}
.brandedInfoMain {
	width: 340px;
	float: left;
}
.brandedStatBox {
	padding: 25px 0 0;
	width: 285px;
	float: right;
	font-size: 11px;
}
#contestHeadPic {
	width: 120px;
}

#contestEntryNumHead { 
	width: 322px;
	float: left;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0 4px;
	}

.votingThumb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	padding: 5px;
	display: inline;
}
.votingThumb right {
	float: right;
	margin-left: 5px;
}
#contestInteractDiv { width: 350px; margin-right: 15px; margin-bottom: 10px;}

#aboutExploreContestDiv { float: right; width: 325px; margin: 0; }

#contestVideoDesc{ margin-top: 15px; }

#contestVoting { margin-top: 10px; text-align: left; }

#contestVoted { display: none; }

#contestArrowL {

}

#contestArrowR {

}
.cfacets {
	margin: 5px 0;
	font-size: 11px;
	line-height: 13px;
	}
.cruntime {
	font-size: 11px;
	color: #000;
	}

#contestTerms {
	display: none;
	width: 655px;
	z-index: 99;
	position: absolute;
	left: 5px;
	background-color: #ddd;
	margin: 5px 10px 0 0;
	border: 2px #ccc solid;
	padding: 15px 15px 50px;
}
#termsBox {
	padding: 5px;
	text-align: left;
	width: 600px;
	height: 280px;
	overflow: auto;
	background-color: #fff;
}



/* Ptch boxes - as seen on the post-signup page */
#pitchSection {
	margin: 10px 80px 10px 40px;
	color: #333;
	font-size: 12px;
}
#pitchDesc {
margin-left: 50px;
}
.pitchBox {
	height: 140px;
	width: 660px;
	margin: 10px 0;
	padding: 10px 0 0 160px;
}
#pitchSection #popularChannels {
	background: url(/assets/2006l/pic_postsignup_picks_790x155.gif) top left no-repeat;
}
#pitchSection #partnerChannels {
	background: url(/assets/2006l/pic_postsignup_partners_790x155.gif) top left no-repeat;
}
.pitchedItem {
	width: 135px;
	margin: 0 22px 0 0;
	float: left;
	text-align: left;
}
.pitchedItem img {
	display: block;
	margin: 2px 0 0 20px;
}
.pitchedItem .titleDiv {
	text-indent: -20px;
	margin-left: 20px;
}
.pitchedItem .title {
	font-weight: bold;
	color: #000;
	size: 11px;
	margin: 0;
}
.pitchedItem .info {
	display: block;
	margin: 2px 0 0 20px;
	font-size: 11px;
	color: #333;
}
.pitchedItem .info b {
	font-weight: normal;
	color: #000;
}
#pitchSkip {
	vertical-align: middle;
	padding-bottom: 30px;
	margin-right: 20px;
}
#pitchSubscribe {
	text-align: center;
}
#pitchButton {
}
#youtubeChannel {
	color: #333;
	margin-bottom: 10px;
}
#youtubeChannel #linetwo {
	margin-left: 22px;
}

/* My Account Elements */

#myaLeftCol { width: 360px; float: left; }
#myaRightCol { width: 360px; margin-left: 375px; }

.myAccountExplanatoryText  {
	float: right;
	text-align: left;
	margin-top: 6px;
	width:150px;
	margin-right: 6px;
	padding: 4px;
	color: #666;
}




/* Section Color Elements */

.videosColor { color: #900; }
/* .categoriesColor { color: #333366; } */
.categoriesColor { color: #191970; }
.channelsColor { color: #006600; }
.communityColor { color: #C60; }
.searchColor { color: #333; }



/* TestTube Elements */
#ttLeft { float: left; width: 475px; }
#ttLeft p { font-size: 14px; color: #333; line-height: 20px; }
#ttRight { margin-left: 500px; }