<div class="has-ratio">
    {% if (video.flags b-and 2) %}
        <div class="has-text-white">
            This video should be processing. If you see this message for too long, then please contact an administrator.
        </div>
    {% else %}
        <!-- this is not the right location but i don't care -grkb 8/23/2022 -->
        <script src="https://vjs.zencdn.net/7.20.2/video.min.js"></script>
    <link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
        <video
                id="sb-video"
                class="video-js"
                controls
                preload="auto"
                poster="{{ video_thumbnail(video.video_id) }}"
                data-setup="{}">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that supports HTML5 video.
                >
            </p>
        </video>
        <script>
            var player = videojs('sb-video', {
                sourceOrder: true,
                retryOnError: true,
                aspectRatio: "16:9",
                fluid: true,
                autoplay: true,
                preload: "auto"
            });

            player.src([{
                src: '/dynamic/videos/{{ video.video_id }}.converted.mp4',
                type: 'video/mp4'
            }, {
                src: '/dynamic/videos/{{ video.video_id }}.mpd',
                type: 'application/dash+xml'
            }]);
        </script>
    {% endif %}
</div>