<div class="has-ratio">
    {% if (video.flags b-and 2) %}
        <div class="has-text-white">
            This video should be processing. If you see this message for too long, then please contact an administrator.
        </div>
    {% else %}
        <!-- this is not the right location but i don't care -grkb 8/23/2022 -->
        <script src="https://cdn.jsdelivr.net/npm/video.js@7.20.2/dist/video.min.js"
                integrity="sha256-Val5EwMJw/DUOYKY9kjpCo3tLfUA/fPHWOkFHs9iKcs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/video.js@7.20.2/dist/video-js.min.css"
          integrity="sha256-MQILNoDAnXbaJT0pfW0/qpj9a1UcHHUYKduMEqn0oa0=" crossorigin="anonymous">
        <video
                id="sb-video"
                class="video-js"
                controls
                preload="auto"
                poster="{{ video_thumbnail(video.video_id) }}"
                data-setup="{}"
				src="/dynamic/videos/{{ video.video_id }}.converted.mp4">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that supports HTML5 video.>
            </p>
        </video>
        <script>
            var player = videojs('sb-video', {
                sourceOrder: true,
                retryOnError: true,
                aspectRatio: "16:9",
                fluid: false,
                autoplay: true,
                preload: "auto"
            });

            player.src([{
                src: '/dynamic/videos/{{ video.video_id }}.converted.mp4',
                type: 'video/mp4'
            }, {
                src: '/dynamic/videos/{{ video.video_id }}.mpd',
                type: 'application/dash+xml'
            }]);
        </script>
    {% endif %}
</div>