{% extends "_layout.twig" %}

{% block title %}Home{% endblock %}

	{% block content %}
<div class="row">
	<div class="col-md-8">
          <h2 class="sub-header">Videos</h2>
            <table class="c1">
              <thead>
                <tr class="h">
                  <th>Internal ID</th>
                  <th>Title</th>
                  <th>Views</th>
                </tr>
              </thead>
              <tbody>
			  {% for video in videos %}
                <tr>
                  <td class="b n1">{{ video.id }}</td>
                  <td class="b n2">{{ video.title }}</td>
                  <td class="b n2">{{ video.views }}</td>
                </tr>
			   {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
	<div class="col-md-4">
	</div>

	{% endblock %}
