$button-padding: 6px 10px;

.button {
  border-radius: 3px;
  color: white;
  padding: $button-padding;
  margin: 2px 0;
  display: inline-block;
  cursor: pointer;

  &:hover {
	background-color: #dddddd;
  }

  &.sel {
	background-color: #ccccff;

	&:hover {
	  background-color: #bbbbee;
	}
  }
}

// uploader "file selection" button, implemented in the hackiest way possible.
input[type=file]::file-selector-button, {
  color: black;
  padding: $button-padding;
  margin: 2px 7px 6px 0px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid darken($gray-200, 5.25%);
  background-color: lighten($gray-200, 2.5%);
  @include gradient-y($start-color: lighten($gray-200, 2.5%), $end-color: lighten($gray-200, 1.5%));
  font-family: $font;

  &:hover {
	background-color: lighten($gray-200, 8.5%);
	@include gradient-y($start-color: lighten($gray-200, 8.5%), $end-color: lighten($gray-200, 1.5%));
  }

  &.sel {
	background-color: darken($gray-200, 10.5%);
	@include gradient-y($start-color: lighten($gray-200, 10.5%), $end-color: lighten($gray-200, 5.5%));
  }
}

.button-large {
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 17px;
}

.button-small {
  border-radius: 2px;
  padding: 5px 13px;
  height: 26px;
  font-size: 11px;
}

@each $state, $value in $theme-colors {
  .button-#{$state} {
	border: 1px solid darken($value, 7.5%);
	background-color: lighten($value, 2.5%);
	@include gradient-y($start-color: lighten($value, 2.5%), $end-color: lighten($value, 1.5%));
	color: contrast-color($value, $dark, $light) !important;
  }

  .button-#{$state}:hover {
	background-color: lighten($value, 8.5%);
	@include gradient-y($start-color: lighten($value, 8.5%), $end-color: lighten($value, 1.5%));
	border: 1px solid darken($value, 1%);
	color: contrast-color($value, $dark, $light) !important;
  }

  .button-#{$state}:active {
	border: 1px solid darken($value, 7.5%);
	background-color: lighten($value, 10.5%);
	@include gradient-y($start-color: lighten($value, 10.5%), $end-color: lighten($value, 5.5%));
	color: contrast-color($value, $dark, $light) !important;
  }

  .button-#{$state}-invis {
	border: 1px solid #0000;
	background: none;
	box-shadow: none;
	color: contrast-color($value, $dark, $light) !important;
  }

  .button-#{$state}-invis:hover {
	@include gradient-y($start-color: lighten($value, 8.5%), $end-color: lighten($value, 1.5%));
	border: 1px solid darken($value, 1%);
	color: contrast-color($value, $dark, $light) !important;
  }

  .button-#{$state}-invis:active {
	@include gradient-y($start-color: lighten($value, 10.5%), $end-color: lighten($value, 5.5%));
	border: 1px solid darken($value, 10%);
	color: contrast-color($value, $dark, $light) !important;
  }
}