.container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

// the login/register pages need to be centered at every resolution.
.chaziz-container {
  margin-right: auto;
  margin-left: auto;
}

.page-container {
  min-height: calc(100vh - 255px - 48px);
}