/* taken/based from https://codepen.io/heyDante/pen/bxEYOw */

.gallery-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    height: 187px;
    width: 333px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
    object-fit: cover;
  }
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 187px;
  width: 333px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;

  a {
    color: white;
  }
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  width: 90%;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-10px);

  img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    float: left;
  }
}

.transparent-box {
  height: 187px;
  width: 333px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.80));
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}