/// Functions \\\
@import "_functions";
/// Variables \\\
@import "_variables";

$primary: $orange;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "neutral": $neutral,
        "light": $light,
        "dark": $gray-dark,
        "blue-green": $teal-color,
        "aqua": $aqua-color,
        "carrot": $orange-color,
);

.main-content {
	background-color:#ff9900;
	background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
}

a:link,
a:visited {
  color: $primary;
}

.chaziz-body {
	background: #2B3644 url(/assets/cr_branding/login_bg.jpg);
}

/// Gradients \\\
@import "_gradients";
/// Backgrounds \\\
@import "_backgrounds";
/// Forums \\\
@import "_style_forums";
/// Images \\\
@import "_images";
/// Cards \\\
@import "_cards";
/// Buttons \\\
@import "_buttons";
/// Alerts \\\
@import "_header_message";
/// Text \\\
@import "_text";