body {
  font-size: 100%;
  font: 12px Arial, sans-serif;
  background: #eaeaea;
  background-image: url("/assets/nostalgia/noise.png");
}

a:link, a:visited, a:active {
  color: #03c;
}

.page-container {
  width: 960px;
  background-color: white;
  margin-top: -2px;
  padding: 15px 10px;
}

.header1 {
  margin: 0px auto;
  padding: 20px 0px 2px;
}

.header2 {
  height: 35px;
  line-height: 0;
  background-image: url("/assets/nostalgia/subheader.gif");
  border-radius: 10px 10px 0 0;
  border-radius: 5px 5px 0 0;
}

#masthead-content #masthead-upload-button-group, .masthead-user {
  float: none;
  margin-top: 0;
  margin-left: 0;
  position: relative;
}

.headertext {
  color: #fff !important;
}

.search_input {
  font: 12px Arial, Helvetica, sans-serif;
  width: 245px;
  padding: 2px 4px 3px;
  margin: 0;
  box-sizing: border-box;
}

.button-poktube {
  padding: 3.6px 1em;
  border: 1px solid #ccc;
  background: #f6f6f6;
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #e8e8e8 100%);
  margin-left: 0px;
  border-radius: 3px;
  font: 12px Arial, Helvetica, sans-serif;
}

.main-content {
  background: white;
  background-size: cover;
  margin: 0;
  color: black;
  padding: 25px 0;
  margin-top: 0;
  padding: 0;
  display: block;
}

.whatsnew {
  border: 1px solid #F6E4B8;
  background: #FFFFDB;
  border-radius: 7px;
  padding: 10px 15px;

  h3 {
    color: #CC6600;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}

.watchNext {
  h1 {
    font-weight: bold;
  }
}