/// Functions \\\
@import "_functions";
/// Variables \\\
@import "_variables";

$primary: $pink;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "neutral": $neutral,
        "light": $light,
        "dark": $gray-dark,
        "blue-green": $teal-color,
        "aqua": $aqua-color,
        "carrot": $orange-color,
);

.main-content {
	background: rgb(24, 0, 36);
	background: linear-gradient(90deg, rgba(24, 0, 36, 1) 0%, rgba(100, 9, 121, 1) 35%, rgba(200, 21, 200, 1) 100%);
}

a:link,
a:visited {
  color: $primary;
}

.chaziz-body {
	background: #2B3644 url(/assets/qb_branding/login_bg.jpg);
}

/// Imports \\\
@import "_imports";