/// Normalize \\\
@import "_normalize";
/// Variables \\\
@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$sidebarlength: 50px;

/* SB CSS STARTS HERE ======================================================== */

html {
  height: 100%;
}

@import "_clearfix";
@import "_grid-breakpoints";

h1, h2, h3 {
  font-weight: 500;
}

h4, h5, h6 {
  font-weight: 400;
}

.clearfix {
  @include clearfix;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $gray-100;
  color: black;
  font-family: $font;
  font-size: 13px;
  margin: auto;
  width: 100%;
  font-weight: 500;
}

a:link,
a:visited {
  color: $teal;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration-line: underline;
}

p {
  line-height: 1.25em;
}

menu, ol, ul, li {
  list-style: none;
}

.footer {
  background-color: $gray-150;
  border-bottom: 1px solid $gray-250;
  border-top: 1px solid $gray-250;
  margin-top: 0;
  overflow: hidden;
  padding: 15px 40px;

  img {
    width: 125px;
  }
}

.profiler {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-200;
  border-top: 1px solid $gray-200;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
}

.top_forum {
  min-width: 800px;
  background-color: black;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-top: 0;
  overflow: hidden;
  padding: 8px;
  height: 16px !important;

  ul.menu {
    line-height: 16px;
  }

  ul.menu a {
    color: white;
  }

  ul.menu a:hover {
    background-color: #515151;
  }
}

.top {
  height: 35px;
  border-top-width: 0;
}

.picon {
  width: 35px;
  height: 35px;
  float: left;
}

.t_user {
  color: #0000aa;
  font-weight: bold;
}

.dl {
  border-collapse: collapse;

  td {
    border: 1px solid black;
    padding: 7px;
  }
}

.noborder {
  border: 0;
}

.center {
  text-align: center;
}

// Settings \\

.settings {
  width: 100%;
  border-collapse: collapse;

  .a {
    text-align: center;
    width: 300px;
  }

  .a,
  .b {
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }

  tr {
    &:nth-child(odd) {
      background-color: #f5f5f5;
    }

    &:nth-child(even) {
      background-color: #e8e8e8;
    }
  }
}

/// Generic text aligns \\\

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear_right {
  clear: right;
}

.main-content {
  background: rgb(24, 0, 36);
  background: linear-gradient(90deg, rgba(24, 0, 36, 1) 0%, rgba(95, 9, 121, 1) 35%, rgba(115, 21, 129, 1) 100%);
  color: white;
  margin: -48px 0 0;
  padding: 75px 0px 20px;
  display: inline-block;
  width: 100%;

  .container {
    h1, h2, h3, h4, h5, h6, p {
      padding: 0;
      margin: 8px 0;
    }

    h1 {
      font-weight: 600;
      font-size: 2.5em;
    }

    .stats {
      font-size: 1.5em;
    }
  }
}

.badge {
  display: inline-block;
  padding: 5px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  border-radius: 3px;
}

textarea,
input[type]:not([type=file]):not([type=submit]) {
  border: 1px solid $gray-400;
  border-radius: 4px;
  box-shadow: 0 0 1px $gray-400;
  -moz-box-shadow: 0 0 1px $gray-400;
  -webkit-box-shadow: 0 0 1px $gray-400;
  transition: border linear 0.3s, box-shadow linear 0.3s;
}

textarea:focus,
input[type]:not([type=file]):not([type=submit]):focus {
  border-color: $primary;
  box-shadow: 0 0 5px $primary;
  -moz-box-shadow: 0 0 5px $primary;
  -webkit-box-shadow: 0 0 5px $primary;
  outline: 0;
}

.chaziz-body {
  background: url(/assets/chazizgrkb/background.png);
  background-size: cover;
  display: flex;
  align-items: center;
}

.chazizPage {
  .form-signin {
    max-width: 250px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .chazizgrkb {
    width: 250px;
    margin: 25px auto;
    display: block;
  }
}

.form-signin {
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 100%;
    box-sizing: border-box;
  }
}

.form-long {
  width: 100%;
  box-sizing: border-box;
}

.uploader-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.25em;
}

.search-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.25em;
  height: 100%;
}

.bi {
  display: inline-block;
  margin-top: -0.2em;
  vertical-align: middle;
}

#commentContents {
  width: 100%;
  box-sizing: border-box;
}

.watchNext {
  h1 {
    font-size: 19px;
  }

  .viewcount {
    color: $gray-850;
    font-weight: normal;
    margin-bottom: 4px;
  }

  .below-likesaber {
    margin-top: 16px;
    color: $gray-600;
  }
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}

.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 {
  border-radius: .5rem;
}

.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
}

.text-shadow-2 {
  text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
  text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#masthead-container {
  z-index: 47101;
  margin: 0;
  background-color: #fffffff0;
  padding: 7px;
  position: sticky;
  display: block;
  top: 0;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid lightgrey;
}

#masthead {
  width: 100%;
  position: relative;
  margin: auto;
  height: 33px;
  font-size: 13px;

  a {
    padding: 6px 10px;
    font-size: 13px;
    color: #333;
  }

  .button {
    margin: 0;
    padding: 0.65em 0;
  }

  #logo-container {
    float: left;
  }

  #logo {
    background-size: auto;
    height: 30px;
    border: 0;
  }

  .masthead-button {
    margin-top: 2px;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
  }

  .guide-button {
    float: left;
  }
}

#masthead-search {
  overflow: hidden;
  padding: 5px 4px;

  label {
    height: 100%;
    line-height: 30px;
    padding: 0;
    border: none;
    overflow: hidden;
  }

  #search-btn {
    height: 29px;
    float: right;
    border-radius: 0 3px 3px 0;

    span {
      margin: 0 12px;
    }
  }

  #masthead-search-terms {
    border-radius: 0;
    height: 29px;
    overflow: hidden;

    input {
      display: inline-block;
      width: 100%;
      padding: 2px 6px;
      margin: 0;
      font-size: 16px;
      box-sizing: border-box;
      height: 29px;
      border-radius: 3px 0 0 3px;
      border: 1px solid #e5e5e5;
      border-right: none;
    }
  }
}

#logo-container {
  float: left;
  height: 30px;
  padding: 3px !important;
}

#masthead-content {
  padding-left: 15px;
  padding-right: 20px;
  overflow: hidden;
}

#masthead-content #masthead-upload-button-group, .masthead-user {
  float: right;
  margin-top: 3px;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
}

#masthead-below {
  display: none;
}

.guide-channels-list {
  clear: both;
  max-height: 247px;
  padding: 0 0 3px;
  overflow: hidden;

  .guide-channel {
    position: relative;
    height: 26px;
    line-height: 26px;
  }
}

.guide-item {
  white-space: nowrap;
  line-height: 24px;
  height: 26px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: flex-start;
  align-items: center;

  .thumb {
    margin-right: 5px;
    margin-left: 4px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }
}

.guide-item:hover {
  background: #444 none;
  color: #fff;
}

#guide {
  position: fixed;
  left: 0;
  top: 47px;
  bottom: 0;
  width: $sidebarlength;
  background: $gray-100;
  overflow: clip;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
  }
}

.page {
  width: calc(100% - $sidebarlength);
  margin-left: auto;
}

/// "Likesaber" for watch page \\\
.likesaber {
  width: 200px;
  height: 3px;
  background-color: $gray-450;
  float: right;

  .like {
    float: left;
    height: 3px;
    background-color: $green;
  }
}

.subscribe-count {
  padding: 0 6px;
  border: 1px solid #ccc;
  color: #777;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}

.tab {
  overflow: hidden;
  margin-top: 4px;
  /* Style the buttons that are used to open the tab content */
  button {
    background-color: #0000; // BUG: IE USES SOME WEIRD BEIGE COLOR ON CLASSIC THEME
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 13px;
    transition: 0.3s;
    border-bottom: 3px solid #FFF0;
    font-weight: bold;
    color: #3336;
    font-size: 11px;
  }
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom-color: $gray-600;
  color: #333;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom-color: $primary;
  color: #333;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

#About {
  line-height: 17px;

  p {
    margin: 0;
  }

  .description-extra {
    margin: 10px 0;

    li {
      clear: both;
      margin-bottom: 5px;
      line-height: 1.2;
    }

    .title {
      float: left;
      margin: 0 10px 0 0;
      width: 80px;
      text-align: right;
      font-size: 11px;
      color: #333;
      font-weight: bold;
    }

    .content {
      color: #999;
      font-size: 11px;
    }
  }
}

.vid-info {
  .title {
    font-size: 13px;
    max-height: 2.4em;
    line-height: 1.2;
    display: block;
    margin: 0 0 2px;
    overflow: hidden;

    a {
      color: #333;
    }

    a:hover {
      color: #438bc5;
    }
  }

  .stat {
    color: #999;
    font-size: 11px;
    display: block;
    line-height: 1.4em;
    height: 1.4em;
  }

  .stat-larger {
    color: #666;
    font-size: 13px;
    display: block;
    line-height: 1.4em;
    height: 1.4em;
  }
}

.usermenushit {
  position: absolute;
  top: 100%;
  max-height: 80vh;
  z-index: 1000;
  width: 160px;
  overflow: hidden;
  background: #ffffff;
  right: 0px;
  text-align: left;

  ul {
    li {
      padding: 6px 0;

      a {
        width: 100%;
        display: block;
        padding: 0 10px !important;
      }
    }

    li:hover {
      background-color: lighten($primary, 45%);
    }
  }
}

.comment {
  p {
    width: 100%;
    margin: 0;
  }

  img {
    width: 100%;
  }
}

#myModal {
  display: none;
}

.user-action-container {
  a {
    text-decoration: none;
  }
}

.user-action-container:hover {
  background-color: #ffffff55;
}

.user-action {
  padding: 10px;
  font-size: 1.40em;
}

.statbox {
  text-align: center;
  font-size: 20px;
  border: 1px solid $gray-200;
  padding: 1em;
  margin: 0.1em;
  background-color: $gray-100;

  .stat-title {
    font-weight: bold;
  }
}

.small-stats {
  div {
    display: inline-block;
    margin-right: 1em;
  }
}

/// Gradients \\\
@import "_gradients";
/// Backgrounds \\\
@import "_backgrounds";
/// Forums \\\
@import "_style_forums";
/// Containers \\\
@import "_containers";
/// Images \\\
@import "_images";
/// Galleries \\\
@import "_galleries";
/// Cards \\\
@import "_cards";
/// Buttons \\\
@import "_buttons";
/// Navs \\\
@import "_navs";
/// Alerts \\\
@import "_header_message";
/// Text \\\
@import "_text";