/// Functions \\\
@import "_functions";
/// Normalize \\\
@import "_normalize";
/// Variables \\\
@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* SB CSS STARTS HERE ======================================================== */

html {
  height: 100%;
}

@import "_clearfix";
@import "_grid-breakpoints";

h1, h2, h3 {
  font-weight: 450;
}

h4, h5, h6 {
  font-weight: 400;
}

.clearfix {
  @include clearfix;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $gray-100;
  color: black;
  font-family: $font;
  font-size: 13px;
  margin: auto;
  width: 100%;
  font-weight: 500;
}

a:link,
a:visited {
  color: $primary;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration-line: underline;
}

p {
  line-height: 1.25em;
}

menu, ol, ul, li {
  list-style: none;
}

blockquote {
	color: #789922;
	margin: 0;
	p:before {
		content: ">";
	}
}

.footer {
  background-color: $gray-150;
  border-bottom: 1px solid $gray-250;
  border-top: 1px solid $gray-250;
  margin-top: 0;
  overflow: hidden;
  padding: 15px 40px;

  img {
    width: 125px;
  }
}

.profiler {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-200;
  border-top: 1px solid $gray-200;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.top_forum {
  min-width: 800px;
  background-color: black;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-top: 0;
  overflow: hidden;
  padding: 8px;
  height: 16px !important;

  ul.menu {
    line-height: 16px;
  }

  ul.menu a {
    color: white;
  }

  ul.menu a:hover {
    background-color: #515151;
  }
}

.top {
  height: 35px;
  border-top-width: 0;
}

.picon {
  width: 35px;
  height: 35px;
  float: left;
}

.t_user {
  color: #0000aa;
  font-weight: bold;
}

.dl {
  border-collapse: collapse;

  td {
    border: 1px solid black;
    padding: 7px;
  }
}

.noborder {
  border: 0;
}

.center {
  text-align: center;
}

// Pagination \\
.pagination {
	margin-top: 1em;
	font-size: 14pt;
	font-weight: bold;

	span {
		margin-left: 13px;
		display: inline-block;
	}
}

// Settings \\

.settings {
	width: 100%;
	border-collapse: collapse;

	.a {
		text-align: center;
		width: 200px;
	}

	td, th {
		border-bottom: 1px solid #bbb;
		padding: 10px 5px;
	}

	tr th {
		background-color: #fafafa;
		font-size: 12pt;
	}

	tr {
		&:nth-child(odd)  { background-color: #f5f5f5; }
		&:nth-child(even) { background-color: #e8e8e8; }
	}

	.fotnot {
		margin-top: 8px;
		font-size: 10.5pt;
	}
}

/// Generic text aligns \\\

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear_right {
  clear: right;
}

// opensb stuff

.main-content {
  background: rgb(0,26,36);
  background: linear-gradient(90deg, rgba(0,26,36,1) 0%, rgba(9,79,121,1) 35%, rgba(21,105,129,1) 100%);
  color: white;
  margin: -48px 0 0;
  padding: 75px 0px 20px;
  display: inline-block;
  width: 100%;

  .sb-welcome {
    text-align: center;
  }

  .container {
    h1, h2, h3, h4, h5, h6, p {
      padding: 0;
      margin: 8px 0;
    }

    h1 {
      font-weight: 600;
      font-size: 2.5em;
    }

    .stats {
      font-size: 1.5em;
    }
  }
}

textarea,
input[type]:not([type=file]):not([type=submit]) {
  border: 1px solid $gray-400;
  border-radius: 4px;
}

textarea:focus,
input[type]:not([type=file]):not([type=submit]):focus {
  border-color: $primary;
  outline: none;
}

.chaziz-body {
  background: #2B3644 url(/assets/placeholder/login_bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
}

.chazizPage {
  .form-signin {
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	width: 300px;
  }
}

.form-signin {
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 100%;
    box-sizing: border-box;
  }
}

.form-long {
  width: 100%;
  box-sizing: border-box;
}

.uploader-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.33em;
}

.search-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.25em;
  height: 100%;
}

.ti {
  display: inline-block;
  margin-top: -0.25em;
  vertical-align: middle;
}

#commentContents {
  width: 100%;
  box-sizing: border-box;
}

.watchNext {
  h1 {
    font-size: 19px;
  }

  .viewcount {
    color: $gray-850;
    font-weight: normal;
    margin-bottom: 4px;
  }

  .below-likesaber {
    margin-top: 16px;
    color: $gray-600;
  }
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#masthead-container {
  z-index: 10;
  margin: 0;
  background-color: #fffffff0;
  padding: 7px;
  position: sticky;
  display: block;
  top: 0;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid lightgrey;
}

#masthead {
  width: 100%;
  position: relative;
  margin: auto;
  height: 33px;
  font-size: 13px;

  a {
    padding: 6px 10px;
    font-size: 13px;
    color: #333;
  }

  .button {
    margin: 0;
    padding: 0.65em 0;
  }

  #logo-container {
    float: left;
  }

  #logo {
    background-size: auto;
    height: 30px;
    border: 0;
  }

  .masthead-button {
    margin-top: 2px;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
  }

  .guide-button {
    float: left;
  }
}

#masthead-search {
  overflow: hidden;
  padding: 3px;

  label {
    height: 100%;
    line-height: 30px;
    padding: 0;
    border: none;
    overflow: hidden;
  }

  #search-btn {
    height: 31px;
    float: right;
    border-radius: 0 3px 3px 0;

    span {
      margin: 0 12px;
    }
  }

  #masthead-search-terms {
    border-radius: 0;
    height: 31px;
    overflow: hidden;

    input {
      display: inline-block;
      width: 100%;
      padding: 2px 6px;
      margin: 0;
      font-size: 16px;
      box-sizing: border-box;
      height: 31px;
      border-radius: 3px 0 0 3px;
      border: 1px solid #e5e5e5;
      border-right: none;
    }
  }
}

.masthead-links-container {
	float: left;
	.masthead-links {
		display: table-cell;
		vertical-align: middle;
		height: 33px;
	}
}

#logo-container {
  float: left;
  height: 33px;
  padding: 3px !important;
}

.masthead-user {
  float: right;
}

#masthead-below {
  display: none;
}

.page {
  width: calc(100% - $sidebarlength);
  margin-left: auto;
}

/// "Likesaber" for watch page \\\
.likesaber {
  width: 200px;
  height: 3px;
  background-color: $gray-450;
  float: right;

  .like {
    float: left;
    height: 3px;
    background-color: $green;
  }
}

.subscribe-count {
  padding: 0 6px;
  border: 1px solid #ccc;
  color: #777;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  display: inline-block;
}

.tab {
  overflow: hidden;
  margin-top: 4px;
  /* Style the buttons that are used to open the tab content */
  button {
    background-color: #0000; // BUG: IE USES SOME WEIRD BEIGE COLOR ON CLASSIC THEME
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 13px;
    transition: 0.3s;
    border-bottom: 3px solid #FFF0;
    font-weight: bold;
    color: #3336;
    font-size: 11px;
  }
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom-color: $gray-600;
  color: #333;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom-color: $primary;
  color: #333;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

#About {
  line-height: 17px;

  p {
    margin: 0;
  }

  .description-extra {
    margin: 10px 0;

    li {
      clear: both;
      margin-bottom: 5px;
      line-height: 1.2;
    }

    .title {
      float: left;
      margin: 0 10px 0 0;
      width: 80px;
      text-align: right;
      font-size: 11px;
      color: #333;
      font-weight: bold;
    }

    .content {
      color: #999;
      font-size: 11px;
    }
  }
}

.vid-info {
  .title {
    font-size: 14px;
    max-height: 2.4em;
    line-height: 1.2;
    display: block;
    margin: 0 0 2px;
    overflow: hidden;

    a {
      color: #333;
    }

    a:hover {
      color: #438bc5;
    }
  }

  .stat {
    color: #666;
    font-size: 11px;
    display: block;
    line-height: 1.4em;
    height: 1.4em;
  }

  .stat-larger {
    color: #666;
    font-size: 13px;
    display: block;
    line-height: 1.4em;
    height: 1.4em;
  }
}

.usermenushit {
  position: absolute;
  top: 100%;
  max-height: 80vh;
  z-index: 1000;
  width: 160px;
  overflow: hidden;
  background: #ffffff;
  right: 0px;
  text-align: left;

  ul {
    li {
      padding: 6px 0;

      a {
        width: 100%;
        display: block;
        padding: 0 10px !important;
      }
    }

    li:hover {
      background-color: lighten($primary, 45%);
    }
  }
}

.comment {
  p {
    width: 100%;
    margin: 0;
  }

  img {
    width: 100%;
  }
}

#optionsModal, #debugModal {
  display: none;
}

.user-action-container {
  a {
    text-decoration: none;
  }
}

.user-action-container:hover {
  background-color: #ffffff55;
}

.user-action {
  padding: 10px;
  font-size: 1.40em;
}

.statbox {
  text-align: center;
  font-size: 3em;
  border: 1px solid $gray-150;
  padding: 0.5em;
  background-color: $gray-100;

  .stat-title {
    font-size: 0.5em;
    font-weight: semibold;
  }
}

.small-stats {
  div {
    display: inline-block;
    margin-right: 1em;
  }
}

.commentPost {
	margin-bottom: 17.5px;
	.time {
		font-size: .9em;
	}
}

#player-container {
	background-color: black;
	color: white;
	width: 100%;
	margin: 0;
}

/// Gradients \\\
@import "_gradients";
/// Backgrounds \\\
@import "_backgrounds";
/// Forums \\\
@import "_style_forums";
/// Containers \\\
@import "_containers";
/// Images \\\
@import "_images";
/// Cards \\\
@import "_cards";
/// Buttons \\\
@import "_buttons";
/// Navs \\\
@import "_navs";
/// Alerts \\\
@import "_header_message";
/// Text \\\
@import "_text";
/// Browser-specific fixes \\\
@import "_browser_shenanigans";