<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div>add links here or something idk</div>
            <div>Running <a href="/version">OpenSB Theseus</a></div>
            <span>© 2021-{{ 'now' | date('Y') }} OpenSB contributors.</span>
        </div>
    </div>
</footer>
