@import '../../biscuit/scss/biscuit/_normalize.scss';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &.ip-banned {
    margin: 1rem;
  }

  &.failwhale {
    display: flex;
    line-height: 1.5;
    background: #356283 radial-gradient(circle, #4685B1, #356283 100%);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;

    main {
      margin: auto;
      max-width: 800px;
      text-align: center;
      text-shadow: 0 2px 2px rgba(black, 0.333)
    }

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
    }
  }
}