{% extends "_layout.twig" %}

{% block title %}Reset Password{% endblock %}

	{% block content %}
<h2>{{ __("Reset Password") }}</h2>

<p>{{ __("Hello %s. Please choose a new secure password, and be sure to remember it!", [resetdata.name]) }}</p>

<form class="reglog" method="POST">
	<p>
		<span>{{ __("New Password:") }}</span>
		<input type="password" name="pass" size="25" maxlength="32">
	</p>
	<p>
		<span>{{ __("Repeat New Password:") }}</span>
		<input type="password" name="pass2" size="25" maxlength="32">
	</p>

	<p><input type="submit" class="submit" name="action" value="Submit"></p>
</form>
	{% endblock %}