/*!
 * OpenSB Biscuit "Test" theme
 * This is an example of a "theme" for the Biscuit skin.
 *
 * Unlike pre-"Orange" OpenSB's Finalium 1 frontend, where CSS
 * for themes would be overlaid on top of the base theme (I think?).
 * Biscuit themes are going to be a lot more "flexible".
 */

@import 'shared/base_variables';

// now import the basic biscuit stuff
@import 'shared/imports';

.header {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.footer {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid gray;
}

.banner {
  text-align: center;
  padding: 5px;
}

@each $color, $value in $color-map {
  .banner-test-#{$color} {
    border: 1px solid $value;
  }
}