<div class="grid" id="commentField">
    <div class="col-md-16">
        <div>
            <textarea class="form-control" id="commentContents" style="overflow:hidden;resize:vertical" rows="3"
                        placeholder="Write your comment here."></textarea>
        </div>
        <div class="right">
            <button id="post" class="button button-primary"
                    style="margin-bottom:0;">Comment</button>
        </div>
    </div>
</div>