{% for video in videos %}
    {{ submission_box(video) }}
{% endfor %}
<div class="center">
    <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
        More
    </div>
</div>