{% if user_data.id == video.author %}<a
    class="button button-secondary button-small"
    href="/edit?v={{ video.video_id }}">Modify submission</a>
{% else %}
    <button id="subscribe-watch"
            class="button button-{% if subscribed %}secondary{% else %}primary{% endif %} button-small"
            type="button"
            {% if not log or user_data.id == video.author %}disabled{% endif %}>{% if subscribed %}Unfollow{% else %}Follow{% endif %}</button>
{% endif %}