[submodule "private/icons"]
	path = private/icons
	url = https://github.com/carrevue/icons.git
[submodule "private/skins/trinium/scss"]
	path = private/skins/trinium/scss
	url = https://github.com/carrevue/trinium.git