{% extends "_layout.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                {% for content in artData|batch(3) %}
                <div class="tile">
                    {% for art in content %}
                    <div class="tile is-4">
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-primary">
                                <figure class="image mb-2">
                                    <img src="{{ art.videofile }}">
                                </figure>
                                <p class="title">{{ art.title }}</p>
                                <p class="subtitle">By {{ art.u_name }}</p>
                            </article>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                Nope, there's nothing.
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}