<!-- don't you love it when you're on e621 just for checking how they did their header? -grkb February 4th 2022 (happy late-birthday to PokTube!) -->
<header id="top">
	<nav id="nav">
		<menu class="main">
			<li>
				<a href="index.php">cheeseRox</a>
			</li>
			<li>
				<a href="browse.php">Posts</a>
			</li>
			<li>
				<a href="users.php">Users</a>
			</li>
			<li>
				<a href="upload_start.php">Upload</a>
			</li>
		</menu>
	</nav>
</header>
