<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<video
        id="sb-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        data-setup="{}"
>
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
        >
    </p>
</video>
<script>
    var player = videojs('sb-video', {
        sourceOrder: true,
        retryOnError: true,
        aspectRatio: "16:9",
        fluid: true,
        autoplay: false,
        preload: "auto"
    });

    {% if is_qobo %}
    player.src([{
        src: '{{ submission.file }}',
        type: 'application/x-mpegURL'
    }]);
    {% else %}
    player.src([{
        src: '/dynamic/videos/{{ submission.id }}.converted.mp4',
        type: 'video/mp4'
    }]);
    {% endif %}
</script>