<div class="comment-text" dir="ltr">
    {% apply markdown_to_html %}
			{{ data.comment | raw }}
		{% endapply %}
</div>
<p class="metadata">
          <span class="author ">
                <a href="user.php?name={{ data.u_username }}" class="yt-user-name " dir="ltr">{{ userlink(data, 'u_') }}</a>
          </span>
    <span class="time">
        {{ data.date | relative_time}}
    </span>
</p>