<!DOCTYPE html>
<html dir="ltr" lang="en">
   <head>
      <script id="scriptload-1485346898" src="//web.archive.org/web/20120118121554/http://s.ytimg.com/yt/jsbin/www-searchbox-vfl2KVBpp.js" data-loaded="true"></script><script src="//archive.org/includes/analytics.js?v=cf34f82" type="text/javascript"></script>
      <script type="text/javascript" src="/_static/js/bundle-playback.js?v=UfTkgsKx" charset="utf-8"></script>
      <script type="text/javascript" src="/_static/js/wombat.js?v=UHAOicsW" charset="utf-8"></script>
      <link rel="stylesheet" type="text/css" href="/_static/css/banner-styles.css?v=omkqRugM">
      <link rel="stylesheet" type="text/css" href="/_static/css/iconochive.css?v=qtvMKcIJ">
      <script>
         var yt = yt || {};yt.timing = yt.timing || {};yt.timing.tick = function(label, opt_time) {var timer = yt.timing['timer'] || {};if(opt_time) {timer[label] = opt_time;}else {timer[label] = new Date().getTime();}yt.timing['timer'] = timer;};yt.timing.info = function(label, value) {var info_args = yt.timing['info_args'] || {};info_args[label] = value;yt.timing['info_args'] = info_args;};yt.timing.tick('start');yt.timing.info('li','0');try {yt.timing['srt'] = window.gtbExternal && window.gtbExternal.pageT() ||window.external && window.external.pageT;} catch(e) {}if (window.chrome && window.chrome.csi) {yt.timing['srt'] = Math.floor(window.chrome.csi().pageT);}if (window.msPerformance && window.msPerformance.timing) {yt.timing['srt'] = window.msPerformance.timing.responseStart - window.msPerformance.timing.navigationStart;}    
      </script>
      <title>
         CleberTube - Fuck you.
      </title>
      <link rel="search" type="application/opensearchdescription+xml" href="https://web.archive.org/web/20120118121554/http://www.youtube.com/opensearch?locale=en_US" title="YouTube Video Search">
      <link rel="icon" href="https://web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/favicon-refresh-vfldLzJxy.ico" type="image/x-icon">
      <link rel="shortcut icon" href="https://web.archive.org/web/20120118121554im_/http://s.ytimg.com/yt/favicon-refresh-vfldLzJxy.ico" type="image/x-icon">
      <link rel="alternate" media="handheld" href="https://web.archive.org/web/20120118121554/http://m.youtube.com/index?desktop_uri=%2F&amp;gl=US">
      <meta name="description" content="Share your videos with friends, family, and the world">
      <meta name="keywords" content="video, sharing, camera phone, video phone, free, upload">
      <link id="www-core-css" rel="stylesheet" href="/assets/2012/css/www-refresh-vflq1V-TH.css">
      <style>
         #outage-box {
         display: none;
         }
      </style>
      <link rel="stylesheet" href="/assets/2012/css/www-guide-vfl4MukmA.css">
      <script id="www-core-js" src="//web.archive.org/web/20120118121554js_/http://s.ytimg.com/yt/jsbin/www-core-vflwwszXl.js"></script>
      <script>
         yt.setConfig({
         'XSRF_TOKEN': 'TtLcnNITKkBecOkz5Lz-rzyuuvt8MTMyNjk3NTM1NEAxMzI2ODg4OTU0',
         'XSRF_FIELD_NAME': 'session_token'
         });
         yt.pubsub.subscribe('init', yt.www.xsrf.populateSessionToken);
         
         yt.setConfig('XSRF_REDIRECT_TOKEN', 'NZqBkR-7X1bAFzwHfTViv7JtZh98MTMyNjk3NTM1NUAxMzI2ODg4OTU1');
         
         yt.setConfig('LOGGED_IN', false);
         yt.setConfig('SESSION_INDEX', null);
         
         yt.setConfig('FEEDBACK_LOCALE_LANGUAGE', "en");
         yt.setConfig('FEEDBACK_LOCALE_EXTRAS', {"experiments": "", "accept_language": null});
      </script>
      <script src="//web.archive.org/web/20120118121554js_/http://s.ytimg.com/yt/jsbin/www-guide-vflWpevZ9.js"></script>
      <script>
         window.masthead = new yt.www.ads.MastheadAd(1,
             "cKnMIqjcLMg",
             true);
         
         yt.setConfig('PYV_IS_ALLOWED', true);
         yt.setConfig('PYV_AD_CHANNEL', "pyv-top-right-homepage pyv-top-right-homepage-us logged-out");
         
         yt.pubsub.subscribe('init', yt.www.guide.init);
         
      </script>
      <script>
         if (window.yt.timing) {
           yt.timing.tick('ct');
         }
      </script>
      <style type="text/css">table.gsc_a, table.gsc_a td{border:0;padding:0}.gsc_b{background: url("//web.archive.org/web/20120118195915/http://www.google.com/images/experiments/wavy-underline.png") repeat-x scroll 0 100% transparent;color:#fff;display:inline-block;line-height:1.05em;padding:0 0 3px}.gssb_c{border:0;position:absolute;z-index:989}.gssb_d{border:0;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;cursor:default}.gssb_e{color:#000;border-top:1px solid #a2bff0;border-right:1px solid #558be3;border-bottom:1px solid #558be3;border-left:1px solid #a2bff0;background:#fff;width:100%}.gssb_f{visibility:hidden;white-space:nowrap}.gssb_k{border:0;display:block;position:absolute;top:0;z-index:988}.gsib_a{width:100%;vertical-align:middle;padding:4px 5px 0}.gsib_d div{width:7px}.gsib_e div{width:3px}.gsib_f div{width:1px}.gsib_g{padding-top:4px}.gssb_a{padding:0 7px}.gssb_a,.gssb_a td{white-space:nowrap;overflow:hidden;line-height:22px}#gssb_b{font-size:11px;color:#36c;text-decoration:none}#gssb_b:hover{font-size:11px;color:#36c;text-decoration:underline}.gssb_m{color:#000;background:#fff}.gssb_g{text-align:center;padding:8px 0 7px;position:relative}.gssb_h{font-size:15px;height:28px;margin:0.2em}.gssb_i{background:#d5e2ff}.gss_ifl{visibility:hidden;padding-left:5px}.gssb_i .gss_ifl{visibility:visible}a.gssb_j{font-size:13px;color:#36c;text-decoration:none;line-height:100%}a.gssb_j:hover{text-decoration:underline}.gssb_l{height:1px;background-color:#e5e5e5}.gscl_a{font-size:10px;color:#03c;text-decoration:underline;white-space:nowrap}.gsq_a{padding:0}.gsok_a{cursor:pointer;padding:0 3px}.gsfi{font-size:12px}.gsfs{font-size:13px}.gssb_a,.gssb_a td{line-height:17px}.gssb_a{padding:0 6px 0 7px}.gssb_c{z-index:3000001}.gssb_i td{background:#36c;color:#fff}.gssb_k{z-index:3000000}.gssb_d{border:0}</style>
   </head>
   <body id="" class="date-20120118 en_US ltr thumb-normal" dir="ltr">
      <form name="logoutForm" method="POST" action="/web/20120118121554/http://www.youtube.com/">
         <input type="hidden" name="action_logout" value="1">
         <input name="session_token" type="hidden" value="TtLcnNITKkBecOkz5Lz-rzyuuvt8MTMyNjk3NTM1NEAxMzI2ODg4OTU0">
      </form>
      <script>
         yt.setConfig('TIMING_ACTION', 'glo');
      </script>
      {% block content %}{% endblock %}
      <script>
         yt.setMsg({
           'LIST_CLEARED': "List cleared",
           'PLAYLIST_VIDEO_DELETED': "Video deleted.",
           'ERROR_OCCURRED': "Sorry, an error occurred.",
           'NEXT_VIDEO_TOOLTIP': "Next video:\u003cbr\u003e \u0026#8220;${next_video_title}\u0026#8221;",
           'NEXT_VIDEO_NOTHUMB_TOOLTIP': "Next video",
           'SHOW_PLAYLIST_TOOLTIP': "Show playlist",
           'HIDE_PLAYLIST_TOOLTIP': "Hide playlist",
           'AUTOPLAY_ON_TOOLTIP': "Turn autoplay off",
           'AUTOPLAY_OFF_TOOLTIP': "Turn autoplay on",
           'SHUFFLE_ON_TOOLTIP': "Turn shuffle off",
           'SHUFFLE_OFF_TOOLTIP': "Turn shuffle on",
           'PLAYLIST_BAR_PLAYLIST_SAVED': "Playlist saved!",
           'PLAYLIST_BAR_ADDED_TO_FAVORITES': "Added to favorites",
           'PLAYLIST_BAR_ADDED_TO_PLAYLIST': "Added to playlist",
           'PLAYLIST_BAR_ADDED_TO_QUEUE': "Added to queue",
           'AUTOPLAY_WARNING1': "Next video starts in 1 second...",
           'AUTOPLAY_WARNING2': "Next video starts in 2 seconds...",
           'AUTOPLAY_WARNING3': "Next video starts in 3 seconds...",
           'AUTOPLAY_WARNING4': "Next video starts in 4 seconds...",
           'AUTOPLAY_WARNING5': "Next video starts in 5 seconds...",
           'UNDO_LINK': "Undo"  });
         
         
         yt.setConfig({
           'DRAGDROP_BINARY_URL': "\/\/web.archive.org\/web\/20120118121554\/http:\/\/s.ytimg.com\/yt\/jsbin\/www-dragdrop-vflxhUgrL.js",
           'PLAYLIST_BAR_PLAYING_INDEX': -1,
           'LIST_COPY_ON_EDIT_ENABLED': false  });
         
           yt.net.ajax.setToken('addto_ajax_logged_out', "fCGdQIbvJY32S7_e6U23sZUT9t18MEAxMzI2ODg4OTU1");
         
           yt.pubsub.subscribe('init', yt.www.lists.init);
         
         
         
         
         
               yt.www.thumbnaildelayload.init(300);
         
         
         
         
             yt.events.listen(_gel('masthead-search-term'), 'focus', yt.www.home.ads.workaroundReset);
         
         
             yt.pubsub.subscribe('init', function() {
               yt.net.scriptloader.load("\/\/web.archive.org\/web\/20120118121554\/http:\/\/s.ytimg.com\/yt\/jsbin\/www-searchbox-vfl2KVBpp.js", function() {
                 
             if (_gel('masthead-search')) {
                 yt.setTimeout(function() {
                   searchbox.yt.install(_gel('masthead-search'),
                       _gel('masthead-search')["search_query"],
                       "en",
                       "us",
                       "close",
                       false,
                       '',
                       '',
                       -1,
                       null);
                 }, 100);
             }
         
               });
             });
         
         
         
      </script>