{% extends "_layout.twig" %}

{% block title %}{{ localize('browse') }}{% endblock %}

	{% block content %}
        <div class="row">
            <div class="col">
                <h3>{{ localize('browse') }} uploads</h3>
                <div class="card-body">
                    {% for video in data.uploads|batch(4) %}
                        <div class="row">
                            {% for submission in video %}
                                <div class="col-3">
                                    {{ include('/components/browsevideobox.twig') }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No uploads.</p>
                    {% endfor %}
                    {{ pagination(pageCount, 20, currentPage, url) }}
                </div>
            </div>
        </div>
    {% endblock %}