{% extends "_layout.twig" %}

{% block title %}Reset Password{% endblock %}

	{% block content %}
        {% if error %}
            <div class="alert alert-warning" role="alert">{{ error }}</div>
        {% endif %}
        <h3>Reset Password</h3>

        <p>Hello %s. Please choose a new secure password, and be sure to remember it!", [resetdata.username]) }}</p>

        <form method="POST">
            <div class="form-floating">
                <input type="password" name="pass" class="form-control" id="floatingPass" placeholder="">
                <label for="floatingPass">{{ icon('key-fill', 24) }} Password
                </label>
            </div>
            <div class="form-floating">
                <input type="password" name="pass2" class="form-control" id="floatingPass2" placeholder="">
                <label for="floatingPass2">{{ icon('key-fill', 24) }} Password (Again)
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" name="action" class="btn btn-primary">Submit
            </button>
        </form>
    {% endblock %}