{% extends "_layout.twig" %}

{% block title %}Upload{% endblock %}

	{% block content %}
        <div class="row">
            <h3>Upload</h3>
            <p>
                Make sure you have read the <a href="/guidelines">guidelines</a> first. Failure to comply
                with the guidelines will result in a swift termination of your account(s).
            </p>
            <form name="uploadForm" id="uploadForm" method="post" action="upload"
                  enctype="multipart/form-data">
                <br>

                <h4>Details</h4>
                <p>Enter the title and description of your submission.</p>

                <input type="text" class="form-control mb-1" name="title" value="" placeholder="Title" required>
                <textarea class="form-control mb-1" name="desc" maxlength="65500" form="uploadForm"
                          style="overflow:hidden;resize:none" rows="3" placeholder="Description"></textarea>
                <input type="text" class="form-control" name="tags" value="" placeholder="Tags" required>
                <br>
                <h4>File</h4>
                <p>Select the file you want to upload.</p>
                <input class="form-control" type="file" name="fileToUpload" id="fileToUpload" required>
                <br>

                <div class="text-end">
                    <input class="btn btn-primary" type="submit" id="upload" name="upload"
                           value="Upload">
                </div>
            </form>
        </div>
    {% endblock %}
