{% extends "_layout.twig" %}

{% block title %}Write a Forum Thread{% endblock %}

	{% block content %}
        <div class="row">
            <div class="alert alert-primary">As you can tell, this page is not complete</div>
            <h3>Write a Forum Thread (PLACEHOLDER PAGE)</h3>
            <div class="col-8">
                <form name="uploadForm" id="uploadForm" method="post" action="write"
                      enctype="multipart/form-data">
                    <br>

                    <div class="row">
                        <div class="col-auto pe-0">
                            {{ icon('text-left', 24) }}
                        </div>
                        <div class="col-auto">
                            <h4>Your post</h4>
                        </div>
                    </div>
                    <p>Write whatever you want to post on the Qobo Forums</p>

                    <input type="text" class="form-control mb-1" name="title" value="" placeholder="Thread's title">
                    <textarea class="form-control mb-1" name="desc" maxlength="2000" form="uploadForm"
                              style="overflow:hidden;resize:none" rows="6" placeholder="Thread's contents"></textarea>
                    <br>
            </div>
            <div class="col-4">
                <div class="card">
                    <h5 class="card-header">placeholder</h5>
                    <div class="card-body">
                        <p class="card-text">This is a reshell of the uploader page, just fucking design some better
                            later on. -gamerappa july 30th 2021</p>
                    </div>
                </div>
            </div>

            <div class="text-end">
                <input class="btn btn-primary" type="submit" id="upload" name="upload"
                       value="Post Thread">
            </div>
            </form>
        </div>
    {% endblock %}
