{% extends "_layout.twig" %}
{% block content %}
<div id="content">
   <div id="watch-container" itemscope="" itemtype="//schema.org/VideoObject">
      <!-- begin watch-headline-container -->
      <div id="watch-headline-container">
         <div id="watch-headline" class="watch-headline">
            <div id="watch-longform-ad" style="display:none;">
               <div id="watch-longform-text" style="visibility:hidden">
                  Advertisement
               </div>
               <div id="watch-longform-ad-placeholder">
                  <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" width="300" height="60">
               </div>
               <div id="instream_google_companion_ad_div"></div>
            </div>
            <div id="watch-owner-container">
               <div id="masthead-subnav" class="yt-nav yt-nav-dark ">
                  <ul class="yt-nav-aside">
                     <li>
                        <a href="/my_videos" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav  yt-uix-button-dark" data-sessionlink="ei=CMCA1_3robMCFSrJRAodqnnxKQ%3D%3D"><span class="yt-uix-button-content">Video Manager</span></a>
                     </li>
                  </ul>
                  <ul>
                     <li>
                        <a href="/edit_video?id=gAuLL0qpIKM" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav yt-uix-button-dark" data-sessionlink="ei=CMCA1_3robMCFSrJRAodqnnxKQ%3D%3D"><span class="yt-uix-button-content">Edit</span></a>
                     </li>
                     <li>
                        <a href="/get/delete_video?id=gAuLL0qpIKM" class="yt-uix-button yt-uix-sessionlink yt-uix-button-subnav  yt-uix-button-dark" data-sessionlink="ei=CMCA1_3robMCFSrJRAodqnnxKQ%3D%3D"><span class="yt-uix-button-content">Delete Video</span></a>
                     </li>
                  </ul>
               </div>
            </div>
            <br>
            <h1 id="watch-headline-title">
               <span id="eow-title" class="long-title " dir="ltr" title="dead channel lmao">
               dead channel lmao									</span>
            </h1>
            <div id="watch-headline-user-info">
               <button style="margin-right: -5px;" href="/user/bluey2000k" type="button" class="start yt-uix-button yt-uix-button-default" onclick=";window.location.href=this.getAttribute('href');return false;" role="button">
               <span class="yt-uix-button-content">bluey2000k</span>
               </button>
               <div class="yt-subscription-button-hovercard yt-uix-hovercard">
                  <span class="yt-uix-button-context-light yt-uix-button-subscription-container">
                  <button onclick=";subscribe();return false;" title="" id="subscribe-button" type="button" class="yt-subscription-button  yt-uix-button yt-uix-button-subscription yt-uix-tooltip" role="button">
                  <span class="yt-uix-button-icon-wrapper">
                  <img class="yt-uix-button-icon yt-uix-button-icon-subscribe" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                  <span class="yt-valign-trick"></span>
                  </span>
                  <span class="yt-uix-button-content">
                  <span class="subscribe-label">Subscribe</span>
                  <span class="subscribed-label">Subscribed</span>
                  <span class="unsubscribe-label">Unsubscribe</span>
                  </span>
                  </button>
                  <span class="yt-subscription-button-disabled-mask"></span></span>
                  <div class="yt-uix-hovercard-content hid">
                     <p class="loading-spinner">
                        <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="">
                        Loading...
                     </p>
                  </div>
               </div>
               <button onclick="_toggleclass(this,'yt-uix-expander-collapsed');return false;" type="button" id="watch-mfu-button" class="yt-uix-expander-collapsed yt-uix-button yt-uix-button-default" data-button-toggle="true" data-video-user-id="bluey2000k" data-button-menu-id="some-nonexistent-menu" data-video-id="gAuLL0qpIKM" data-button-action="yt.www.watch.watch5.handleToggleMoreFromUser" role="button"><span class="yt-uix-button-content">2 videos </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt=""></button>
            </div>
            <div id="watch-more-from-user" class="collapsed">
               <div id="watch-channel-discoverbox" class="yt-rounded">
                  <p class="yt-spinner">
                     <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="">
                     Loading...
                  </p>
               </div>
            </div>
         </div>
      </div>
      <!-- end watch-headline-container -->
      <div id="watch-video-container">
	  {{ include('/components/player_2012.twig') }}
         <div id="watch-video" class="">
            <!-- begin watch-video-extra -->
            <div id="watch-video-extra">
            </div>
            <!-- end watch-video-extra -->
         </div>
      </div>
      <!-- begin watch-main-container -->
      <div id="watch-main-container">
         <div id="watch-main">
            <div id="watch-panel">
               <div class="yt-alert yt-alert-default yt-alert-warn hid " id="flash10-promo-div">
                  <div class="yt-alert-icon">
                     <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
                  </div>
                  <div class="yt-alert-buttons">  <button type="button" class="close yt-uix-close yt-uix-button yt-uix-button-close" onclick=";return false;" data-close-parent-class="yt-alert" role="button"><span class="yt-uix-button-content">Close </span></button></div>
                  <div class="yt-alert-content" role="alert">
                     <span class="yt-alert-vertical-trick"></span>
                     <div class="yt-alert-message">
                        Upgrade to the latest Flash Player for improved playback performance. <a href="//www.adobe.com/go/getflashplayer/" onmousedown="urchinTracker('/Events/VideoWatch/GetFlashUpgrade');">Upgrade now</a> or <a href="//support.google.com/youtube/bin/answer.py?answer=95402">more info</a>.
                     </div>
                  </div>
               </div>
               <div id="watch-actions">
                  <div id="watch-actions-right">
                     <span class="watch-view-count">
                     <strong>2</strong>
                     </span>
                     <button onclick=";return false;" title="Show video statistics" type="button" id="watch-insight-button" class="yt-uix-tooltip yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" data-button-action="yt.www.watch.actions.stats" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-insight" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="Show video statistics"><span class="yt-valign-trick"></span></span></button>
                  </div>
                  <span id="watch-like-unlike" class="yt-uix-button-group " data-button-toggle-group="optional">
                  <button onclick=";window.location.href=this.getAttribute('href');return false;" href="/get/like_video?v=gAuLL0qpIKM" title="I like this" type="button" class="start liked yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip" id="watch-like" role="button"><span class="yt-uix-button-icon-wrapper">
                  <img class="yt-uix-button-icon yt-uix-button-icon-watch-like" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="I like this">
                  <span class="yt-valign-trick"></span></span><span class="yt-uix-button-content">Like </span>
                  </button>
                  <button onclick=";window.location.href=this.getAttribute('href');return false;" href="/get/dislike_video?v=gAuLL0qpIKM" title="I dislike this" type="button" style="margin-left: -2px;" class="end yt-uix-tooltip-reverse   yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="watch-unlike" role="button">
                  <span class="yt-uix-button-icon-wrapper">
                  <img class="yt-uix-button-icon yt-uix-button-icon-watch-unlike" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="I dislike this">
                  <span class="yt-valign-trick"></span>
                  </span>
                  </button></span>
                  <button type="button" class="yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip" onclick=";return false;" title="Add to favorites or playlist" data-upsell="playlist" data-button-action="yt.www.watch.actions.addto" role="button"><span class="yt-uix-button-content"><span class="addto-label">Add to</span> </span></button>
                  <button onclick=";return false;" title="Share or embed this video" type="button" class="yt-uix-tooltip-reverse yt-uix-button yt-uix-button-default yt-uix-tooltip" id="watch-share" data-button-action="yt.www.watch.actions.share" role="button"><span class="yt-uix-button-content">Share </span></button>
                  <button onclick=";window.location.href=this.getAttribute('href');return false;" href="/report?v=gAuLL0qpIKM" title="Flag as inappropriate" type="button" class="yt-uix-tooltip-reverse  yt-uix-button yt-uix-button-default yt-uix-tooltip yt-uix-button-empty" id="watch-flag" data-button-action="yt.www.watch.actions.flag" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-watch-flag" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="Flag as inappropriate"><span class="yt-valign-trick"></span></span></button>
               </div>
               <div id="watch-actions-area-container" class="hid">
                  <div id="watch-actions-area" class="yt-rounded">
                     <div id="watch-actions-loading" class="watch-actions-panel hid">
                        <div class="comments-disabled-message">
                           <span>Analytics are not available for this video.</span>
                        </div>
                     </div>
                     <div id="watch-actions-logged-out" class="watch-actions-panel hid">
                        <h3>Be friends with the creator</h3>
                        <img style="width: 50px;height:50px;" src="/dynamic/pfp/default.png">
                        <span style="display: inline-block; vertical-align:top;width: 100px;font-size:11px;">
                        This is you.
                        </span><br><br>
                        You can't friend yourself.
                        <hr>
                        <br>
                        <h3>Add to Favorites</h3>
                        <a href="/get/favorite?v=gAuLL0qpIKM">Favorite Video</a>
                        <hr>
                        <br>
                        <h3>Add to a Playlist</h3>
                     </div>
                     <div id="watch-actions-error" class="watch-actions-panel hid">
                        kick push coast
                     </div>
                     <div id="watch-actions-addto" class="watch-actions-panel hid"></div>
                     <div id="watch-actions-share" class="watch-actions-panel hid">
                        <div id="watch-actions-share-loading">
                           <div class="share-panel">
                              <div class="share-option-container ytg-box">
                                 <div class="share-panel-url-container">
                                    <span class=" yt-uix-form-input-container "><input class="yt-uix-form-input-text share-panel-url" name="share_url" value="http://subrock.rocks/watch?v=gAuLL0qpIKM" data-video-id="gAuLL0qpIKM"></span>
                                    <div class="share-panel-url-options yt-uix-expander yt-uix-expander-collapsed">
                                       <div class="yt-uix-expander-head">
                                          <a class="share-panel-show-url-options">
                                          <span class="collapsed-message">
                                          Options
                                          <img class="arrow" src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="">
                                          </span> 
                                          <span class="expanded-message">
                                          Close
                                          <img class="arrow" src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="">
                                          </span>
                                          </a>
                                       </div>
                                       <ul class="yt-uix-expander-body share-options">
                                          <li>
                                             <label>
                                             <input class="share-panel-start-at" type="checkbox">
                                             Start at:
                                             </label>
                                             <input type="text" value="0:00" class="yt-uix-form-input-text share-panel-start-at-time">
                                          </li>
                                          <li>
                                             <label>
                                             <input class="share-panel-long-url" type="checkbox">
                                             Long link
                                             </label>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="share-panel-buttons yt-uix-expander yt-uix-expander-collapsed">
                                    <span class="share-panel-main-buttons">
                                    <button type="button" class="share-panel-embed yt-uix-button yt-uix-button-default" onclick=";return false;" role="button"><span class="yt-uix-button-content">Embed </span></button><button type="button" class="share-panel-email yt-uix-button yt-uix-button-default" onclick=";return false;" role="button"><span class="yt-uix-button-content">Email </span></button>    </span>
                                 </div>
                                 <div class="share-panel-services yt-uix-expander yt-uix-expander-collapsed clearfix" style="display: none;">
                                    <ul class="share-group ytg-box">
                                       <li>
                                          <button onclick="yt.tracking.shareVideo(&quot;FACEBOOK&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.facebook.com\/sharer.php?u=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare\u0026t=intro+to+RUCA&quot;, {'height': 440,'width': 620,'scrollbars': true});return false;" data-service-name="FACEBOOK" title="Share to Facebook" class="yt-uix-tooltip share-service-button">
                                          <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="Facebook" class="share-service-icon share-service-icon-facebook">
                                          <span>Facebook</span>
                                          </button>
                                       </li>
                                       <li>
                                          <button onclick="yt.tracking.shareVideo(&quot;TWITTER&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/twitter.com\/share?url=http%3A%2F%2Fyoutu.be%2FngzCpd94AwA\u0026text=intro+to+RUCA%3A\u0026via=youtube&quot;, {'height': 650,'width': 1024,'scrollbars': true});return false;" data-service-name="TWITTER" title="Share to Twitter" class="yt-uix-tooltip share-service-button" data-tooltip-text="Share to Twitter">
                                          <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="Twitter" class="share-service-icon share-service-icon-twitter">
                                          <span>Twitter</span>
                                          </button>
                                       </li>
                                       <li>
                                          <button onclick="yt.tracking.shareVideo(&quot;GOOGLEPLUS&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;https:\/\/plus.google.com\/u\/0\/share?url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare\u0026source=yt&quot;, {'height': 620,'width': 620,'scrollbars': true});return false;" data-service-name="GOOGLEPLUS" title="Share to Google+" class="yt-uix-tooltip share-service-button" data-tooltip-text="Share to Google+">
                                          <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="Google+" class="share-service-icon share-service-icon-googleplus">
                                          <span>Google+</span>
                                          </button>
                                       </li>
                                    </ul>
                                    <div class="yt-uix-expander-head">
                                       <a class="share-panel-show-more">
                                       <span class="collapsed-message">
                                       More
                                       <img class="arrow" src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="">
                                       </span>
                                       <span class="expanded-message">
                                       Less
                                       <img class="arrow" src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="">
                                       </span>
                                       </a>
                                    </div>
                                    <div class="yt-uix-expander-body share-options-secondary">
                                       <div class="secondary">
                                          <div class="share-groups">
                                             <ul>
                                                <li>
                                                   <button onclick="yt.tracking.shareVideo(&quot;ORKUT&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.orkut.com\/FavoriteVideos.aspx?u=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare&quot;, {'height': 650,'width': 1024,'scrollbars': true});return false;" data-service-name="ORKUT" class="share-service-button">
                                                   <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="orkut" class="share-service-icon share-service-icon-orkut">
                                                   <span>orkut</span>
                                                   </button>
                                                   <span>orkut</span>
                                                </li>
                                                <li>
                                                   <button onclick="yt.tracking.shareVideo(&quot;TUMBLR&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.tumblr.com\/share?v=3\u0026u=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare&quot;, {'height': 650,'width': 1024,'scrollbars': true});return false;" data-service-name="TUMBLR" class="share-service-button">
                                                   <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="tumblr." class="share-service-icon share-service-icon-tumblr">
                                                   <span>tumblr.</span>
                                                   </button>
                                                   <span>tumblr.</span>
                                                </li>
                                                <li>
                                                   <button onclick="yt.tracking.shareVideo(&quot;BLOGGER&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.blogger.com\/blog-this.g?n=intro+to+RUCA\u0026source=youtube\u0026b=%3Ciframe+width%3D%22480%22+height%3D%22270%22+src%3D%22http%3A%2F%2Fwww.youtube.com%2Fembed%2FngzCpd94AwA%3Ffs%3D1%22+frameborder%3D%220%22+allowfullscreen%3E%3C%2Fiframe%3E\u0026eurl=http%3A%2F%2Fi3.ytimg.com%2Fvi%2FngzCpd94AwA%2Fhqdefault.jpg&quot;, {'height': 468,'width': 768,'scrollbars': true});return false;" data-service-name="BLOGGER" class="share-service-button">
                                                   <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="Blogger" class="share-service-icon share-service-icon-blogger">
                                                   <span>Blogger</span>
                                                   </button>
                                                   <span>Blogger</span>
                                                </li>
                                                <li>
                                                   <button onclick="yt.tracking.shareVideo(&quot;MYSPACE&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.myspace.com\/Modules\/PostTo\/Pages\/?t=intro+to+RUCA\u0026u=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare\u0026l=1&quot;, {'height': 650,'width': 1024,'scrollbars': true});return false;" data-service-name="MYSPACE" class="share-service-button">
                                                   <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="Myspace" class="share-service-icon share-service-icon-myspace">
                                                   <span>Myspace</span>
                                                   </button>
                                                   <span>Myspace</span>
                                                </li>
                                             </ul>
                                             <ul>
                                                <li>
                                                   <button onclick="yt.tracking.shareVideo(&quot;HI5&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.hi5.com\/friend\/checkViewedVideo.do?t=intro+to+RUCA\u0026url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare\u0026embeddable=true\u0026simple=true&quot;, {'height': 475,'width': 800,'scrollbars': true});return false;" data-service-name="HI5" class="share-service-button">
                                                   <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="hi5" class="share-service-icon share-service-icon-hi5">
                                                   <span>hi5</span>
                                                   </button>
                                                   <span>hi5</span>
                                                </li>
                                                <li>
                                                   <button onclick="yt.tracking.shareVideo(&quot;LINKEDIN&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.linkedin.com\/shareArticle?url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare\u0026title=intro+to+RUCA\u0026summary=intro+to+RUCA%2C+a+computer+game+that+I+will+be+releasing+online+this+june+at+www.cecilyismyruca.com\u0026source=Youtube&quot;, {'height': 650,'width': 1024,'scrollbars': true});return false;" data-service-name="LINKEDIN" class="share-service-button">
                                                   <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="LinkedIn" class="share-service-icon share-service-icon-linkedin">
                                                   <span>LinkedIn</span>
                                                   </button>
                                                   <span>LinkedIn</span>
                                                </li>
                                                <li>
                                                   <button onclick="yt.tracking.shareVideo(&quot;STUMBLEUPON&quot;, &quot;ngzCpd94AwA&quot;,&quot;en_US&quot;, &quot;sharepanel&quot;);yt.window.popup(&quot;http:\/\/www.stumbleupon.com\/submit?url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DngzCpd94AwA%26feature%3Dshare\u0026title=intro+to+RUCA&quot;, {'height': 650,'width': 1024,'scrollbars': true});return false;" data-service-name="STUMBLEUPON" class="share-service-button">
                                                   <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="StumbleUpon" class="share-service-icon share-service-icon-stumbleupon">
                                                   <span>StumbleUpon</span>
                                                   </button>
                                                   <span>StumbleUpon</span>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="share-panel-embed-container" style="">
                                    <textarea class="yt-uix-form-textarea share-embed-code" onkeydown="if ((event.ctrlKey || event.metaKey) &amp;&amp; event.keyCode == 67) { yt.tracking.track('embedCodeCopied'); }">not implemented</textarea>
                                    <p class="share-embed-code-description">
                                       After making your selection, copy and paste the embed code above. The code changes based on your selection.
                                    </p>
                                    <hr>
                                    <ul class="share-embed-options">
                                       <li>
                                          <label>
                                          <input type="checkbox" class="share-embed-option" name="show-related" checked="">
                                          Show suggested videos when the video finishes
                                          </label>
                                       </li>
                                       <li>
                                          <label>
                                          <input type="checkbox" class="share-embed-option" name="use-https">
                                          Use HTTPS
                                          </label>
                                       </li>
                                       <li>
                                          <label>
                                          <input type="checkbox" class="share-embed-option" name="delayed-cookies">
                                          Enable privacy-enhanced mode
                                          </label>
                                       </li>
                                       <li>
                                          <label>
                                          <input type="checkbox" class="share-embed-option" name="use-flash-code">
                                          Use old embed code
                                          </label>
                                       </li>
                                    </ul>
                                    <hr>
                                 </div>
                                 <div class="share-panel-email-container hid">
                                    <div>
                                       Loading...
                                    </div>
                                 </div>
                              </div>
                              <span class="share-panel-hangout">
                              </span>
                           </div>
                        </div>
                        <div id="watch-actions-share-panel" class="hid"></div>
                     </div>
                     <div id="watch-actions-ajax" class="watch-actions-panel hid"></div>
                     <div class="close">
                        <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="close-button" onclick="yt.www.watch.actions.hide();">
                     </div>
                  </div>
               </div>
               <div id="watch-info">
                  <div id="watch-description" class="yt-uix-expander  yt-uix-expander-collapsed" data-expander-action="yt.www.watch.watch5.handleToggleDescription">
                     <div id="watch-description-clip">
                        <p id="watch-uploader-info">
                           Published on <span id="eow-date" class="watch-video-date">Dec 17, 2021</span> by     <a href="/user/bluey2000k" class="yt-uix-sessionlink yt-user-name author" rel="author" data-sessionlink="bluey2000k" dir="ltr">bluey2000k</a>
                        </p>
                        <div id="watch-description-text">
                           <p id="eow-description"></p>
                        </div>
                        <div id="watch-description-extras">
                           <h4>
                              Category:
                           </h4>
                           <p id="eow-category"><a href="/videos?c=None">None</a></p>
                           <h4>License:</h4>
                           <p id="eow-reuse">
                              None
                           </p>
                        </div>
                     </div>
                     <ul id="watch-description-extra-info">
                        <li>
                           <div class="video-extras-sparkbars">
                              <div class="video-extras-sparkbar-likes" style="width: 100%"></div>
                              <div class="video-extras-sparkbar-dislikes" style="width: 0%"></div>
                           </div>
                           <span class="video-extras-likes-dislikes">
                           <span class="likes">2</span> likes, <span class="dislikes">0</span> dislikes
                           </span>
                        </li>
                     </ul>
                     <div class="yt-horizontal-rule "><span class="first"></span><span class="second"></span><span class="third"></span></div>
                     <div id="watch-description-toggle" class="yt-uix-expander-head">
                        <div id="watch-description-expand" class="expand">
                           <button type="button" class="metadata-inline yt-uix-button yt-uix-button-text" onclick=";return false;" role="button"><span class="yt-uix-button-content">Show more <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="Show more">
                           </span></button>
                        </div>
                        <div id="watch-description-collapse" class="collapse">
                           <button type="button" class="metadata-inline yt-uix-button yt-uix-button-text" onclick=";return false;" role="button"><span class="yt-uix-button-content">Show less <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="Show less">
                           </span></button>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="watch-discussion">
                  <div style="display: none"><iframe src="//plus.google.com/_/s/c2?first_party_property=YOUTUBE&amp;href=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DgAuLL0qpIKM&amp;yt_owner_id=bluey2000k"></iframe></div>
                  <div id="comments-view" data-type="highlights" class="">
                     <div id="comment-share-area" class="comment-share-area yt-rounded hid">
                        <div class="comment-share-content">
                           <h4>Link to this comment:</h4>
                           <div style="visibility: hidden;">
                              <input type="text" value="//subrock.rocks/watch?v=gAuLL0qpIKM" class="comment-share-url yt-uix-form-input-text">
                           </div>
                           <div>
                              <input type="text" value="//subrock.rocks/watch?v=gAuLL0qpIKM" class="yt-uix-form-input-text">
                           </div>
                           <div style="display: none;">
                              <span>Share to:</span>
                              <img alt="" title="Facebook" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="icon-comment-share icon-comment-share-facebook" action="yt.window.popup('\/\/www.facebook.com\/sharer.php?u=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;t=_COMMENT_TEXT_', {height:440, width:620, scrollbars:true});">
                              <img alt="" title="Twitter" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="icon-comment-share icon-comment-share-twitter" action="yt.window.popup('\/\/twitter.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;text=_COMMENT_TEXT_%3A&amp;via=youtube', {height:650, width:1024, scrollbars:true});">
                              <img alt="" title="Google+" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="icon-comment-share icon-comment-share-googleplus" action="yt.window.popup('\/\/plus.google.com\/share?url=http%3A%2F%2Fwww.youtube.com%2Fcomment%3Flc%3D_COMMENT_ID_&amp;source=yt', {height:620, width:620, scrollbars:true});">
                           </div>
                        </div>
                        <div class="close comment-action" data-action="close-share">
                           <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="close-button">
                        </div>
                     </div>
                     <div class="comments-section " onmouseover="if (yt.www &amp;&amp; yt.www.watch &amp;&amp; yt.www.watch.livecomments) yt.www.watch.livecomments.handleCommentMouseEvent(this, event);" onmouseout="if (yt.www &amp;&amp; yt.www.watch &amp;&amp; yt.www.watch.livecomments) yt.www.watch.livecomments.handleCommentMouseEvent(this, event);">
                        <div id="comments-header-container">
                           <div id="comments-header">
                              <a class="comments-section-see-all" href="/all_comments?v=gAuLL0qpIKM">
                              see all
                              </a>
                              <h4>
                                 All Comments
                                 <span class="comments-section-stat">(0)</span>
                              </h4>
                           </div>
                        </div>
                        <div class="comments-post-container clearfix">
                           <form method="post" action="/comment_service_ajax">
                              <div class="yt-alert yt-alert-default yt-alert-error hid comments-post-message">
                                 <div class="yt-alert-icon">
                                    <img class="icon master-sprite" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" width="32px" height="35px">
                                 </div>
                                 <div class="yt-alert-buttons"></div>
                                 <div class="yt-alert-content" role="alert"></div>
                              </div>
                              <input type="hidden" name="form_id" value="">
                              <input type="hidden" name="source" value="w">
                              <input type="hidden" value="" name="reply_parent_id">
                              <a href="/user/bluey2000k" class="yt-user-photo comments-post-profile"><span class="video-thumb ux-thumb yt-thumb-square-46 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="/dynamic/pfp/default.png" alt="bluey2000k" width="46"><span class="vertical-align"></span></span></span></span></a>
                              <div class="comments-textarea-container" onclick="yt.www.comments.initForm(this, true, false);">
                                 <img src="./intro to RUCA - YouTube_files/pixel-vfl3z5WfW.gif" alt="" class="comments-textarea-tip"><label class="comments-textarea-label" data-upsell="comment">Respond to this video...</label>  
                                 <div class="yt-uix-form-input yt-grid ">
                                    <textarea id="" class="yt-uix-form-textarea comments-textarea" onfocus="yt.www.comments.initForm(this, false, false);" data-upsell="comment" name="comment"></textarea>
                                 </div>
                              </div>
                              <p class="comments-remaining">
                                 <span class="comments-remaining-count" data-max-count="500"></span> characters remaining
                              </p>
                              <p class="comments-threshold-countdown hid">
                                 <span class="comments-threshold-count"></span> seconds remaining before you can post
                              </p>
                              <p class="comments-post-buttons">
                                 <span class="comments-post-video-response-link"></span><button type="submit" class="comments-post yt-uix-button yt-uix-button-default" role="button"><span class="yt-uix-button-content">Post </span></button>    
                              </p>
                              <input name="session_token" type="hidden" value="sWZ0733z73lb8fEYAYSd84MaNV98MTM0OTEzMDExNUAxMzQ5MDQzNzE1">
                           </form>
                        </div>
                        <br>
                        <div id="live-comments-setting-scroll" class="live-comments-setting hid">
                           <span id="live-comments-count"></span>
                           <a onclick="yt.www.watch.livecomments.setScroll(true); return false;">Update automatically</a>
                        </div>
                        <div id="live-comments-setting-no-scroll" class="live-comments-setting hid">
                           <a onclick="yt.www.watch.livecomments.setScroll(false); return false;">Disable automatic updates</a>
                        </div>
                        <ul class="comment-list" id="live_comments">
                        </ul>
                     </div>
                     <div class="comments-section">
                        <!--
                           <div class="comments-pagination" data-ajax-enabled="true">
                           	<div class="yt-uix-pager" role="navigation">
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=1" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-toggled yt-uix-button-default" data-sessionlink="bluey2000k" data-page="1" aria-label="Go to page 1"><span class="yt-uix-button-content">1</span></a>&nbsp;
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=2" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" data-sessionlink="bluey2000k" data-page="2" aria-label="Go to page 2"><span class="yt-uix-button-content">2</span></a>&nbsp;
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=3" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" data-sessionlink="bluey2000k" data-page="3" aria-label="Go to page 3"><span class="yt-uix-button-content">3</span></a>&nbsp;
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=4" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" data-sessionlink="bluey2000k" data-page="4" aria-label="Go to page 4"><span class="yt-uix-button-content">4</span></a>&nbsp;
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=5" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" data-sessionlink="bluey2000k" data-page="5" aria-label="Go to page 5"><span class="yt-uix-button-content">5</span></a>&nbsp;
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=6" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" data-sessionlink="bluey2000k" data-page="6" aria-label="Go to page 6"><span class="yt-uix-button-content">6</span></a>&nbsp;
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=7" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-page-num yt-uix-pager-button yt-uix-button-default" data-sessionlink="bluey2000k" data-page="7" aria-label="Go to page 7"><span class="yt-uix-button-content">7</span></a>&nbsp;
                           		<a href="/all_comments?v=gAuLL0qpIKM&amp;page=2" class="yt-uix-button yt-uix-sessionlink yt-uix-pager-next yt-uix-pager-button yt-uix-button-default" data-sessionlink="bluey2000k" data-page="2"><span class="yt-uix-button-content">Next »</span></a>&nbsp;
                           	</div>
                           </div>
                           		-->
                     </div>
                     <ul>
                        <li class="hid" id="parent-comment-loading"> Loading comment...</li>
                     </ul>
                     <div id="comments-loading" class="hid">Loading...</div>
                  </div>
               </div>
            </div>
            <div id="watch-sidebar">
               <div id="watch-channel-brand-div" style="display: none;" class="watch-sidebar-section">
                  <div id="ad300x250" class="alignR"></div>
                  <div id="google_companion_ad_div" class="alignR"></div>
                  <div style="padding-top: 3px; display:none;">
                     Advertisement
                  </div>
               </div>
               <div class="watch-sidebar-section">
                  <div id="watch-related-container" class="watch-sidebar-body">
                     <ul id="watch-related" class="video-list">
                        <div id="ppv-container" class="hid"></div>
                        <li class="video-list-item"><a href="/watch?v=wcxL3Ec12dd" class="related-video yt-uix-contextlink  yt-uix-sessionlink" data-sessionlink="ved=CAIQzRooAA%3D%3D&amp;bluey2000k&amp;feature=relmfu"><span class="ux-thumb-wrap contains-addto "><span class="video-thumb ux-thumb yt-thumb-default-120 "><span class="yt-thumb-clip"><span class="yt-thumb-clip-inner"><img src="/dynamic/thumbs/default.jpg" alt="LlGt5xwdZBH.mp4" onerror=";this.src='/dynamic/thumbs/default.jpg';" data-thumb="/dynamic/thumbs/wcxL3Ec12dd.png" width="120" data-group-key="thumb-group-0"><span class="vertical-align"></span></span></span></span><span class="video-time">0:00</span>
                           <button onclick=";return false;" title="Watch Later" type="button" class="addto-button video-actions addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-short yt-uix-tooltip" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="gyAaIKF6tSQ" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
                           </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" alt=""></button>
                           </span><span dir="ltr" class="title" title="LlGt5xwdZBH.mp4">LlGt5xwdZBH.mp4</span><span class="stat attribution">by <span class="yt-user-name " dir="ltr">bluey2000k</span></span><span class="stat view-count">2 views</span></a>
                        </li>
                     </ul>
                     <ul id="watch-more-related" class="video-list hid">
                        <p class="yt-spinner">
                           <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="">
                           Loading...
                        </p>
                     </ul>
                  </div>
               </div>
               <span class="yt-vertical-rule-main"></span>
               <span class="yt-vertical-rule-corner-top"></span>
               <span class="yt-vertical-rule-corner-bottom"></span>
            </div>
            <div class="clear"></div>
         </div>
         <div style="visibility: hidden; height: 0px; padding: 0px; overflow: hidden;">
            <img src="//www.youtube-nocookie.com/gen_204?attributionpartner=machinima" width="1" height="1" border="0" denf9v6sg="">
         </div>
      </div>
      <!-- end watch-main-container -->
   </div>
</div>
{% endblock %}