{% extends "_layout.twig" %}

{% block title %}{{ err_message }}{% endblock %}

	{% block content %}
	<div class="card card-body-fat">
		<div class="grid">
			<div class="col-md-8">
				<h1>{{ err_code }}</h1>
				<p>{{ err_message }}</p>
			</div>
			<div class="col-md-8 right">
				<img src="../assets/logo.png" alt="Qobo" style="max-width:150px;">
			</div>
		</div>
	</div>
    {% endblock %}
