{% extends "_layout.twig" %}

{% block content %}
    <div class="grid">
        <div class="col-8">
            <div class="uws">
                <div>
                    <span class="uws_gimmick">Watch</span>
                    <div>Instantly find and watch hundreds of submissions.</div>
                </div>
                <div>
                    <span class="uws_gimmick">Upload</span>
                    <div>Quickly upload and tag videos and images.</div>
                </div>
                <div>
                    <span class="uws_gimmick">Share</span>
                    <div>Easily share your submissions with anyone.</div>
                </div>
            </div>
        </div>
    </div>
    <h1>Welcome!</h1>
{% endblock %}