.banner {
  padding: 8px 5px;
}

@each $color, $value in $color-map {
  .banner-#{$color} {
    background: $value;
    @include gradient-y($start-color: lighten($value, 2.5%), $end-color: $value);
    color: contrast-color($value, #000, #fff) !important;
  }
}