@function contrast-color($color, $dark, $light) {
  @return if(lightness($color) < $threshold, $light, $dark)
}

.button {
  padding: $button-padding;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: $font;
}

@each $color, $value in $color-map {
  .button-#{$color} {
    border: 1px solid darken($value, 7.5%);
    background-color: lighten($value, 2.5%);
    @include gradient-y($start-color: lighten($value, 2.5%), $end-color: $value);
    color: contrast-color($value, #000, #fff) !important;
  }

  .button-#{$color}:hover {
    background-color: lighten($value, 8.5%);
    @include gradient-y($start-color: lighten($value, 8.5%), $end-color: lighten($value, 1.5%));
    border: 1px solid darken($value, 1%);
    color: contrast-color($value, #000, #fff) !important;
  }

  .button-#{$color}:active {
    border: 1px solid darken($value, 7.5%);
    background-color: lighten($value, 10.5%);
    @include gradient-y($start-color: lighten($value, 10.5%), $end-color: lighten($value, 5.5%));
    color: contrast-color($value, #000, #fff) !important;
  }
}