.comment {
  background: white;
  padding-bottom: 5px;

  img.pfp {
    width: 100px;
    float: left;
  }

  .comment-details {
    float: left;
    padding: 5px;
    width: 130px;

    .comment-username {
      font-weight: bold;
    }

    .comment-displayname {
      font-size: 11px;
      color: gray;
    }
  }

  .comment-body {
    width: 696px;
    float: left;

    .comment-contents {
      padding: 10px;
      background: #fcfcfc;
      border: 1px solid #eee;

      p {
        margin: 0;
      }

      blockquote {
        color: #789922;
        margin: 0;
        p:before {
          content: ">";
        }
      }
    }
  }
}

#replies {
  .comment {
    img.pfp {
      width: 75px;
    }

    .comment-body {
      width: 675px;
      padding-left: 46px;
    }
  }
}

.new-comment {
  margin-bottom: 5px;
}