.footer
{
  margin: 15px 0;
  text-align: center;
  padding: 15px 5px;
  line-height: 20px;
  clear: both;
  background: $content-box-background-color;
  border: 1px solid $content-box-border-color;
  border-radius: $content-box-roundness;
}