.form-input {
  margin-bottom: 8px;
}

.form-submit {
  width: 350px;
}

.form-button-container {
  text-align: right;

  .form-button-submit {
    background: #ffe3ae;
    border: 1px solid #d7944c;
    padding: 3px 9px;
    border-radius: 2px;
    text-align: center;

    &:hover {
      background: #ffe9c3;
      border: 1px solid #dca874;
    }

    &:active {
      background: #d7944c;
      border: 1px solid #c98642;
      color: white;
    }
  }
}

.form-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  color: #4f4033;
  margin-bottom: 4px;
}