.form-input {
  margin-bottom: 8px;
}

.form-submit {
  width: 350px;
}

.form-submit-wide {
  width: 100%;
  padding: 0;
}

.form-button-container {
  text-align: right;

  .form-button-submit {
    padding: 3px 9px;
    text-align: center;
  }
}

.form-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  color: #4f4033;
  margin-bottom: 4px;
}