.form-input {
  margin-bottom: 5px;
}

.form-submit {
  width: 928px;
}

.form-button-container {
  text-align: right;

  .form-button-submit {
    background: #ffe3ae;
    border: 1px solid #d7944c;
    padding: 3px 9px;
    text-align: center;
  }
}

.form-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}