div.header-links
{
  text-align: right;
  padding-right: 12px;
  color: white;
  font-family: verdana, arial, helvetica, sans-serif;
  display: table-cell;
  vertical-align: middle;
}

div.header-logo
{
  width: 177px;
  display:table-cell;
  vertical-align:middle;
}

form.header-search
{
  display:table-cell;
  vertical-align:middle;
  width: 250px;

  #header-search-input {
    width: 250px - 75px;
    padding: 3px;
  }

  .form-button-container {
    display: inline;
  }
}

td.h
{
  padding: 5px;
}

div.header-user
{
  width: 100%;
  background-color: #150906;
  color: white;
  padding: 5px 0;
  border-radius: 5px 5px 0 0
}

div.header-user-notifications
{
  padding-left: 15px;
  float: left;
}

div.header-user-links
{
  padding-right: 15px;
  float: right;
}

a.menulink
{
  color: white;
  margin: 0 4px;
}

div.header-links
{
  font-size: 20px;
}

div.header
{
  display: table;
  width: 100%;
  padding-bottom: 5px;
}