.headers {
  position: sticky;
  top: 0;
  z-index: 47101;
  backdrop-filter: blur(10px);
}

.header-links
{
  text-align: right;
  margin-left: auto;
  display: flex;
  gap: 10px;
  vertical-align: middle;
  align-items: center;

  .menuButton {
    .pfp {
      width: 32px;
    }
  }
}

.header-logo
{
  img.logo {
    height: 30px;
  }
  margin-right: 10px;
}

form.header-search
{
  display: none;
  width: 250px;
  @include responsive('medium') {
    display: block;
    flex-grow: 1;
    text-align: center;
  }

  #header-search-input {
    width: 250px - 75px;
    padding: 6px;
  }

  .form-button-container {
    display: inline;
  }
}

td.h
{
  padding: 5px;
}

.header-user
{
  width: 100%;
  background-color: rgba(lighten($secondary, 1%), 0.9);
  height: $header-user-height;

  .page {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  display: flex;
}

.header-user-notifications
{
  margin-right: auto;
}

.header-user-links
{
  margin-left: auto;
}

a.menulink
{
  color: black;
  margin: 0 7px;
  font-size: 14px;
}

.header
{
  .page {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  width: 100%;
  background-color: rgba(white, 0.9);
  height: $header-main-height;
  display: flex;
  border-bottom: 1px solid lightgrey;
}