.jumbotron {
  background: rgb(255,191,88);
  background: linear-gradient(90deg, rgba(255,191,88,1) 0%, rgba(255,151,0,1) 100%);
  padding: 16px;
  h1 {
    font-size: 18px;
    margin: 0 0 8px;
  }
}