div.page {
  width: 1000px;
  display: flex;
  align-items: center;
  margin: auto;
}

div.page-contents
{
  width: 1000px;
  margin: 10px auto auto auto;
}

#page-left {
  float: left;
}

#page-right {
  float: right;
}