div.page {
  display: flex;
  align-items: center;
  margin: auto;
  @include responsive('small') {
    max-width: 450px;
  }
  @include responsive('medium') {
    max-width: 700px;
  }
  @include responsive('large') {
    max-width: 1000px;
  }
}

div.page-contents
{
  @include responsive('small') {
    width: 450px;
  }
  @include responsive('medium') {
    width: 700px;
  }
  @include responsive('large') {
    width: 1000px;
  }
  margin: 10px auto auto auto;
}

// DO NOT USE THESE!!!
// these two classes are from when this frontend didn't account for small displays and was just a mix of
// shades of orange. -bluffingo 12/8/2023
#page-left {
  float: left;
}

#page-right {
  float: right;
}