.page {
  display: flex;
  align-items: center;
  margin: auto;
  @include responsive('small') {
    max-width: 450px;
  }
  @include responsive('medium') {
    max-width: 700px;
  }
  @include responsive('large') {
    max-width: 1000px;
  }
}

.page-contents
{
  @include responsive('small') {
    width: 450px;
  }
  @include responsive('medium') {
    width: 700px;
  }
  @include responsive('large') {
    width: 1000px;
  }
  margin: 10px auto auto auto;
}

.container {
  &.login, &.register {
    margin: auto;
    width: 500px;
  }
}