$pfp-width: 95px;

div.profile-box {
  padding: 10px;
  background-color: #ffaa1d;

  .profile-box-pfp {
    width: $pfp-width;
    float: left;
    padding-right: 10px;

    .pfp {
      width: $pfp-width;
    }
  }

  .profile-box-username {
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
  }

  .profile-box-links {
    font-size: 12pt;

    .link {
      padding-right: 7px;
    }
  }
}