$pfp-width-profiles: 95px;
$pfp-width-watch: 35px;

div.profile-box {
  padding: 10px;
  background-color: #ffaa1d;

  &.centered {
    text-align: center
  }

  h1 {
    margin: 0;
    font-size: 14px;
  }

  .profile-box-pfp {
    width: $pfp-width-profiles;
    float: left;
    margin-right: 10px;

    .pfp {
      width: $pfp-width-profiles;
    }
  }

  .profile-box-username {
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
  }

  .profile-box-links {
    font-size: 12pt;

    .link {
      padding-right: 7px;
    }
  }
}

.profile-featured-submission {
  text-align: center;

  .profile-featured-submission-title {
    margin-top: 6px;
    a {
      font-weight: normal;
    }
  }

  /* will this fuck up with wide thumbnails? */
  img {
    height: 200px;
  }
}