.section {
  .section-title {
    color: $primary-darker;

    h1, h2, h3, h4, h5, h6 {
      display: inline;
      font-weight: normal;
    }

    a {
      font-size: 14px;
      margin-left: 4px;
    }

    margin-bottom: 0.5em;
  }
  margin-bottom: 1em;
}