// colors

@import url('https://rsms.me/inter/inter.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

$threshold: 75%; // contrast threshold

$primary: #1b7fcc; // primary color
$primary-darker: darken($primary, 33%); // darker primary color
$secondary: #EEEEEE; //secondary color (nearly white)
$green: #559900;
$red: #993300;

$color-map: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $green,
        "danger": $red,
);

// fonts
$font: 'Inter', sans-serif;
$font-var: 'InterVariable', sans-serif;

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15

$breakpoints: (
        "tiny": (
                300px,
        ),
        "small": (
                500px,
        ),
        "medium": (
                900px,
        ),
        "large": (
                1250px,
        ),
);
//

// profile pictures

$pfp-roundness: 100%;

// buttons
$button-padding: 6px 11px;
$button-padding-small: 3px 8px;

// content boxes
$content-box-background-color: #FFF;
$content-box-border-color: darken($secondary, 7.5%);
$content-box-roundness: 5px;
$context-box-padding: 12px;

// header
$header-main-height: 48px;
$header-user-height: 25px;

// profile
$pfp-width-profiles: 70px;
$pfp-width-watch: 35px;
$profile-intro-height: 90px;