// colors

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$threshold: 75%; // contrast threshold

$primary: #f14fff; // primary color (orange)
$primary-darker: darken($primary, 33%); // darker primary color
$secondary: #333; //secondary color (nearly white)
$green: #198519;
$red: #c02626;

$color-map: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $green,
        "danger": $red,
);

// fonts
$font: 'Open Sans', sans-serif;

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15
$mobile: 300px;
$tablet: 768px;
$desktop: 1024px;

$breakpoints: (
        "small": (
                $mobile,
        ),
        "medium": (
                $tablet,
        ),
        "large": (
                $desktop,
        ),
);
//

// profile pictures

$pfp-roundness: 100%;

// buttons
$button-padding: 6px 11px;

// content boxes
$content-box-background-color: #2a2a2a;
$content-box-border-color: darken($secondary, 7.5%);
$content-box-roundness: 5px;

// header
$header-main-height: 60px;
$header-user-height: 25px;

// profile
$pfp-width-profiles: 70px;
$pfp-width-watch: 35px;
$profile-intro-height: 90px;