div.submission-stats-box {
  margin: 6px 0;
  height: 50px;
}

#submission-stats-actions {
  width: 100px;
  float: left;
}

#submission-stats-stats {
  float: right;
  text-align: right;
}

#submission-stats-views {
  font-size: 16px;
  font-weight: bold;
}

div.submission-stats-row {
  margin-bottom: 4px;
}