body
{
	background-color: #FFDC91;
	color: #000000;
	font-size: small;
	font-family: tahoma, arial, helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

td, th
{
	font-size: small;
	font-family: tahoma, arial, helvetica, sans-serif;
	padding: 0;
}

a
{
	text-decoration: none;
	font-weight: bold;
	color: #864e14;
}

table.c1
{
	width: 100%;
}

tr.h
{
	background-color: #ffaf46;
	color: black;
}

img
{
	border: 0;
}

h1 {
	margin-top: 0px;
	font-size: 18px;
}

h2 { font-size: 16px; }

h3 { font-size: 14px; }

h4 { font-size: 12px; }

h5 { font-size: 10px; }

h6 { font-size: 10px; }

ul {
	padding: 0;
	margin: 0;
}

img.img-responsive {
	width: 100%;
}

div.label {
	font-weight: bold;
	color: #666;
}

div.clear {
	clear: both;
}

span.elink {
	text-decoration: none;
	border-bottom: 1px dotted #864e14;
}

span.fade
{
	color: darkgray;
}

div.icons span
{
	display: inline-block;
}

textarea,
input[type]:not([type=file]):not([type=submit]) {
	border: 1px solid #8d8d8d;
	background: white;
	color: black;
	box-shadow: 0 0 1px #bebebe;
	transition: border linear 0.3s, box-shadow linear 0.3s;
	border-radius: 2px;
}

textarea:focus,
input[type]:not([type=file]):not([type=submit]):focus {
	border-color: #fd8f08;
	outline: none;
	box-shadow: 0 0 1px #fd8f08;
}

@import 'header';
@import 'footer';
@import 'page';
@import 'forms';
@import 'content_box';
@import 'banner';
@import 'comments';

@import 'watch_page';
@import 'profile_page';
@import 'notice_page';