{% extends "_layout.twig" %}

{% block content %}
    <h1>404 Not Found</h1>
    <p><small>© 2021-{{ 'now' | date('Y') }} OpenSB contributors • Running OpenSB {{ opensb_version }}</small></p>
{% endblock %}