{% extends "_layout.twig" %}

{% block content %}
    <h1>{{ website_branding.name }} is offline.</h1>
    <p>Please wait a moment and try again.</p>
    <p><small>© 2021-{{ 'now' | date('Y') }} OpenSB contributors • Running OpenSB {{ opensb_version }}</small></p>
{% endblock %}