<div class="p-3">
    <div class="container">
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center g-0 border-top py-2">
                    <div class="col-md-6 col-12 text-center text-md-start">
                        © 2021-{{ 'now' | date('Y') }} OpenSB contributors.
                    </div>
                    <div class="col-12 col-md-6">
                        <nav class="nav nav-footer justify-content-center justify-content-md-end">
                            <a href="/version" class="nav-link">About</a>
                            <a href="/privacy" class="nav-link">Privacy policy</a>
                            <a href="/theme" class="nav-link">Change theme</a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>