<footer class="p-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="my-0">OpenSB {{ opensb_version }}</h4>
                <p class="my-0">© 2021-{{ 'now' | date('Y') }} OpenSB contributors</p>
                <p class="my-0">
                    <a href="/version" class="me-1">About</a>
                    <a href="/privacy" class="me-1">Privacy policy</a>
                    <a href="/theme" class="me-1">Change theme</a>
                </p>
                {% if is_debug %}
                    <p class="my-0">{{ profiler_stats() }}</p>
                {% endif %}
                {% if is_chaziz_sb %}
                    <p class="my-0"><small>A <a href="https://bluffingo.net/">Chaziz</a> Project.</small></p>
                {% endif %}
            </div>
        </div>
    </div>
</footer>