<!DOCTYPE html>
	<title>squareBracket - Punny slogan attempting to be simillar to a certain website's slogan</title>

	<link rel="stylesheet" href="/assets/2006l/styles_yts1162330703.css" type="text/css">
	<link rel="stylesheet" href="/assets/2006l/base_yts1163746048.css" type="text/css">
	{% block css %}{% endblock %}
	<link rel="icon" href="/assets/2006l/favicon.ico" type="image/x-icon"> <!--- taken from poktube --->
	<link rel="shortcut icon" href="/assets/2006l/favicon.ico" type="image/x-icon">
	
	
	<meta name="keywords" content="video,sharing,camera phone,video phone">

	<link rel="alternate" title="YouTube - [RSS]" href="/web/20061124193253/http://www.youtube.com/rssls">

	<script type="text/javascript" src="/assets/2006l/ui_yts1161839869.js"></script>
	<script type="text/javascript" src="/assets/2006l/AJAX_yts1161839869.js"></script>
	<script type="text/javascript" src="/assets/2006l/watch_queue_yts1161839869.js"></script>
	<script type="text/javascript" src="/assets/2006l/components_yts1157352107.js"></script>
	<script type="text/javascript" src="/assets/2006l/video_bar_yts1157352107.js"></script>
	
	<script language="javascript" type="text/javascript"> function _hbLink (a,b) { return false; } </script>


</head>


<body onload="performOnLoadFunctions();">
<div id="baseDiv">	
		<div id="logoTagDiv">
		<a href="index.php?frontend=2006L" name="&amp;lid=Logo&amp;lpos=GlobalNav"><img src="/assets/2006l/logo_tagline_sm.gif" alt="squareBracket" width="254" height="48" border="0"></a>
	</div>
	<div id="utilDiv" style="height:13px;">
                        <b><a href="/web/20061124193253/http://www.youtube.com/signup" onclick="_hbLink('SignUp','UtilityLinks');">Sign Up</a></b>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/my_account">My Account</a>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/recently_watched" onclick="_hbLink('ViewingHistory','UtilityLinks');">History</a>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/watch_queue?all" onclick="_hbLink('QuickList','UtilityLinks');">QuickList</a>
			(<span id="quicklist_numb"><a href="/web/20061124193253/http://www.youtube.com/watch_queue?all"><script type="text/javascript">var quicklist_count=0;document.write(quicklist_count);</script>0</a></span>)                        
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/t/help_center">Help</a>
                        <span class="utilDelim">|</span>
                        <a href="/web/20061124193253/http://www.youtube.com/login?next=/" onclick="_hbLink('LogIn','UtilityLinks');">Log In</a>
        </div>
        <form name="logoutForm" method="post" action="/web/20061124193253/http://www.youtube.com/index">
                <input type="hidden" name="action_logout" value="1">
        </form>

	
	<div id="searchDiv">
		<form name="searchForm" id="searchForm" method="get" action="/web/20061124193253/http://www.youtube.com/results">
		<span class="smallLabel">Search for&nbsp;</span>
		<input tabindex="10000" type="text" name="search_query" maxlength="128" class="searchField" value="">
		&nbsp;
		<input type="submit" name="search" value="Search">
	</form>

	</div>
		
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr><td>
		<div id="gNavDiv">
				
				<div class="ltab">
				<div class="tabContent selected">
				<a href="/web/20061124193253/http://www.youtube.com/index" name="&amp;lid=Home&amp;lpos=GlobalNav">Home</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/browse?s=mp" name="&amp;lid=Videos&amp;lpos=GlobalNav">Videos</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/members" name="&amp;lid=Channels&amp;lpos=GlobalNav">Channels</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/groups_main" name="&amp;lid=Groups&amp;lpos=GlobalNav">Groups</a>
				</div>
				</div>
				
				<div class="tab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/categories" name="&amp;lid=Categories&amp;lpos=GlobalNav">Categories</a>
				</div>
				</div>
				
				<div class="rtab">
				<div class="tabContent">
				<a href="/web/20061124193253/http://www.youtube.com/my_videos_upload" name="&amp;lid=Upload&amp;lpos=GlobalNav">Upload</a>
				</div>
				</div>
		</div>
	</td></tr>
	<tr><td>
			<div id="gSubNavDiv">
				&nbsp;
						<a href="/web/20061124193253/http://www.youtube.com/my_account" onclick="_hbLink('MyAccount','SubNav');">My Account</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_videos" onclick="_hbLink('MyVideos','SubNav');">My Videos</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_favorites" onclick="_hbLink('MyFavorites','SubNav');">My Favorites</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_friends?sort=n" onclick="_hbLink('MyFriends','SubNav');">My Friends</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_messages" onclick="_hbLink('MyInbox','SubNav');">My Inbox</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/subscription_center" onclick="_hbLink('MySubscriptions','SubNav');">My Subscriptions</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/groups_my" onclick="_hbLink('MyGroups','SubNav');">My Groups</a>
							<span style="padding: 0px 8px;">|</span>
						<a href="/web/20061124193253/http://www.youtube.com/my_profile" onclick="_hbLink('MyChannel','SubNav');">My Channel</a>
				&nbsp;
			</div> <!-- end gSubNavDiv -->
	</td></tr>
	</tbody></table>

<div class="errorBox">The 2006L frontend is not complete.</div>
{% block content %}{% endblock %}
		<div class="spacer">&nbsp;</div>
	<div id="footerDiv">
		<div id="footerContent">
		<div id="footerLinks">
			
			<table width="90%" cellspacing="0" cellpadding="0" border="0" align="center"><tbody><tr valign="top">
			
			<td>
			<div class="footColumnBar">
				<div class="footLabel">Your&nbsp;&nbsp;Account</div>
				<div class="footValues">
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/my_videos">Videos</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_favorites">Favorite</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_playlists">Playlists</a>
					</div>
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/subscription_center">Subscriptions</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_messages">Inbox</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/my_account">more...</a>
					</div>
				</div>
			</div>
			</td>
			
			<td>
			<div class="footColumnBar">
				<div class="footLabel">squareBracket</div>
				<div class="footValues">
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/about">About</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/blog">Blog</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/contact">Contact</a>
					</div>
					<div class="column">
					<a href="https://discord.gg/bWczcjwDQR">Discord</a><br>
					<a href="https://github.com/chazizsquarebracket/squarebracket">GitHub</a><br>
					<a href="https://www.youtube.com/channel/UCF2_DWR-mzsHaMi0axIxkPA">Gamerappa</a><br>
					</div>
				</div>
			</div>
			</td>
			
			<td>
			<div class="footColumn">
				<div class="footLabel">Help &amp; Info</div>
				<div class="footValues">
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/help_center">Help Center</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/video_toolbox">Video Toolbox</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/dev">Developer APIs</a>
					</div>
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/safety">Safety Tips</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/rssls">RSS Syndication</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/community_guidelines">Community Guidelines</a>
					</div>
					<div class="column">
					<a href="/web/20061124193253/http://www.youtube.com/t/terms">Terms of Use</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/privacy">Privacy Policy</a><br>
					<a href="/web/20061124193253/http://www.youtube.com/t/dmca_policy">Copyright Info</a>
					</div>
				</div>
			</div>
			</td>
			
			</tr></tbody></table>
			
		</div> <!-- end footerLinks -->
		</div> <!-- end footerContent -->
		
		<div id="footerSearch">
			
			<form name="searchFormFooter" id="searchFormFooter" method="get" action="/web/20061124193253/http://www.youtube.com/results">
			<span class="smallLabel">Search for&nbsp;</span>
			<input type="text" name="search_query" maxlength="128" class="searchField" value="">
			&nbsp;
			<input type="submit" name="search" value="Search">
			</form>
		</div> <!-- end footerSearch -->
		
		<div id="footerCopyright">
			Created by squareBracket contributors · {{ 'now' | date('Y') }} Gamerappa
		</div> <!-- end footerCopyright -->
		
	</div> <!-- end footerDiv -->

</div> <!-- end baseDiv -->
</html>