<link id="css-4047501374" class="www-embed-player" rel="stylesheet" href="/assets/css/player.css" type="text/css">	  
		 <div id="container">
            <!--- todo: redo "video processed" message to use _error.twig -gr 7/22/2021 --->
            {% if (video.flags b-and 2) %}
            <div style="background-color: black; color: white; text-align: center; padding: 15rem">
               {{ __("This video is being processed. Try again later.") }}
            </div>
            {% else %}
            				<div id="player"></div>  <script id="js-2900126986" class="www-embed-player" src="//s.ytimg.com/yts/jsbin/www-embed-player-vflUmkt61.js" data-loaded="true"></script>
<script>yt.setConfig({
    'EVENT_ID': "RUXDUpmwIoiRiQLA54GABQ",
    'VIDEO_ID': "<?php echo $id ?>",
    'POST_MESSAGE_ORIGIN': "*",
    'EURL': "http:\/\/www.itv.com\/news\/topic\/gangnam-style\/"
});
yt.setConfig({
    'PLAYER_CONFIG': {
        "sts": 16057,
        "params": {
            "allowfullscreen": "true",
            "allowscriptaccess": "always",
            "bgcolor": "#000000"
        },
        "url_v8": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/cps.swf",
        "min_version": "8.0.0",
        "html5": true,
        "url": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/watch_as3.swf",
        "args": {
            "enablejsapi": "0",
            "iurlmaxres": "http:\/\/i1.ytimg.com\/vi\/LHdA7Yc-8Rg\/maxresdefault.jpg",
            "threed_module": "1",
            "ldpj": "-3",
            "fexp": "931319,927606,901479,930102,916624,909717,924616,932295,936912,936910,923305,936913,907231,907240,921090",
            "hl": "en_US",
            "eurl": "http:\/\/www.itv.com\/news\/topic\/gangnam-style\/",
            "allow_embed": 1,
            "avg_rating": 4.57515427974,
            "idpj": "-7",
            "video_id": "{{ video.video_id }}",
            "view_count": 5462747,
            "allow_ratings": 1,
            "cc3_module": "1",
            "sw": "1.0",
            "iurlsd": "http:\/\/i1.ytimg.com\/vi\/LHdA7Yc-8Rg\/sddefault.jpg",
            "cc_module": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/subtitle_module.swf",
            "iurl": "http:\/\/i1.ytimg.com\/vi\/LHdA7Yc-8Rg\/hqdefault.jpg",
            "cc_font": "Arial Unicode MS, arial, verdana, _sans",
            "length_seconds": {{ video.videolength }},
            "title": "{{ video.title }}",
            "cr": "US",
            "advideo": "1",
            "streaminglib_module": "1",
            "rel": "1",
            "is_html5_mobile_device": false
        },
        "attrs": {
            "height": "360px",
            "id": "movie-player",
            "width": "480px"
        },
        "url_v9as2": "http:\/\/s.ytimg.com\/yts\/swfbin\/player-vflqv4MLv\/cps.swf",
        "assets": {
            "js": "\/\/s.ytimg.com\/yts\/jsbin\/html5player-vflG49soT.js",
            "html": "\/html5_player_template",
        }
    },
    'EMBED_HTML_TEMPLATE': "\u003ciframe width=\"__width__\" height=\"__height__\" src=\"__url__\" frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e",
    'EMBED_HTML_URL': "\/\/www.youtube.com\/embed\/__videoid__"
});
yt.setMsg('FLASH_UPGRADE', "\u003cdiv class=\"yt-alert yt-alert-default yt-alert-error  yt-alert-player\"\u003e  \u003cdiv class=\"yt-alert-icon\"\u003e\n    \u003cimg s\u0072c=\"http:\/\/s.ytimg.com\/yts\/img\/pixel-vfl3z5WfW.gif\" class=\"icon master-sprite\" alt=\"Alert icon\"\u003e\n  \u003c\/div\u003e\n\u003cdiv class=\"yt-alert-buttons\"\u003e\u003c\/div\u003e\u003cdiv class=\"yt-alert-content\" role=\"alert\"\u003e    \u003cspan class=\"yt-alert-vertical-trick\"\u003e\u003c\/span\u003e\n    \u003cdiv class=\"yt-alert-message\"\u003e\n            You need to upgrade your Adobe Flash Player to watch this video. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eDownload it from Adobe.\u003c\/a\u003e\n    \u003c\/div\u003e\n\u003c\/div\u003e\u003c\/div\u003e");
yt.setMsg('PLAYER_FALLBACK', "The Adobe Flash Player or an HTML5 supported browser is required for video playback. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eGet the latest Flash Player\u003c\/a\u003e \u003cbr\u003e \u003ca href=\"\/html5\"\u003eLearn more about upgrading to an HTML5 browser\u003c\/a\u003e");
yt.setMsg('QUICKTIME_FALLBACK', "The Adobe Flash Player or QuickTime is required for video playback. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eGet the latest Flash Player\u003c\/a\u003e \u003cbr\u003e \u003ca href=\"http:\/\/www.apple.com\/quicktime\/download\/\"\u003eGet the latest version of QuickTime\u003c\/a\u003e");
yt.setMsg('AUTOPLAY_MESSAGE', {
    "other": "Next video in #",
    "case1": "Next video in 1"
});

writeEmbed();</script>
            {% endif %}
</div>