{% extends "_layout.twig" %}

{% block title %}{% endblock %}

	{% block content %}
<div style="width:600px;margin:auto;background-color:#111;padding:20px;padding-bottom:100px;">
	<h2 style="text-align:center;">{{ err_message }}</h2>
	<hr>
	<p>Sorry about that.</p>

	<div style="text-align:center;margin:auto"><img src="assets/logo_border_placeholder.png" style="width:150px;"></div>
</div>
	{% endblock %}
