{% extends "_layout-admin.twig" %}

{% block title %}{{ __("Admin") }}{% endblock %}

	{% block content %}
<h2>{{ __("All videos") }}</h2>
<h3>{{ __("Approved videos") }}</h3>
{% for video in videos %}
	{{ video_box(video) }}
{% endfor %}
	{% endblock %}