@function contrast-color($color, $dark, $light) {
  @return if(lightness($color) < $threshold, $light, $dark)
}

.button {
	border-radius: 3px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
	padding: 8px 13px;
	margin: 2px;
	margin-bottom: 1em;
	display: inline-block;

	&:hover {
		background-color: #dddddd;
	}
	&.sel {
		background-color: #ccccff;

		&:hover {
			background-color: #bbbbee;
		}
	}
}

@each $state, $value in $theme-colors {
  .button-#{$state} {
    border: 1px solid darken($value, 2.25%);
    @include gradient-y($start-color: lighten($value, 15%), $end-color: $value);
	color: contrast-color($value, $dark, $light) !important;
  }
}