.card {
  border: 1px solid #e2e2e2;
  margin-bottom: 0.5em;
}

.card-header {
  padding: 0.5em;
  border-bottom: 1px solid $gray-400;
  background-color: $gray-200;
  height: 1em;
}

.card-header h5 {
  margin: 0;
}

.card-body {
  padding: 0.5em;
}

.card-body-fat {
  padding: 1em;
}

.card h3 {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.card h3 em {
  padding: 0.25em;
  background-color: #eddbff;
  border-radius: 4px;
}