.container {
    padding: 0 15px;
	transition: max-width ease-out 1s, margin-left ease-out 2s, padding ease-out 1s;
// 576px window width and more
    @include sm {
        padding: 0 12px;
    }
// 992px window width and more
    @include lg {
        margin-right: auto;
		margin-left: auto;
        max-width: 1500px;
    }
// i have no idea
    @include xl {
        max-width: 1650px;
		padding: 0 35px;
    }
}