body {
	font-size: 100%;
	font: 12px Arial,sans-serif;
	background: white;
}

.page-container {
	width: 960px;
}

#masthead-container {
	margin: 0 auto 25px;
	padding: 0;
	position: relative;
	display: block;
	height: 78px;
	border-bottom: none;
	width: 100%;
}

.header1 {
	background-color: #0054B6;
	background: linear-gradient(to bottom, #0054B6 0%,#0A2D7F 100%);
	height: 58px;
	a {
		color: #03c;
	}
	.user-info {
		align-self: flex-start;
		margin: 0 4px 0 0;
	}
	.poktube-slogan {
		padding: 0px 5px 0px 5px; 
		font-style: italic;
		color: white;
	}
	#logo {
		height: 34px;
		width: auto;
	}
	#masthead-bar-contents {
		padding-top: 4px;
		text-align: right;
	}
	.search-form {
		margin-right: 100px;
		display: inline;
	}
	#masthead-search-terms {
		height: 25px;
		widtH: 229px;
	}
	.util-item {
		border-left: 1px solid #000;
		padding: 0 0 1px 6px;
		margin-left: 6px;
		float: left;
		display: block;
		color: white;
	}
	.util-item.first {
		border-left: none;
		padding-left: 1px;
		margin: 0;
	}
	.poktube-search {
		 color:#e67402; 
		 font-size: 14px; 
		 padding: 2px;
	}
	.poktube-button {
		padding: 2px 12px;
	}
}

	#bar {
		height: 28px;
		background-position: 0 -487px;
		border: 1px solid #999;
		cursor: default;
		background: linear-gradient(to bottom, #585858 0%, #181818 100%);
		.nav-item {
			text-align: center;
			float: left;
			text-decoration: none;
			font-size: 13px;
			white-space: nowrap;
			display: block;
			padding: 6px;
		}
		a {
			color: white;
		}
		.nav-item:hover {
		background: linear-gradient(to bottom, #FFFFFF 60%,#D4D4D4 100%);
		color: black;
		}
		.nav-item:active {
		background: linear-gradient(to bottom, #D4D4D4 40%,#FFFFFF 100%);
		color: black;
		}
		#upload-button {
			margin-right: 5px;
			float: right;
			padding: 4px 10px;
		}
	}

.main-content {
 background: white;
 background-size:cover;
 margin:0;
 color:black;
 padding: 25px 0;
 margin-top: 0;
 padding: 0;
 display: block;
}

.whatsnew {
	border: 1px solid #F6E4B8;
	background: #FFFFDB;
	border-radius: 7px;
	padding: 10px 15px;
	h3 {
		color: #CC6600;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 5px;
	}
}