<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="Author" content="The squareBracket contributors">
    <title>{% block title %}{% endblock %} - squareBracket</title>
	<link rel="stylesheet" href="/img/main.css">
  </head>
  <body alink="#c0ffc0" bgcolor="#000000" link="#ffff00" text="#ffffff" vlink="#c0c0c0">
    <table width="100%">
      <tbody>
      <tr>
        <td valign="center">
          <img src="/img/banner.gif">
        </td>
        <td align="right">
          {% if log %}
            {{ userdata.title }}
          {% else %}
            Login - Register
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
    <center>Home - Videos - Artwork</center>
    <hr width="100%"> {% block content %}{% endblock %}
    <hr width="100%">
    <center>
      <pre>Running on squareBracket version {{ version }}
        <br>&copy; 2020-{{ 'now' | date('Y') }} The squareBracket contributors</pre>
    </center>
  </body>
</html>