{% extends "_layout.twig" %}

{% block title %}{{ __("Sign in") }}{% endblock %}

	{% block content %}
	<center>
		<h1>Register on squareBracket</h1>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
		
		<form method="post" name="loginForm" id="loginForm" action="register.php">
			<label for="email">Email Address:</label><br>
			<input type="text" id="email" name="email"><br>
			<label for="displayName">Display Name:</label><br>
			<input type="text" id="displayName" name="displayName"><br>
			<label for="username">Username:</label><br>
			<input type="text" id="username" name="username"><br>
			<label for="pass1">Password:</label><br>
			<input type="password" id="pass1" name="pass1"><br>
			<label for="pass2">Password (Again):</label><br>
			<input type="password" id="pass2" name="pass2"><br>
			<input class="button button-large button-primary" type="submit" value="Register" name="registersubmit">
		</form>
	</center>
    {% endblock %}
