{% extends "_layout.twig" %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}
	<div class="card card-body-fat">
		{{ source('markdown/' ~ file) | markdown_unsafe }}
	</div>
{% endblock %}