body
{
	background-color: #FFDC91;
	color: #000000;
	font-size: small;
	font-family: tahoma, arial, helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}

td, th
{
	font-size: small;
	font-family: tahoma, arial, helvetica, sans-serif;
	padding: 0;
}

a
{
	text-decoration: none;
	font-weight: bold;
	color: #864e14;
}

table.c1
{
	width: 100%;
}

tr.h
{
	background-color: #ffaf46;
	color: black;
}

td.header-links
{
	width: 100%;
	text-align: right;
	padding-right: 12px;
	background-color: #FF9008;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
}

div.header-links
{
	text-align: right;
	padding-right: 12px;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	display: table-cell;
	vertical-align: middle;
}

div.header-logo
{
	width: 177px;
	display:table-cell;
	vertical-align:middle;
}

td.h
{
	padding: 5px;
}

div.header-user
{
	width: 100%;
	text-align: right;
	background-color: black;
	color: white;
	padding: 3px 0;
	background-image: url(/img/header_top.gif);
}

div.header-user-links
{
	padding-right: 15px;
}

a.menulink
{
	color: white;
}

div.page {
	background-image: url('/img/bg.gif');
	background-repeat: repeat-x;
}

div.page-contents
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	position: relative;
	top: 0;
	padding-top: 10px;
}

div.footer
{
	border-top: 1px solid #d5b980;
	margin: 15px 0;
	text-align: center;
	padding: 25px;
	line-height: 20px;
	clear: both;
}

div.header
{
	background-color: #FF9008;
	display: table;
	width: 100%;
}

img
{
	border: 0;
}
div.content-header
{
	background: #ffbf58;
	padding: 6px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

div.content-header-right
{
	float: right;
	padding: 2px 5px 0px 0px;
	font-size: 12px;
}

div.content-box
{
	border: 1px solid #ffbf58;
	background: #ffffff;
	padding: 6px;
	margin-bottom: 7px;
	overflow: hidden;
}

div.content-entry
{
	clear: both;
	padding: 6px 2px;
	border-bottom: 1px solid #d5d5d5;
}

img.content-image
{
	margin-right: 8px;
}

span.fade
{
	color: darkgray;
}

div.content-title
{
	font-size: 13px;
}

div.content-description
{
	font-size: 11px;
	margin-bottom: 10px;
}

div.icons span
{
	display: inline-block;
}

h1 {
	margin-top: 0px;
	font-size: 18px;
}

h2 { font-size: 16px; }

h3 { font-size: 14px; }

h4 { font-size: 12px; }

h5 { font-size: 10px; }

h6 { font-size: 10px; }

#page-left {
	float: left;
}

#page-right {
	float: right;
}

div.profile-box {
	padding: 10px;
	text-align: center;
}

div.profile-box-username {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	background: #ffffff;
	color: #000000;
}

ul {
	padding: 0;
	margin: 0;
}

div.banner {
	padding: 8px 5px;
	margin-bottom: 5px;
}

div.banner-danger {
	background: red;
	color: white;
}

div.banner-success {
	background: forestgreen;
	color: white;
}

div.comment {
	background: white;
	margin-bottom: 5px;
}

div.comment-header {
	background: #ffcd63;
	padding: 5px;
}

div.comment-body {
	padding: 5px;
}

div.comment-body p {
	margin: 0;
}

img.img-responsive {
	width: 100%;
}

div.label {
	font-weight: bold;
	color: #666;
}

div.submission-stats-box {
	margin: 6px 0;
	height: 50px;
}

#submission-stats-actions {
	width: 100px;
	float: left;
}

div.clear {
	clear: both;
}

div.submission-stats-row {
	margin-bottom: 4px;
}

span.elink {
	text-decoration: none;
	border-bottom: 1px dotted #864e14;
}

#submission-stats-stats {
	float: right;
	text-align: right;
}

#submission-stats-views {
	font-size: 16px;
	font-weight: bold;
}

.form-submit {
	width: 900px;
	margin: 5px;
}

.form-button-submit {
	background: #fff3db;
	padding: 3px 7px;
}

#uploadForm, #loginForm {
	text-align: center;
}