@function min-width-for($size) {
  $width: map-get($breakpoints, $size);
  @return '(min-width: #{$width})';
}

@mixin responsive($size) {
  @media #{min-width-for($size)} {
    @content;
  }
}

@mixin maxwidths() {
  // Default styles
  width: 100%;
  max-width: 100%;
  padding: 0 1rem; // Add some padding to avoid content touching the edges

  // Breakpoints for min-width and max-width to ensure the content doesn't get too narrow or too wide
  @include responsive('tiny') {
    max-width: 100%; // Allowing it to use the full available width
    min-width: 250px; // Preventing it from being too skinny
  }

  @include responsive('small') {
    max-width: 90%; // Using percentage for smoother scaling
    min-width: 400px;
  }

  @include responsive('medium') {
    max-width: 80%;
    min-width: 600px;
  }

  @include responsive('large') {
    max-width: 75%;
    min-width: 1000px;
  }
}
