<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>squareBracket</title>
<link rel="icon" href="./assets/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
<link href="./assets/retro/styles.css" rel="stylesheet" type="text/css">
<link rel="alternate" type="application/rss+xml" title="squareBracket " "="" recently="" added="" videos="" [rss]"="" href="http://www.youtube.com/rss/global/recently_added.rss">
</head>


<body>
<table width="800" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody><tr>
		<td style="padding-bottom: 25px;" bgcolor="#FFFFFF">
		

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr valign="top">
		<td rowspan="2" style="padding: 0px 5px 5px 5px;" width="130"><a href="index.php"><img src="./assets/retro/logo_sm.gif" alt="YouTube" width="120" height="48" border="0"></a></td>
		<td valign="top">
		
		<table width="670" cellspacing="0" cellpadding="0" border="0">
			<tbody><tr valign="top">
				<td style="padding: 0px 5px 0px 5px; font-style: italic;">Can't believe it's not PokTube</td>
				<td align="right">
				<table cellspacing="0" cellpadding="0" border="0">
					<tbody><tr>
					
				<td><a href="signup.php" class="bold">Sign Up</a></td>
				<td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
				<td><a href="login.php">Log In</a></td>
				<td>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
				<td style="padding-right: 5px;"><a href="help.php">Help</a></td>

				
			</tr>
		</tbody></table>
		</td>
		</tr>
		</tbody></table>
		</td>
	</tr>

		<tr>
		<td width="100%">
		
		<div style="font-size: 12px; font-weight: bold; float: right; padding: 10px 5px 0px 5px;"><a href="my_videos_upload.php">Upload</a> &nbsp;//&nbsp; <a href="browse.php">Browse</a> &nbsp;//&nbsp; <a href="my_friends_invite.php">Invite</a></div>
		
		<table cellspacing="0" cellpadding="2" border="0">
			<tbody><tr>
				<form method="GET" action="results.php"></form>
				<td>
					<input type="text" value="" name="search" size="30" maxlength="128" style="color:#ff3333; font-size: 14px; padding: 2px;">
				</td>
				<td>
					<input type="submit" value="Search">
				</td>
				
			</tr>
		</tbody></table>
		
		</td>
	</tr>

			
</tbody></table>

<table style="margin: 5px 0px 10px 0px;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#D5E5F5" align="center">
	<tbody><tr>
		<td><img src="./assets/retro/box_login_tl.gif" width="5" height="5"></td>
		<td><img src="./assets/retro/pixel.gif" width="1" height="5"></td>
		<td><img src="./assets/retro/box_login_tr.gif" width="5" height="5"></td>
	</tr>
	<tr>
		<td><img src="./assets/retro/pixel.gif" width="5" height="1"></td>
		
		<td width="100%">

		<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr>
					<td>
											<table cellspacing="0" cellpadding="2" border="0">
						<tbody><tr>
							<td>&nbsp;<a href="index.php" class="bold">Home</a></td>
							<td>&nbsp;|&nbsp;</td>
							<td><a href="my_videos.php">My Videos</a></td>
							<td>&nbsp;|&nbsp;</td>
							<td><a href="my_favorites.php">My Favorites</a></td>
							<td>&nbsp;|&nbsp;</td>
							<td><a href="my_friends.php">My Friends</a>&nbsp;<img src="./assets/retro/new.gif"></td>
							<td>&nbsp;|&nbsp;</td>
							<td><a href="my_profile.php">My Profile</a></td>
						</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			
			</td>
	
		<td><img src="./assets/retro/pixel.gif" width="5" height="1"></td>
	</tr>
	<tr>
		<td><img src="./assets/retro/box_login_bl.gif" width="5" height="5"></td>
		<td><img src="./assets/retro/pixel.gif" width="1" height="5"></td>
		<td><img src="./assets/retro/box_login_br.gif" width="5" height="5"></td>
	</tr>
</tbody></table>
<div style="padding: 0px 5px 0px 5px;">
{% block content %}{% endblock %}
<table cellspacing="0" cellpadding="10" border="0" align="center">
	<tbody><tr>
		<td valign="center" align="center"><span class="footer"><a href="whats_new.php">What's New</a> | <a href="about.php">About Us</a> | <a href="help.php">Help</a> | <a href="terms.php">Terms of Use</a> | <a href="privacy.php">Privacy Policy</a>
		<br><br>By the squareBracket contributors | <a href="rss/global/recently_added.rss"><img src="./assets/retro/rss.gif" style="vertical-align: text-top;" width="36" height="14" border="0"></a></span></td>
	</tr>
</tbody></table>



</body></html>