<!DOCTYPE html>
<html lang="en">
{% include "_head.twig" %}
<style>
body {
	background: #ffb552 !important;
}
</style>
<!-- smaller version of _layout.twig meant for bradley index -->
	<body>
		<div class="main-content">
			<div class="container page-container index">
				{% block content %}{% endblock %}
				<p>{{ __("By Chaz \"Gamerappa\" Péloquin and the cheeseRox contributors") }} · 2020-{{ 'now' | date('Y') }}
				</p>
			</div>
		</body>
	</div>
</html>
