<!DOCTYPE html>
<html lang="en">
{% block head %}{% endblock %}
{% include "_head.twig" %}
<style>
{% block customcss %}{% endblock %}
{% if pfpRoundness == 'square' %}
	.rounded {
		border-radius: 0;
	}
{% elseif pfpRoundness == 'rounded' %}
	.rounded {
		border-radius: 10%;
	}
{% endif %}
</style>
<body>
	{% include "components/_header.twig" %}
	{% block precontent %}{% endblock %}
	<div class="container page-container">
		<div class="col-md-4">
			<div class="sidebar">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
		<div class="col-md-8">
			<div class="page">
				{% block content %}{% endblock %}
			</div>
		</div>
	<footer>
		<div class="footer">
			<img src="/assets/logo-wordmark{% if theme == 'dark' %}-dark{% endif %}.png">
			<p><b>{{ __("By Chaz \"Gamerappa\" Péloquin and the cheeseRox contributors") }}</b> · 2020-{{ 'now' | date('Y') }}
			</p>
			<h5><a href="/githistory.php">{{ __("Git Commit") }} {{ git_commit() }}</a><br></h5>
			<!--
			<a class="button button-neutral button-small btnAdd" role="button">Options</a>
			<div id="myModal" class="bg-light" style="padding:0.3em;">

			</div> -->
		</div>
	</footer>
{% block custom_footer %}
{% endblock %}
</div>
</body>
</html>
