{% extends "_layout.twig" %}
{% block content %}
<h1>Welcome to the cheeseRox Randley (sic) layout.</h1>
				<form id="masthead-search" action="/search.php">
					<input type="text" name="query" placeholder="{{ __("Search...") }}">
					<button id="search-btn" class="button button-secondary">
					<span>Search</span>
					</button>
				</form>
{% endblock %}
