<h1>Options</h1>
<form action="customizer.php" method="post">
<h2>User interface</h2>
<label for="theme">Theme</label>
<select class="form-select" name="theme">
  <option value="default">Light</option>
  <option value="dark">Dark</option>
  <option value="bluey">Katt</option>
  <option value="nostalgia">Nostalgia</option>
</select>
<label for="language">Language</label>
<select class="form-select" name="language">
	{% for code,name in glob_languages %}
		{% if name %}<option value="{{ code }}" {% if code==userdata.language %}selected{% endif %}>{{ name }}</option>{% endif %}
	{% endfor %}
</select>
<br>
<h3>Profile picture roundness</h3>
<input type="radio" id="square" name="profilepicture" value="square">
<label for="square">Square</label>
<input type="radio" id="rounded" name="profilepicture" value="rounded">
<label for="rounded">Rounded</label>
<input type="radio" id="circle" name="profilepicture" value="default">
<label for="circle">Circle</label>
<input type="hidden" name="othermagic" value="MawGawdChazgame2IsBecomingPat">
<div class="right">
<input class="button button-primary" type="submit" name="action" value="{{ __("Save Changes") }}">
</div>
</form>