{% extends "_layout.twig" %}

{% block title %}Statistics{% endblock %}

	{% block content %}
	<div class="card">
		<div class="card-body">
			<div class="grid">
				<div class="col-md-4">
					<img src="/assets/partnership.png" class="img-fluid">
				</div>
				<div class="col-md-8">
					<h1>cheeseRox Partnership</h1>
					<p class="partnership-intro">You've got shit and an actual fanbase? Okay, then uhhhhh why not apply for partnership?
					You know I can't write proper shit, i'm sorry for this placeholder text.</p>
					The form will be added when I give a fuck.
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
