<dialog id="options-dialog" class="dialog fade">
    <div class="dialog-header">
        <h4 class="dialog-title">Options</h4>
    </div>
    <form action="customizer.php" method="post">
        <div class="dialog-body">
            <div class="alert alert-info">
                Localization functionality has been removed.
            </div>
            <div class="form-group">
                <label for="skin">Skin</label>
                <select class="form-select" name="skin">
                    {% for skin in skins %}
                        <option value="{{ skin.metadata.id }}">{{ skin.metadata.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="dialog-footer">
            <input class="btn btn-primary" type="submit" name="action" value="Save">
        </div>
    </form>
</dialog>