// these are most of the variables used by the default theme.

// colors

$threshold: 75%; // contrast threshold

$primary: #3498db; // primary color
$primary-darker: darken($primary, 33%); // darker primary color
$secondary: #f5f5f5; //secondary color (nearly white)
$green: #32cd32;
$yellow: #ffc107;
$red: #dc143c;

$color-map: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $green,
        "danger": $red,
        "warning": $yellow,
);

// fonts
$font: sans-serif;

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15

$breakpoints: (
        "tiny": (
                300px,
        ),
        "small": (
                500px,
        ),
        "medium": (
                950px,
        ),
        "large": (
                1250px,
        ),
);
//

// profile pictures

$pfp-roundness: 100%;

// buttons
$button-padding: 6px 11px;
$button-padding-small: 3px 8px;
$button-padding-huge: 0.5em 1em;

// content boxes
$content-box-background-color: #FFF;
$content-box-border-color: darken($secondary, 7.5%);
$context-box-padding: 12px;

// header
$header-main-height: 48px;
$header-user-height: 25px;
$header-logo-height: 30px;

// profile
$pfp-width-profiles: 70px;
$pfp-width-watch: 35px;
$profile-intro-height: 90px;