.banner {
  padding: 8px 5px;

  .notification-icon {
    font-size: 20px;
  }

  .notification-text {
    vertical-align: middle;
    height: 20px;
    display: inline-block;
  }
}

@each $color, $value in $color-map {
  .banner-#{$color} {
    background: $value;
    @include gradient-y($start-color: lighten($value, 2.5%), $end-color: $value);
    color: contrast-color($value, #000, #fff);

    // without this, for example, the "guidelines" link in "Make sure you have read the guidelines first"
    // would look weird as shit.
    a {
      color: contrast-color($value, #000, #fff);
    }
  }
}