.jumbotron {
  background: purple;

  &.homepage-banner {
    //background-size: cover;
    background: #FF8A00;
    // background: linear-gradient(180deg, rgba(255,114,61,1) 42%, rgba(254,180,45,1) 100%); (march-june 2024 gradient)
    //background: linear-gradient(to bottom, #ffc578 0%, #fb9d23 100%) center; (old 2022 cheeserox gradient)
    color: white;

    margin-top: -$header-main-height;
    height: 150px + $header-main-height;

    .jumbotron-container {
      padding-top: $header-main-height;
      height: 150px + $header-main-height;

      .jumbotron-welcome {
        flex-grow: 1;

        .jumbotron-logged-in {
          display: flex;
          align-items: center;

          .pfp {
            height: 100px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  &.profile-banner {
    background-size: cover;
    background: #111 center;

    margin-top: -($header-user-height + $header-main-height);
    height: 250px + ($header-user-height + $header-main-height);

    .jumbotron-container {
      padding-top: ($header-user-height + $header-main-height);
    }
  }

  // duplicate of the page class
  .jumbotron-container
  {
    @include maxwidths();

    display: flex;
    align-items: center;
    margin: auto;
  }
}