.button {
  padding: $button-padding;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: $font;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.button-small {
    padding: $button-padding-small;
  }

  &.button-huge {
    font-size: 32px;
    padding: $button-padding-huge;
    border-radius: 10px;
  }
}

@each $color, $value in $color-map {
  .button-#{$color} {
    border: 1px solid darken($value, 9%);
    background-color: $value;
    @include gradient-y($start-color: lighten($value, 2.5%), $end-color: $value);
    color: contrast-color($value, #000, #fff);

    &:hover {
      background-color: lighten($value, 10%);
      @include gradient-y($start-color: lighten($value, 10%), $end-color: lighten($value, 1.5%));
      border-color: darken($value, 10%);
    }

    &:active {
      background-color: darken($value, 5%);
      @include gradient-y($start-color: $value, $end-color: lighten($value, 5%));
      border-color: darken($value, 12%);
    }
  }
}
