.comment {
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  border-bottom: 1px solid $content-box-border-color;

  &:last-child {
    border-bottom: none;
  }

  img.pfp {
    width: 50px;
    height: 50px;
  }

  .comment-body {
    //width: 775px;
    width: 100%;
    margin-left: 10px;

    .comment-contents {
      margin-top: 6px;

      p {
        margin: 0;
      }
    }
  }
}

#replies {
  margin-top: 15px;
  .comment {
    img.pfp {
      width: 32px;
      height: 32px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.new-comment, .reply-form {
  margin-bottom: 5px;

  #comment_button, .submit-reply-button {
    margin-left: auto;
    display: block;
    padding: 5px 10px;
  }
}