.thumbnail
{
    border-radius: 4px;
    border: 1px solid $content-box-border-color;
}

.content-header
{
    background: $content-box-border-color;
    padding: $context-box-padding;
    font-size: 14px;
    font-weight: bold;

    &.profile-stats
    {
        background: darken($content-box-border-color, 2.5%);
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        .stat {
            margin: 0 4px;
        }
    }
}

.content-header-right
{
    float: right;
    padding: 2px 5px 0px 0px;
    font-size: 12px;
}

.content-box
{
    border: 1px solid $content-box-border-color;
    background: $content-box-background-color;
    padding: $context-box-padding;
    overflow: hidden;
    word-break: break-word;
    border-radius: 4px;

    .content-entry
    {
        clear: both;
        padding: 6px 2px;
        border-bottom: 1px solid $content-box-border-color;
        .content-image
        {
            margin-right: 8px;
        }
    }

    .content-entry-index
    {
        max-height: 140px;
        text-align: center;

        // make "By [uploader]" (index) and "[submission title]" (profile) text smaller
        .content-author {
            font-size: 10px;
            font-weight: normal;

            max-width: 125px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;

            // make links thinner
            a {
                font-weight: normal;

                // bring back bold weight for userlinks
                &.userlink {
                    font-weight: bold;
                }
            }
        }

        // Thumbnails as seen in the browse and profile pages.
        .content-image-container {
            display: table;
            text-align: center;
            margin: auto;
            height: 120px;
            a.content-image-link {
                display: table-cell;
                vertical-align: middle;
                .content-image {
                    max-height: 120px;
                    max-width: 120px;
                    margin: 2px auto;
                }
            }
        }
    }

    &.centered {
        text-align: center
    }

    &.dark {
        background: #404040;
    }

    .content-text {
        width: 680px;
        margin: 0 auto;
        word-wrap: break-word;
    }

    .text-title {
        font-size: 16pt;
        margin-bottom: 5px;

        &.tabled {
            display: table;

            span {
                padding-left: 4px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

.content-title
{
    font-size: 13px;
}

.content-description
{
    font-size: 11px;
    margin-bottom: 10px;
}

.icons {
    .rating-spacing {
        margin-right: 3px;
    }
}