.thumbnail
{
    border: 1px solid $image-border-color;
}

.content-header
{
    background: $content-box-border-color;
    padding: $context-box-padding;
    font-size: 14px;
    font-weight: bold;

    &.profile-stats
    {
        background: darken($content-box-background-color, 10%);
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        .stat {
            margin: 0 4px;
        }
    }
}

.content-header-right
{
    float: right;
    padding: 2px 5px 0px 0px;
    font-size: 12px;
}

.content-box
{
    border: 1px solid $content-box-border-color;
    background: $content-box-background-color;
    padding: $context-box-padding;
    overflow: hidden;
    word-break: break-word;

    &.no-border-top {
        border-top: none;
    }

    &.content-box-profile-submissions
    {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .content-entry
    {
        display: flex;
        padding: 6px 2px;
        border-bottom: 1px solid $content-box-border-color;

        &:last-child {
            border-bottom: none;
        }

        .content-info {
            .content-title {
                font-size: 13px;
            }

            .content-description {
                font-size: 11px;
                margin-bottom: 8px;
            }

            .content-rating {
                font-size: 12px;
                .rating-spacing {
                    margin-right: 3px;
                }
            }
        }

        .content-image
        {
            margin-right: 8px;
        }
    }

    .content-entry-small
    {
        &.content-entry-profile
        {
            width: 125px;
            height: 140px;
        }

        max-height: 140px;
        text-align: center;

        // make "By [uploader]" (index) and "[submission title]" (profile) text smaller
        .content-author {
            font-size: 10px;
            font-weight: normal;

            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;

            // make links thinner
            a {
                font-weight: normal;

                // bring back bold weight for userlinks
                &.userlink {
                    font-weight: bold;
                }
            }
        }

        // Thumbnails as seen in the browse and profile pages.
        .content-image-container {
            display: table;
            text-align: center;
            margin: auto;
            height: 120px;
            a.content-image-link {
                display: table-cell;
                vertical-align: middle;
                .content-image {
                    max-height: 120px;
                    max-width: 120px;
                    margin: 2px auto;
                }
            }
        }
    }

    &.centered {
        text-align: center
    }

    &.dark {
        background: darken($content-box-background-color, 70%);
        border-color: darken($content-box-border-color, 65%);
    }

    .content-text {
        width: 680px;
        margin: 0 auto;
        word-wrap: break-word;
    }

    .text-title {
        font-size: 24px;
        margin-bottom: 5px;

        &.smaller {
            font-size: 18px;
        }

        &.tabled {
            display: table;

            span {
                padding-left: 4px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}