.thumbnail
{
    border: 1px solid $image-border-color;
}

.content-box
{
    border: 1px solid $content-box-border-color;
    background: $content-box-background-color;
    padding: $context-box-padding;
    overflow: hidden;
    word-break: break-word;

    &.no-border-top {
        border-top: none;
    }

    .content-entry
    {
        display: flex;
        padding: 6px 2px;
        border-bottom: 1px solid $content-box-border-color;

        &:last-child {
            border-bottom: none;
        }

        .content-info {
            .content-title {
                font-size: 13px;
            }

            .content-description {
                font-size: 11px;
                margin-bottom: 8px;
            }

            .content-rating {
                font-size: 12px;
                .rating-spacing {
                    margin-right: 3px;
                }
            }
        }

        .content-image
        {
            margin-right: 8px;
        }
    }

    .content-entry-small
    {
        max-height: 140px;
        text-align: center;

        // make "By [uploader]" (index) and "[submission title]" (profile) text smaller
        .content-author {
            font-size: 10px;
            font-weight: normal;

            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            white-space: nowrap;

            // make links thinner
            a {
                font-weight: normal;

                // bring back bold weight for userlinks
                &.userlink {
                    font-weight: bold;
                }
            }
        }

        // Thumbnails used by the "Random Uploads" thing in homepage.
        .content-image-container {
            display: table;
            text-align: center;
            margin: auto;
            height: 120px;
            a.content-image-link {
                display: table-cell;
                vertical-align: middle;
                .content-image {
                    max-height: 120px;
                    max-width: 120px;
                    margin: 2px auto;
                }
            }
        }
    }

    // only used by "invite keys" admin panel section
    &.centered {
        text-align: center
    }
}