.headers {
  position: sticky;
  top: 0;
  z-index: 47101;
}

.header-links
{
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;

  .user-menu-container {
    direction: rtl;

    .user-menu-button {
      height: $header-height;
      padding: 5px;
      direction: ltr;
      display: flex;
      gap: 5px;
      align-items: center;

      &:hover, &.selected {
        background: rgba(white, 0.1);
        cursor: pointer;
      }

      .user-menu-pfp {
        width: $header-pfp-width;
      }

      .user-menu-caret-container {
        display: inline-block;
        font-size: 10px;
        color: #7B7B7B;
      }
    }
  }
}

.header-logo
{
  a {
    display: block;
    height: $header-logo-height;

    &:focus {
      outline: none;
    }
  }

  .logo {
    @include responsive('tiny') {
      display: none;
    }
    @include responsive('medium') {
      display: inline;
    }
    height: $header-logo-height;
  }

  .logo-small {
    @include responsive('tiny') {
      display: inline;
    }
    @include responsive('medium') {
      display: none;
    }
    height: $header-logo-height;
  }

  margin-right: 10px;
}

form.header-search
{
  position: relative;
  display: none;

  #header-search-button {
    position: absolute;
    right: 0;

    background: none;
    border: none;

    color: #B4B4B4;

    height: 30px;
    width: 34px;
  }

  #header-search-input {
    border: 1px solid black;
    color: #eee;
    background: #575757;
    box-shadow: 0 1px 0 #333;

    padding: 6px 40px 6px 6px;

    height: 30px;

    &:focus {
      background: #eee;
      color: #222;
      box-shadow: 0 1px 0 #000;
    }
  }

  @include responsive('tiny') {
    max-width: 120px;
  }
  @include responsive('small') {
    display: block;
    margin-left: 5px;
    max-width: 200px;
    #header-search-input {
      width: 100px;
    }
  }
  @include responsive('medium') {
    display: block;
    margin-left: 15px;
    max-width: 300px;

    #header-search-input {
      width: 200px;
    }
  }

  .form-button-container {
    display: inline;
  }
}

td.h
{
  padding: 5px;
}

.menulink
{
  color: white;
  margin: 0 6px;
  font-weight: bold;

  &.username {
    display: none;

    @include responsive('medium') {
      display: inline;
    }
  }
}

.header
{
  .header-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }

  width: 100%;
  background: linear-gradient(to bottom, #333, #111);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  height: $header-height;
  display: flex;
}

.menu#user-menu {
  background: #2A2A2A;
  border: none;
  min-width: 165px;
  top: $header-height;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(black, 0.6);

  hr {
    border-color: #777;
    margin: 4px 0;
  }

  .menu-item-button {
    color: white;

    &.small {
      font-size: 11px;
    }

    &:hover {
      background: rgba(white, 0.1);
      text-decoration: none;
    }
  }
}