.jumbotron {

  &.page-banner {
    h1, p {
      margin: 0;
    }

    background: #111 url("/assets/biscuit_banner.svg");
    background-size: cover;
    color: white;
    text-shadow: 0 0 0.5em #00000090;
    padding: 20px 0;
  }

  &.homepage-banner {
    h1, p {
      margin: 0 0 12px 0;
      &:last-child {
        margin: 0;
      }
    }

    &.fulptube {
      background: #d90808 url("/assets/biscuit_banner_fulp.svg");
    }

    background: #111 url("/assets/biscuit_banner.svg");
    background-size: cover;
    color: white;
    text-shadow: 0 0 0.5em #00000090;

    margin-top: -$header-height;
    height: 150px + $header-height;

    .jumbotron-container {
      padding-top: $header-height;
      height: 150px + $header-height;

      .jumbotron-welcome {
        flex-grow: 1;

        .jumbotron-logged-in {
          display: flex;
          align-items: center;

          .pfp {
            height: 110px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  &.profile-banner {
    background: #111 center/cover;
    margin-top: -$header-height;
    height: 250px + $header-height;

    .jumbotron-container {
      padding-top: $header-height;
    }
  }

  // duplicate of the page class
  .jumbotron-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    margin: auto;
  }
}