/* Style for the menu */
.menu {
  display: none;
  position: absolute;
  background-color: $content-box-background-color;
  border: 1px solid $content-box-border-color;
  padding: 5px 0;
  min-width: 100px;
  z-index: 5259;

  .menu-item-button {
    direction: ltr;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 5px 10px;
    color: rgba(black, 80%);
    gap: 5px;
    &:hover {
      color: black;
    }

    .menu-item-profile-picture {
      width: 24px;
      border: 1px solid $image-border-color;
    }
  }
}

/* Style for the button */
.menuButton {
  cursor: pointer;
}