// because pagination looks weird with normal buttons

.pagination {
  margin-top: 7px;
  text-align: center;

  .pagination-ellipsis {
    color: #999;
    padding: 0 4px;
  }

  .pagination-item {
    display: inline-block;

    padding: 4px 8px;
    border: 1px solid $content-box-border-color;
    background: $content-box-background-color;

    a {
      color: #333;
    }

    &.current {
      background: $primary;
      border: 1px solid adjust-hue(darken($primary, 4%), 2);
      color: white;
    }
  }
}