.profile-box {
  display: flex;
  padding: 8px;
  height: $profile-intro-height;

  &.centered {
    text-align: center
  }

  h1 {
    margin: 0;
    font-size: 14px;
  }

  .profile-box-pfp {
    width: $pfp-width-profiles;
    margin-right: 10px;

    .pfp {
      width: $pfp-width-profiles;
    }
  }

  .profile-box-info {
    width: 100%;
    line-height: 22px;

    .profile-box-username {
      font-size: 24px;
      font-weight: bold;
      .profile-box-instance-icon {
        width: 16px;
      }
    }

    .profile-box-handle {
      color: #777;
      font-size: 17px;
    }

    .profile-box-details {
      font-family: $font-serif;
      color: #777;
      font-style: italic;
    }
  }

  .profile-box-follow {
    width: 120px;
    text-align: right;
  }
}

.profile-intro {
  margin-top: -75px;

  .page-contents {
    margin: auto;
  }
}