.section {
  .section-title {
    display: flex;

    h1, h2, h3, h4, h5, h6 {
      display: inline;
      font-weight: normal;
      align-self: center;
      margin: 0;
      flex-grow: 1;
    }

    a {
      font-size: 14px;
      margin-left: 4px;
      align-self: center;
      &.userlink {
        margin-left: 0;
      }
    }

    margin-bottom: 0.5em;
  }
  margin-bottom: 1em;
}