.submission {
  text-align: center;
  background: $content-box-background-color;
  border: 1px solid $content-box-border-color;
  border-bottom: none;

  .img-submission {
    padding: 15px 15px;
  }
}


.content-box {
  &.watch-edit {
    a {
      margin-right: 7px;
      color: white;
    }
  }
}

.watch-box {
  background: $content-box-background-color;
  border: 1px solid $content-box-border-color;
  padding: $context-box-padding;
  overflow: hidden;
  word-break: break-word;
  border-radius: 4px;

  .watch-box-description {
    // duplicate of the content-text class
    max-width: 680px;
    margin: 0 auto;
    word-wrap: break-word;
  }

  .watch-box-row {
    // unlike finalium, biscuit does not have a proper grid system. the closest thing to a grid system are the
    // "page-left" and "page-right" classes, which are leftovers from earlier in the biscuit frontend's development
    // from august 2023 and is currently only used in the user profile page, which has an issue on small displays (eg:
    // phones) because of said classes. -bluffingo 12/8/2023

    display: flex;

    // view counter and star rating
    .watch-box-right {
      width: 25%;

      text-align: right;

      .watch-box-views {
        font-weight: 550;
        font-size: 16px;
      }
    }

    // author and upload date.
    .watch-box-left {
      display: flex;
      width: 75%;

      .watch-box-profile-picture {
        width: 56px;
        height: 56px;
        margin-right: 10px;
      }

      .watch-box-author {
        line-height: 20px;

        .watch-box-author-userlink {
          font-weight: 600;
          font-size: 14px;
        }

        .watch-box-author-info-small {
          color: gray;
          font-size: 11px;
        }
      }
    }
  }

  h1 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 500;
  }

}