<div class="row" id="commentField">
    <div class="col-md-16">
        <div>
            <textarea class="form-control" id="commentContents" style="overflow:hidden;resize:vertical" rows="3"
                        placeholder="{{ __("Write your comment here.") }}"></textarea>
        </div>
        <div class="text-right">
            <button id="post" class="btn btn-primary"
                    style="margin-bottom:0;">{{ __("Comment") }}</button>
        </div>
    </div>
</div>