{% if userdata.id == video.author %}<a
    class="button button-secondary button-small"
    href="/edit.php?v={{ video.video_id }}">{{ __("Edit") }}</a>{% else %}
    <button id="subscribe-watch"
            class="button button-{% if subscribed %}secondary{% else %}primary{% endif %} button-small"
            type="button"
            {% if not log or userdata.id == video.author %}disabled{% endif %}>{% if subscribed %}{{ __("Unfollow") }}{% else %}{{ __("Follow") }}{% endif %}</button>
{% endif %}