{% extends "_layout.twig" %}

{% set title = error_title %}

{% block content %}
    <div class="content-box">
        <h1>403 - {{ error_title }}</h1>
        {{ error_reason }}
    </div>
{% endblock %}