<div>Placeholder</div>
<div>
    <img src="/assets/placeholder/placeholder.png" width="200" height="200">
</div>
<div>
    <audio controls>
        <source src="{{ submission.file }}">
    </audio>
</div>