<!-- Default theme. -->
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@vime/core@^5/themes/default.css"
/>
<script
        defer
        type="module"
        src="https://cdn.jsdelivr.net/npm/@vime/core@^5/dist/vime/vime.esm.js"
></script>
<div style="text-align: left;">
    <vm-player
            style="--vm-player-theme: #e61ff7;"
            theme="dark"
    >
        {% if is_qobo %}
            <vm-dash
                    src="{{ submission.file }}"
                    version="latest"
                    poster="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}"
            ></vm-dash>
        {% else %}
            <vm-video
                    cross-origin="true"
                    poster="{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail) }}"
            >
                <source
                        data-src="/dynamic/videos/{{ submission.id }}.converted.mp4"
                        type="video/mp4"
                />
            </vm-video>
        {% endif %}

        <vm-default-ui></vm-default-ui>
    </vm-player>
</div>
<script>
    window.player = document.querySelector('vm-player');
</script>