<style>
    #oplayer {
        width: 100%;
        aspect-ratio: 16/9;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/@oplayer/core@latest/dist/index.ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@oplayer/hls@latest/dist/index.min.js"></script>
{% set video = "/dynamic/videos/" ~ submission.id ~ ".converted.mp4" %}
<div id="oplayer"></div>
<script>
    OPlayer.make('#oplayer', {
        source: {
            title: '{{ submission.title }}',
            src: '{{ video }}',
            poster: '{{ thumbnail(submission.id, submission.type, submission.bools.custom_thumbnail )}}'
        }
    })
        .use([
            OUI({
                theme: {
                    primaryColor: "{{ is_user_logged_in ? user_data.customcolor : '#1d89dc' }}",
                },
            }),
            OHls({
                forceHLS: true,
                // will lazy load hls.js
                library: 'https://cdn.jsdelivr.net/npm/hls.js@1.5.15/dist/hls.min.js'
            })
        ])
        .create()
</script>