{% extends "_layout.twig" %}

{% set title = "Customize" %}

{% block content %}
    <h1>Customize</h1>
    <p>Placeholder design, sorry.</p>
    <form name="uploadForm" id="uploadForm" method="post" action="theme">
        <label for="theme">Skin:</label>
        <select id="theme" name="theme">
            {% for skin in skins %}
                {% for theme in skin.metadata.themes %}
                    <option value="{{ skin.metadata.id }},{{ theme.id }}">{{ skin.metadata.name }}: {{ theme.name }}</option>
                {% endfor %}
            {% endfor %}
        </select>
        <br>
        <input type="submit" id="apply" name="apply"
               value="Apply">
    </form>
{% endblock %}