.banner {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(black, 0.1);
  margin-bottom: 5px;
  background-repeat: repeat-x;

  .notification-icon {
    margin-right: 7px;
    min-width: 20px;
    min-height: 20px;
    background-size: 20px;
  }
}

@each $color, $value in $color-map {
  .banner-#{$color} {
    @include gradient-y($start-color: adjust-hue(lighten($value, 1%), 2), $end-color: adjust-hue(darken($value, 9%), 6));
    border: 1px solid adjust-hue(darken($value, 10%), 6);
    color: contrast-color($value, #000, #fff);

    a {
      text-decoration: underline;
      color: contrast-color($value, #000, rgba(white, 0.7));
    }
  }
}
