.chat-send-shit {
  margin-top: 8px;
  display: flex;
  gap: 5px;
  .input {
    width: 100%;
  }
}

#chatbox {
  width: 100%;
  border: 1px solid $content-box-border-color;
  height: 300px;
  overflow-y: scroll;
  background: $content-box-background-color;
  padding: $content-box-padding;
}