.tabcontent {
  display: none;
}

.tabs {
  border-bottom: 1px solid $content-box-border-color;
  display: flex;
}

.tablink {
  font-family: $font;
  padding: 5px 12px;
  cursor: pointer;
  background-color: #fff0;
  margin-bottom: -1px;
  border-radius: 4px 4px 0 0;
  color: $link-color;
  display: inline-block;
  border: 1px solid #0000;

  &:hover {
    background-color: #ddd;
    text-decoration: none;
  }

  &.active {
    background-color: $content-box-background-color;
    border: 1px solid $content-box-border-color;
    border-bottom: 1px solid #fff0;
    color: black;
    font-weight: bold;
  }

  &:focus {
    outline: none;
  }
}