// colors

$threshold: 66%; // contrast threshold

$primary: #3498db; // primary color
@if $theme == "pink" {
        $primary: #edb1c1; // primary color
}
$primary-darker: darken($primary, 33%); // darker primary color
$secondary: #eee; //secondary color (nearly white)
$green: #28c228;
$red: #c01b0c;

$link-color: #0061c5;
@if $theme == "pink" {
        $link-color: #c61b7a;
}

$color-map: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $green,
        "danger": $red,
);

// colors used for the users section in the admin panel. taken from the ones on bitview, sorry!
$color-map-admin: (
        "banned-other-unbanned": #ff9696,
        "unbanned-other-banned": #ffc848,
        "banned": #ffcccc,
        "shadow-banned": #ffe2cc, // "Reuploader" on bitview
        "unbanned-other-unbanned": #fffdcc,
        "partner": #e2ffcc,
        "staff": #e2f0ff,
);

// fonts
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;

// https://medium.com/@jainbhavukspeaks/leveraging-scss-mixins-to-create-responsive-layouts-the-easy-way-5bbe4080cb15

$breakpoints: (
        "tiny": (
                300px,
        ),
        "small": (
                500px,
        ),
        "medium": (
                950px,
        ),
        "large": (
                1250px,
        ),
);
//

// pfps/thumbnails
$image-border-color: rgba(black, 0.25);

// buttons
$button-padding: 6px 11px;
$button-padding-small: 3px 8px;
$button-padding-big: 7px 15px;
$button-padding-huge: 0.5em 1em;

// content boxes
$content-box-background-color: #FFF;
$content-box-border-color: darken($secondary, 7.5%);
$content-box-padding: 12px;

// header
$header-height: 44px;
@if $theme == "cubicle" {
        $header-height: 30px;
} @else if $theme == "classic" {
        $header-height: 35px;
}
$header-logo-height: 30px;
$header-pfp-width: 28px;
@if $theme == "cubicle" {
        $header-pfp-width: 20px;
}

// profile
$pfp-width-profiles: 70px;
@if $theme == "cubicle" {
        $pfp-width-profiles: 100px;
}
$pfp-width-watch: 35px;
$profile-intro-height: 90px;