
.container.version {
  .grid {
    gap: 20px;
    align-items: center;
  }
}

.img-version {
  @include responsive('tiny') {
    max-width: 300px;
  }
  @include responsive('medium') {
    max-width: 100%;
  }
}

.col-version {
  @include responsive('tiny') {
    text-align: center;
    border-bottom: 1px solid $content-box-border-color;
    padding: 30px;
  }
  @include responsive('medium') {
    border-bottom: none;
    padding: 0;
  }
}