{% for video in videos %}
    {{ small_video_box(video) }}
{% endfor %}
<div class="center">
    <div class="button button-secondary" onclick="showMoreVideos()" id="fromUser">
        {{ __("More videos") }}
    </div>
</div>