{% extends "_layout.twig" %} 
	{% block title %}Home{% endblock%} 
	{% block precontent %} 
	<div id="frontJumbo" class="p-5 mb-4 {% if theme == 'dark' %}bg-dark text-white{% else %}bg-success text-white{% endif %}" style="margin-top:-20px;">
      <div class="container">
		{% if logged_in %}
			<div class="row">
				<div class="col-xl-10">
					<h1 class="display-5 fw-bold">Hi there, {{ current_user.username }}</h1>
					<a href="browse.php" class="btn btn-primary btn-lg">browse &rsaquo;</a>
				</div>
				<div class="col-xl-2 text-right">
					<img class="img-fluid" src="{{ profile_image(current_user.username) }}" alt="pfp">
				</div>
			</div>
		{% else %}
			<h1 class="display-5 fw-bold">Welcome to squareBracket <big>2.0</big></h1>
			<p class="col-xl-8 fs-4">This is like any other video sharing site... for now at least.</p>
			<p>	
				<a href="register.php" class="btn btn-primary btn-lg">Get started &rsaquo;</a>
				<br>
			</p>
			<p class="small">
				Already have an account?	
				<a href="login.php">Login</a>
			</p>
		{% endif %}
      </div>
    </div>
	{% endblock %} 
	{% block content %}
		<div class="row">
			<div class="col-xl-8">
				<div class="card">
					<div class="card-header"><i class="bi bi-star-fill"></i> Featured Videos</div>
					<div class="card-body">
						{% for video in videos %} 
							{{ video_box(video) }} 
						{% else %}
							<p>No uploaded videos. :^((</p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card">
					<div class="card-header"><i class="bi bi-newspaper"></i> Latest News</div>
					<div class="card-body">We rewrote the site. We also lost the domain. Have fun!</div>
				</div>
			</div>
		</div>
	{% endblock %}