{% extends "_layout.twig" %} 
	{% block title %}Home{% endblock%} 
	{% block precontent %} 
	<div id="frontJumbo" class="p-5 mb-4 bg-purple text-white" style="margin-top:-20px;">
      <div class="container">
		{% if logged_in %}
			<div class="row">
				<div class="col-xl-10">
					<h1 class="display-5 fw-bold">Hi there, {{ current_user.username }}</h1>
					<a href="browse.php" class="btn btn-primary btn-lg">Browse</a>
					<a href="settings.php" class="btn btn-secondary btn-lg">Edit my profile</a>
				</div>
				<div class="col-xl-2 text-end">
					<img class="img-fluid" src="{{ profile_image(current_user.username) }}" alt="pfp">
				</div>
			</div>
		{% else %}
			<h1 class="display-5 fw-bold">Welcome to squareBracket</h1>
			<p class="col-xl-8 fs-4">This is like any other video sharing site... for now at least.</p>
			<p>	<div class="btn-group">
					<a href="register.php" class="btn btn-primary btn-lg">Get started</a>
					<a href="login.php" class="btn btn-light btn-lg">Login</a>
				</div>
			</p>
		{% endif %}
      </div>
    </div>
	{% endblock %} 
	{% block content %}
		<div class="row">
			<div class="col-xl-9">
				<div class="card-group">
					<div class="card, col-xl-3">
					  <div class="card-header">
						{% if logged_in %}
						<div class="d-grid gap-2">
							<a href="browse.php" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
	  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
	</svg> Browse Videos</a>
						</div>
						{% else %}
							No login
						{% endif %}
					  </div>
			{% if logged_in %}
				<!-- BAD HACK BAD HACK BAD HACK -->
				<ul class="list-group list-group-flush">
				<li class="list-group-item" style="height: 1.19%;"><img class="float-start" style="max-width: 50%;" src="{{ profile_image(current_user.username) }}" alt="pfp">
				<p class="text-end float-end">
				<a href="#">My profile</a>
				</p>
				</li>
				<li class="list-group-item">From squareBracket</li>
				</ul>
			{% else %}
				You're not logged in
			{% endif %}
					</div>
					<div class="card">
						<div class="card-header bg-dark text-white">From squareBracket</div>
						<div class="card-body">
							{% for video in videos %} 
								{{ video_box(video) }} 
							{% else %}
								<p>No uploaded videos. :^((</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3">
					<p><small>Spotlight</small></p>
					<h5>Welcome to squareBracket!</h5>
					<p>squareBracket has been rewritten. Remember the old days 
					of inconsistent UI/CSS and garbage insecure code? That's 
					in the past.</p>
			</div>
		</div>
	{% endblock %}