{% extends "_layout.twig" %} 
	{% block title %}Home{% endblock%} 
	{% block precontent %} 
		{% if logged_in %}
			<div class="bs-docs-header" style="margin-top:-20px;margin-bottom:20px">
				<div class="container">
					<div class="row">
						<div class="col-xl-10">
								<h1>Hi there, {{ current_user.username }}</h1>
				<a href="browse.php" class="btn btn-primary btn-lg">browse &#x203A;</a>
							<br>
						</div>
						<div class="col-xl-2 text-right">
							<img width="192" src="{{ profile_image(current_user.username) }}" alt="pfp">
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="bs-docs-header" style="margin-top:-20px;margin-bottom:20px">
				<div class="container">
						<h1>Welcome to squareBracket <big>2.0</big></h1>
					<p>This is like any other video sharing site... for now at least.</p>
					<p>	<a href="register.php" class="btn btn-primary btn-lg">Get started &#x203A;</a>
						<br>
					</p>
					<p class="small">Already have an account?	<a href="login.php">Login</a>
					</p>
					<p></p>
				</div>
			</div>
		{% endif %} 
	{% endblock %} 
	{% block content %}
		<div class="row">
			<div class="col-xl-8">
				<div class="card">
					<div class="card-header"><i class="bi bi-star-fill"></i> Featured Videos</div>
					<div class="card-body">
						{% for video in videos %} 
							{{ video_box(video) }} 
						{% else %}
							<p>No uploaded videos. :^((</p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="card">
					<div class="card-header"><i class="bi bi-newspaper"></i> Latest News</div>
					<div class="card-body">We rewrote the site. We also lost the domain. Have fun!</div>
				</div>
			</div>
		</div>
	{% endblock %}