{% extends "_layout.twig" %}

{% block title %}{{ __("Login") }}{% endblock %}

{% block precontent %}
<style>
.form-signin {
  width: 100%;
  padding: 12px;
  margin: auto;
}
.god-is-dead {
max-width: 330px;
}
.gamerappa-killed-the-render-star {
width: 50%;
}
</style>
{% endblock %}

	{% block content %}
{% if error %}
	{% autoescape %}
		{{ error | raw }}
	{% endautoescape %}
{% else %}
	{% if not success == '' %}
		{% if success %}
		{% else %}
			{{ __("Incorrect username or password!") }}
		{% endif %}
	{% endif %}
{% endif %}
<main class="text-center">
  <form method="post" name="loginForm" id="loginForm" action="login.php">
	<div class="text-center">
    <img class="mb-2 gamerappa-killed-the-render-star" src="/assets/logo-wordmark.png" alt="squareBracket">
	</div>
	<div class="form-signin god-is-dead text-center">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
	<br>
    <input class="w-100 btn btn-lg btn-primary" type="submit" value="{{ __("Login") }}" name="loginsubmit">
  </form>
</main>
	{% endblock %}