{% extends "_layout.twig" %} 
	{% block title %}User Settings{% endblock%} 
	{% block content %}
		<script>
			$(document).ready(function(){
				$("#update").click(function(){
					$.post("settings.php",
					{
						description: $.trim($("#description").val()),
						color: $.trim($("#color").val())
					},
					function(data,status){
						if (status = "success") {
						}
					});
				});
			});
		</script>
		<textarea class="form-control" id="description" name="desc" maxlength="500" style="overflow:hidden;resize:none" rows="3" placeholder="Description"></textarea>
		<input type="color" class="form-control" id="color" value="">
		<button id="update" class="btn btn-primary">update</button>
	{% endblock %}