.footer
{
  .footer-container {
    @if $theme == "cubicle" {
      border-radius: 20px;
      background: #555753;
      color: #cccccc;

      a {
        color: #888a85;
      }

    } @else {
      border-top: 1px solid $content-box-border-color;
    }

    @include maxwidths();

    // shitty
    padding-top: 20px;
    padding-bottom: 20px;

    margin: auto;

    .footer-content {
      text-align: center;
      span {
        margin: 0 3px;
      }
    }

    .footer-logo-chaziz {
      margin-top: 5px;
      img {
        height: 15px;
      }
    }

    .footer-links {
      a {
        margin-right: 5px;
      }
    }
  }

  margin: 16px 0;
  line-height: 20px;
  clear: both;
}