.footer
{
  .footer-container {
    border-top: 1px solid $content-box-border-color;

    @include maxwidths();
    margin: auto;

    .footer-content {
      margin-top: 16px;
      text-align: center;
      span {
        margin: 0 3px;
      }
    }

    .footer-logo-chaziz {
      margin-top: 5px;
      img {
        height: 15px;
      }
    }

    .footer-links {
      a {
        margin-right: 5px;
      }
    }
  }

  margin: 16px 0;
  line-height: 20px;
  clear: both;
}