.headers {
  @if $theme == "cubicle" or $theme == "classic" {
    position: static;
  } @else {
    position: sticky;
  }

  @if $theme == "classic" {
    margin-top: 12px;
  }

  top: 0;
  z-index: 47101;
}

.header-main-links {
  display: flex;
  gap: 0.85em;
}

// actually known as user links, but back in 2023 the main browse/members links were aligned to the right so
// thats why this is called header-links.
.header-links
{
  text-align: right;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.85em;

  .user-menu-container {
    direction: rtl;

    .user-menu-button {
      height: $header-height;
      padding: 5px;
      direction: ltr;
      display: flex;
      gap: 5px;
      align-items: center;

      &:hover, &.selected {
        cursor: pointer;
      }

      @if $theme == "biscuit" {
        &:hover, &.selected {
          background: rgba(white, 0.1);
        }
      }

      @if $theme == "cubicle" {
        background: #64b713;
        border-left: 1px solid #4e9e00;
        border-right: 1px solid #4e9e00;

        &.selected {
          background: #2e2e2e;
          color: #76b900;
        }
      }

      .user-menu-pfp {
        width: $header-pfp-width;
      }

      .user-menu-caret-container {
        display: inline-block;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.75);
        @if $theme == "pink" or $theme == "classic" {
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

.header-logo
{
  a {
    display: block;
    @if $theme == "cubicle" or $theme == "classic" {
      @include responsive('tiny') {
        height: $header-logo-height;
      }
      @include responsive('medium') {
        height: 40px;
      }
    } @else {
      height: $header-logo-height;
    }

    &:focus {
      outline: none;
    }
  }

  .logo {
    @include responsive('tiny') {
      display: none;
    }
    @include responsive('medium') {
      display: inline;
    }
    @if $theme == "cubicle" or $theme == "classic" {
      height: 40px;
    } @else {
      height: $header-logo-height;
    }
  }

  .logo-small {
    @include responsive('tiny') {
      display: inline;
    }
    @include responsive('medium') {
      display: none;
    }
    height: $header-logo-height;
  }

  @if $theme != "cubicle" and $theme != "classic" {
    margin-right: 10px;
  }
}

form.header-search
{
  position: relative;
  display: none;

  @if $theme != "cubicle" and $theme != "classic" {
    #header-search-button {
      position: absolute;
      right: 0;

      background: none;
      border: none;

      color: #B4B4B4;

      height: 30px;
      width: 34px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #header-search-input {
    @if $theme != "cubicle" and $theme != "classic" {
      @if $theme == "pink" {
        background: #ffe0e0;
        border: #ff7c7c solid 1px;
        color: #444;
        box-shadow: none;
      } @else {
        border: 1px solid black;
        color: #eee;
        background: #575757;
        box-shadow: 0 1px 0 #333;
        padding: 6px 40px 6px 6px;
        height: 30px;
      }

      &:focus {
        @if $theme == "pink" {
          background: #ffe0e0;
          border: #ff7c7c solid 1px;
          box-shadow: #ff6d6d 0 1px 5px;
          color: #111;
        } @else {
          background: #eee;
          color: #222;
          box-shadow: 0 1px 0 #000;
        }
      }
    }
  }

  @include responsive('tiny') {
    max-width: 120px;
  }
  @include responsive('small') {
    display: block;
    margin-left: 5px;
    max-width: 200px;
    #header-search-input {
      width: 100px;
    }
  }
  @include responsive('medium') {
    display: block;
    @if $theme != "cubicle" {
      margin-left: 15px;
    }
    max-width: 300px;

    #header-search-input {
      width: 200px;
    }
  }

  .form-button-container {
    display: inline;
  }
}

td.h
{
  padding: 5px;
}

.menulink
{
  @if $theme == "pink" {
    color: black;
  } @else {
    color: white;
  }

  @if $theme == "cubicle" {
    font-size: 16px;
  }

  @if $theme != "classic" {
    font-weight: bold;
  }

  &.username {
    display: none;

    @include responsive('medium') {
      display: inline;
    }
  }
}

.header
{
  .header-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    @if $theme == "cubicle" {
      background: #4e9a06;
      font-family: "Trebuchet MS", $font;
      border-radius: 20px 20px 0 0;
      padding: 0 20px;
    } @else if $theme == "classic" {
      background: linear-gradient(to bottom, #858585, #202020);
      border-radius: 5px 5px 0 0;
    }
  }

  width: 100%;

  @if $theme == "pink" {
    background: linear-gradient(to bottom, #ffc2c2, #FF9A9A);
  } @else if $theme == "cubicle" or $theme == "classic" {
    background: none;
    box-shadow: none;
  } @else {
    background: linear-gradient(to bottom, #333, #111);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }

  height: $header-height;
  display: flex;
}

.menu#user-menu {
  background: #2A2A2A;
  border: none;
  min-width: 165px;
  top: $header-height;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(black, 0.6);

  hr {
    border-color: #777;
    margin: 4px 0;
  }

  .menu-item-button {
    color: white;

    &.small {
      font-size: 11px;
    }

    &:hover {
      background: rgba(white, 0.1);
      text-decoration: none;
    }
  }
}

// SOOS
.subheader {
  height: 23px;
  background: linear-gradient(to bottom, #E8E8E8, #D3D3D3);
  display: flex;
  .subheader-container {
    @include maxwidths();
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
}

// CUBICLE AND CLASSIC
.cubicle-header {
  padding: 5px 0;
  color: white;
  .cubicle-header-container {
    @include maxwidths();
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
}