<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>squareBracket</title>
    <link rel="stylesheet" href="/assets/project111/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="/assets/project111/common.js"></script>
    <script src="/bulmajs/bulma.js"></script>
</head>
<body>
{% block precontent %}
{% endblock %}
<section class="hero hero-brisbane is-fullheight section">
    <div class="columns is-vcentered">
        <div class="column is-narrow">
            <a href="index.php" class="has-text-white">Home</a>
        </div>
        <div class="column is-narrow">
            <a href="browse.php" class="has-text-white">Videos</a>
        </div>
        <div class="column">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="has-text-white is-pulled-right">@username</a>
        </div>
    </div>
{% block content %}
{% endblock %}
</section>
</body>
</html>