{% extends "_layout.twig" %}

{% block title %}Latest videos {% if page != 1 %}- Page {{ page }}{% endif %}{% endblock %}

	{% block content %}
        <h1>{{ title }}</h1>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <aside class="menu">
                            <p class="menu-label">
                                Categories
                            </p>
                            <ul class="menu-list">
                                <li><a href="browse.php?type=all" {% if type=='all' %}class="is-active" {% endif %}>All</a></li>
                                <li><a href="browse.php?type=misc" {% if type=='misc' %}class="is-active" {% endif %}>Miscellanous</a></li>
                                <li><a href="browse.php?type=entertainment" {% if type=='entertainment' %}class="is-active" {% endif %}>Entertainment</a></li>
                                <li><a href="browse.php?type=comedy" {% if type=='comedy' %}class="is-active" {% endif %}>Comedy & Humor</a></li>
                                <li><a href="browse.php?type=gaming" {% if type=='gaming' %}class="is-active" {% endif %}>Gaming</a></li>
                                <li><a href="browse.php?type=news" {% if type=='news' %}class="is-active" {% endif %}>News and Updates</a></li>
                                <li><a href="browse.php?type=life" {% if type=='life' %}class="is-active" {% endif %}>Lifestyle</a></li>
                                <li><a href="browse.php?type=technology" {% if type=='technology' %}class="is-active" {% endif %}>Science and Technology</a></li>
                                <li><a href="browse.php?type=backup" {% if type=='backup' %}class="is-active" {% endif %}>Archive Dump</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column">
                        {% for level in levels %}
                            {{ small_video_box(level) }}
                        {% else %}
                            <article class="message">
                                <div class="message-body">
                                    There are no videos of this category.
                                </div>
                            </article>
                        {% endfor %}

                        {% if type == 'all' %}
                            {% set le_url = 'browse.php?page=%s' %}
                        {% else %}
                            {% set le_url = 'browse.php?type=' ~ type ~ '&page=%s' %}
                        {% endif %}
                        {{ pagination(level_count, glob_lpp, le_url, page) }}

                        <br><br>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}