{% extends "_layout_brisbane.twig" %}

{% block content %}
   <div class="hero-body is-align-items-baseline">
      <div class="columns is-vcentered">
         <div class="column is-3">
            <img src="assets/logo-wordmark-dark.png" alt="squareBracket">
         </div>
         <div class="column is-one-third">
            <p class="control">
            <form action="/search.php">
               <input class="input is-rounded" name="tags" type="text" placeholder="Search">
            </form>
            </p>
         </div>
      </div>
   </div>
{% endblock %}