{% extends "_layout.twig" %}

{% block precontent %}
    <section class="hero is-small is-primary">
        <div class="hero-body">
            <h1 class="title">
                Statistics
            </h1>
            <p class="subtitle">
                About this instance of Qobo
            </p>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Users registered</p>
                        <p class="title">{{ stats.usercount }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Content uploaded</p>
                        <p class="title">{{ stats.videocount }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Views</p>
                        <p class="title">{{ stats.viewcount }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Comments</p>
                        <p class="title">{{ stats.commentcount }}</p>
                    </div>
                </div>
            </nav>
        </div>
    </section>
{% endblock %}