p {
	transition: 1s;
}

.col-large {
	flex: 0 0 auto;
	width: 64%;
	transition: 1s;
	/* border: 1px white solid; */
}

.col-gap {
	flex: 0 0 auto;
	width: 1%;
	transition: 1s;
	/* border: 1px white solid; */
}

.col-small {
	flex: 0 0 auto;
	width: 35%;
	transition: 1s;
	/* border: 1px white solid; */
}

.border {
	border-bottom: 1px solid white;
}

.row {
	display: flex;
}

.navbar {
	background: rgb(35, 156, 130);
	background: linear-gradient(90deg, rgb(52, 167, 29), rgb(19, 103, 100));
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-brand {
	font-family: Arial, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 25px;
	transition: 1s;
}

.nav-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: rgba(255, 255, 255, 0.95);
	display: inline;
	vertical-align: middle;
	text-decoration: none;
}

.navbar-brand {
	color: white;
}

h1.thin {
	font-weight: 400;
	font-size: 1.525rem;
}

.welcome {
	font-weight: 500;
	font-size: 1.525rem;
	margin: 0;
	transition: 1s;
}

.thin-small {
	font-size: 1.150rem;
	font-weight: 350;
}

.muted {
	color: rgba(255, 255, 255, 0.75);
	margin: -5px 0;
	font-size: 0.825rem;
}

.info-text {
	line-height: 80%;
}

.item {
	background-image: linear-gradient(to right, #1C8EDC, #1C55AD);
	padding: 5px 0 5px 20px;
	margin-top: 5px;
	font-size: 20px;
	transition: font-size 1s;
}

.btn {
	padding: .375rem 1.75rem;
	border-radius: 7.5px;
	background-color: #636363;
	border: 1px solid transparent;
	color: #fff;
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif";
	transition: 1s;
	width: 49%;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.btn-primary {
	background-color: #004BFF;
	background-image: linear-gradient(to bottom, #2670BB, #003DCE);
}

.btn-primary:hover {
	background-color: #004BFF;
	background-image: linear-gradient(to bottom, #007EFF, #004BFF);
}

.btn-primary:active {
	background-color: #004BFF;
	background-image: linear-gradient(to bottom, #004BFF, #2670BB);
}

.btn-download {
	background-color: #008605;
	background-image: linear-gradient(to bottom, #4FB22F, #008605);
}

.btn-download:hover {
	background-color: #06990C;
	background-image: linear-gradient(to bottom, #38E103, #06990C);
}

.btn-download:active {
	background-color: #008605;
	background-image: linear-gradient(to bottom, #008605, #38E103);
}

.alert {
	padding: 1rem;
	background-color: #d1d1d1;
	border-radius: .25rem;
}

.back {
	background-image: url("back.png");
	height: 27px;
	width: 27px;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 32px;
	margin-left: auto;
}

.container {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: .25rem;
	transition: 1s;
}

.container-max {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

body {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif";
	background: #262626;
	color: white;
	margin: 0;
	background-repeat: repeat-x;
}

@media screen and (max-width: 1000px) {
	.container {
		width: 95%;
		margin-top: .25rem;
	}
	.btn {
		padding: .5rem 8.5%;
		width: 100%;
	}
	.navbar-brand {
		font-size: 16px;
	}
	.col-large {
		width: 59.25%;
	}
	.col-gap {
		width: 1.50%;
	}
	.col-small {
		width: 39.25%;
	}
	.item {
		font-size: 25px;
	}
	.welcome {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 550px) {
	.container {
		width: 98.5%;
		margin-top: .25rem;
	}
	.btn {
		padding: 3.75%;
		width: 100%;
	}
	.navbar-brand {
		font-size: 15px;
	}
	.col-large {
		width: 64%;
	}
	.col-gap {
		width: 2%;
	}
	.col-small {
		width: 34%;
	}
	.item {
		font-size: 27.5px;
	}
	.welcome {
		font-size: 1.25rem;
	}
	.muted {
	display: none;
	}
	h1.thin {
	display: none;
	}
	p {
	font-size: 0.8rem;
	}
}
