<div class="card border-primary">
    <div class="card-body">
        <div class="col-lg-8">
			<p><small>Uploaded by {{ userlink(data, 'u_') }} on {{ data.time | date('M j, Y') }}  &bull; {{ data.views }} views</small></p>
			<p>{{ data.description }}</p>
        </div>
    </div>
</div>