{% extends "_layout-admin.twig" %}

{% block title %}{{ __("Admin") }}{% endblock %}

	{% block content %}
		<p>
			Please use the Biscuit frontend for any administration duties.
		</p>
	{% endblock %}