{% extends "_layout.twig" %}

{% block title %}{{ __("Settings") }}{% endblock %}

{% block content %}
<form action="settings" method="post" enctype="multipart/form-data">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Ratings</h5>
			<p class="card-text">Choose the option you are the most comfortable with. Higher rating submissions may not be appropriate.</p>
			<select class="form-select" name="rating" id="rating">
				<option value="general" {% if user_data.comfortable_rating == "general" %}selected{% endif %}>General</option>
				<option value="questionable" {% if user_data.comfortable_rating == "questionable" %}selected{% endif %}>Questionable</option>
				<option value="mature" {% if user_data.comfortable_rating == "mature" %}selected{% endif %}>Mature</option>
			</select>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Security</h5>
			<div class="form-input">
				<label for="current_pass" class="form-label">Current password:</label>
				<input class="form-control" type="password" name="current_pass" size="30" maxlength="256"
					   placeholder="Current password"><br>
			</div>

			<div class="form-input">
				<label for="pass" class="form-label">New password:</label>
				<input class="form-control" type="password" name="pass" size="30" maxlength="256" placeholder="New password"><br>
			</div>

			<div class="form-input">
				<label for="pass2" class="form-label">Confirm new password:</label>
				<input class="form-control" type="password" name="pass2" size="30" maxlength="256"
					   placeholder="Confirm new password">
			</div>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Profile</h5>
			<div class="form-input">
				<label for="profilePicture" class="form-label">Profile picture:</label>
				<input type="file" name="profilePicture" id="profilePicture" class="form-control">
			</div>

			<div class="form-input">
				<label for="title" class="form-label">Profile name:</label>
				<input class="form-control" type="text" name="title" size="45" maxlength="50" value="{{ user_data.title }}">
			</div>

			<div class="form-input">
				<label for="about" class="form-label">Profile description:</label>
				<textarea class="form-control" name="about" rows="5" cols="80" wrap="virtual">{{ user_data.about }}</textarea>
			</div>
		</div>
	</div>
	<br>
	<div class="text-end">
		<input type="submit" id="upload" name="save" class="btn btn-primary"
			   value="Save changes">
	</div>
</form>
{% endblock %}
