$threshold: 65%;

@import "_functions";
@import "_variables";

$teal: #468aca;
$red: #ce1818;
$white: #FCFCFC;
$black: #111;
$purple: #9c35ef;
$pink: #ff23b1;
$orange: #ff8800;
$yellow: #ffd104;
$cyan: #1778b8;
$blue: #297fd6;
$green: #74a60a;
$aqua: #20c997;

$light: #FFF;
$dark: #000;

$primary: $blue;
$secondary: $light;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$gray-dark: $gray-800;
$neutral: $gray-100;
$teal-color: $teal;
$aqua-color: $aqua;
$orange-color: $orange;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "neutral": $neutral,
        "light": $light,
        "dark": $gray-dark,
        "blue-green": $teal-color,
        "aqua": $aqua-color,
        "carrot": $orange-color,
);

/// Gradients \\\
@import "_gradients";

body {
  font: 12px Arial, sans-serif;
  background: #fff;
}

.page {
  width: 100%;
  margin-left: none;
}

/* a:link, a:visited, a:active {
  color: #03c;
} */

.container {
  width: 960px;
  padding: 0 5px 25px 5px;
}

.headertext {
  color: #fff !important;
}

.search_input {
  font: 12px Arial, Helvetica, sans-serif;
  width: 245px;
  padding: 2px 4px 3px;
  margin: 0;
  box-sizing: border-box;
}

// buttons

.button {
  padding: 0.3em 0.7em;
  border: 1px solid #ccc;
  margin-left: 0px;
  border-radius: 3px;
  font: 12px Arial, Helvetica, sans-serif;
}

.button-large {
  font-size: 17px;
}

.button-small {
  font-size: 11px;
}

@each $state, $value in $theme-colors {
  .button-#{$state} {
	border: 1px solid darken($value, 20%);
	background-color: $value;
	@include gradient-y($start-color: $value, $end-color: darken($value, 3.5%));
	color: contrast-color($value, $dark, $light) !important;
  }

  .button-#{$state}:hover, .button-#{$state}:focus {
	background-color: lighten($value, 1.5%);
	@include gradient-y($start-color: $value, $end-color: darken($value, 3.5%));
	border: 1px solid darken($value, 40%);
	color: contrast-color($value, $dark, $light) !important;
	box-shadow: 0 0 3px darken($value, 40%);
  }

  .button-#{$state}:active {
	border: 1px solid darken($value, 40%);
	background-color: lighten($value, 18.5%);
	@include gradient-y($start-color: darken($value, 20%), $end-color: $value);
  }
}

// buttons end

.main-content {
  background: white;
  background-size: cover;
  margin: 0;
  color: black;
  padding: 0;
  display: block;
}

.whatsnew {
  border: 1px solid #F6E4B8;
  background: #FFFFDB;
  border-radius: 7px;
  padding: 10px 15px;

  h3 {
    color: #CC6600;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}

.watchNext {
  h1 {
    font-weight: bold;
  }
}

.masthead-container {
	width: 960px;
	margin: 0 auto .8333em;
	border-bottom: 1px solid #f3f3f3;
	.masthead {
		margin: 0 auto;
		padding: 0.7em 0 0.4em;
		font-size: 1em;
		.logo {
			margin: 0 18px 0 0;
			display: block;
			float: left;
		}
		.masthead-search {
			float: left;
			white-space: nowrap;
			padding-top: 4px;
			.masthead-input {
				width: 22em;
				height: 2em;
			}
		}
		.masthead-nav {
			padding-left: 1em;
			line-height: 3em;
			float: left;
		}
		.masthead-utility {
			line-height: 3em;
			text-align: right;
			a.start { border-left: none; }
			a.end { padding-right: 0; }
		}
		.masthead-nav, .masthead-utility {
			a {
				padding: 0.1em 0.8em;
				border-left: 1px solid #ccc;
				white-space: nowrap;
			}
		}
		.masthead-user {
			float: none;
			margin-top: 0;
			margin-left: 0;
			position: relative;
			right: -4px;
			border: 1px solid transparent;
			background: none;
			height: 2em;
			.usermenushit {
				border: 1px solid #999;
				box-shadow: 0 0 3px #999;
				ul {
					margin: 0;
					li {
						a {
							border-left: none;
						}
					}
				}
			}
		}
		.masthead-user:hover, .masthead-user:focus {
			border-color: #999;
			background: #f3f3f3 linear-gradient(to bottom, #fff 0%, #ebebeb 100%);
			box-shadow: 0 0 3px #999;
		}
		.masthead-user:active {
			border-color: #999;
			background: #ddd linear-gradient(to bottom, #ccc 0%, #fff 100%);
		}
	}
}

.sectionTitle {
	border-bottom: 1px solid #ccc;
	color: #666;
	line-height: 2em;
	margin-top: 0;
	font-size: 1.05em;
}