/// Functions \\\
@import "_functions";
/// Normalize \\\
@import "_normalize";
/// Variables \\\
@import "_variables";

// bootstrap icons
$bootstrap-icons-font-dir: "/assets" !default;
@import "../../vendor/twbs/bootstrap-icons/font/bootstrap-icons.scss";

// inter
@import url('https://rsms.me/inter/inter.css');

/* SB CSS STARTS HERE ======================================================== */

html {
  height: 100%;
}

@import "_clearfix";
@import "_grid-breakpoints";

h1, h2, h3 {
  font-weight: 450;
}

h4, h5, h6 {
  font-weight: 400;
}

.clearfix {
  @include clearfix;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited {
  color: $primary;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration-line: underline;
}

p {
  line-height: 1.25em;
}

menu, ol, ul, li {
  list-style: none;
}

blockquote {
	color: #789922;
	margin: 0;
	p:before {
		content: ">";
	}
}

.t_user {
  color: #0000aa;
  font-weight: bold;
}

.dl {
  border-collapse: collapse;

  td {
    border: 1px solid black;
    padding: 7px;
  }
}

.noborder {
  border: 0;
}

.center {
  text-align: center;
}

// Pagination \\
.pagination {
	margin-top: 1em;
	font-size: 14pt;
	font-weight: bold;

	span {
		margin-left: 13px;
		display: inline-block;
	}
}

/// Generic text aligns \\\

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear_right {
  clear: right;
}

.main-content {
  //background: rgb(62,62,62);
  //background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(107,107,107,1) 35%, rgba(155,155,155,1) 100%);
  background: #FF8A00;
  margin:0;
  color:white;
  margin-top: -48px;
  padding: 75px 0px 20px;
  display: inline-block;
  width: 100%;
  .page-container {
    min-height: auto;
    h1, h2, h3, h4, h5, h6, p {
      padding: 0;
      margin: 8px 0;
    }
    h1 {
      font-weight:600;
      font-size: 2.5em;
    }
    .stats {
      font-size: 1.5em;
    }
  }
}

.chaziz-body {
  background: #2B3644 url(/assets/placeholder/login_bg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
}

.chazizPage {
  .form-signin {
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	width: 300px;
  }
}

.form-signin {
  input[type="text"],
  input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 100%;
    box-sizing: border-box;
  }
}

.form-long {
  width: 100%;
  box-sizing: border-box;
}

.uploader-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.33em;
}

.search-form {
  margin-bottom: 0.5em;
  font-size: 1.05em;
  padding: 0.25em;
  height: 100%;
}

.ti {
  display: inline-block;
  margin-top: -0.25em;
  vertical-align: middle;
}

#commentContents {
  width: 100%;
  box-sizing: border-box;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#logo-container {
  float: left;
  height: 33px;
  padding: 3px !important;
}

.masthead-user {
  float: right;
}

#masthead-below {
  display: none;
}

.page {
  width: calc(100% - $sidebarlength);
  margin-left: auto;
}

.comment {
  p {
    width: 100%;
    margin: 0;
  }

  img {
    width: 100%;
  }
}

#optionsModal, #debugModal {
  display: none;
}

.user-action-container {
  a {
    text-decoration: none;
  }
}

.small-stats {
  div {
    display: inline-block;
    margin-right: 1em;
  }
}

.commentPost {
  margin-bottom: 17.5px;
  .commentAuthor {
    .commentDisplayName {
      color: $gray-600;
      font-size: .9em;
    }

    .time {
      font-size: .9em;
    }
  }
}

#player-container {
	background-color: black;
	color: white;
	width: 100%;
	margin: 0;
}

// new navs

ul.nav {
	margin: 0;
	padding: 1em;
	.title { margin: 0 0 0.5em; }
	li { padding: 0.75em; } 
	li.active { background: $primary; a { color: white; } }
}

/// Imports \\\
@import "_imports";
/// Browser-specific fixes \\\
@import "_browser_shenanigans";