<div class="new-comment" id="comment_field">
    <textarea class="form-submit-wide" id="comment_contents" name="comment" maxlength="1000"
              placeholder="{{ localize('write_comment') }}" rows="4"></textarea>
    <button type="submit" id="comment_button" name="post" class="button button-secondary">
        {{ localize('post') }}
    </button>
</div>