<div class="new-comment" id="comment_field">
    <textarea class="form-submit-wide" id="comment_contents" name="comment" maxlength="1000"
              placeholder="Write your comment" rows="4"></textarea>
    <button type="submit" id="comment_button" name="post" class="button button-secondary">
        Post
    </button>
</div>