<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/assets/proto.css">
	{% block customcss %}{% endblock %}
</head>
<body>
<h1 class="pagetitle">{{ block('title') }}</h1>
<p class="subtitle">squareBracket</p>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>