{% extends "_layout.twig" %}

{% block title %}Latest videos {% if page != 1 %}(Page {{ page }}){% endif %}{% endblock %}

	{% block content %}
	<a class="{% if type == 'misc' %}sel{% endif %} button button-primary" href="browse.php?type=misc">Miscellanous</a>
	<a class="{% if type == 'entertainment' %}sel{% endif %} button button-primary" href="browse.php?type=entertainment">Entertainment</a>
	<a class="{% if type == 'comedy' %}sel{% endif %} button button-primary" href="browse.php?type=comedy">Shitposting & Comedy</a>
	<a class="{% if type == 'gaming' %}sel{% endif %} button button-primary" href="browse.php?type=gaming">Gaming</a>
	<a class="{% if type == 'news' %}sel{% endif %} button button-primary" href="browse.php?type=news">News and Updates</a>
	<a class="{% if type == 'life' %}sel{% endif %} button button-primary" href="browse.php?type=life">Life</a>
	<a class="{% if type == 'technology' %}sel{% endif %} button button-primary" href="browse.php?type=technology">Science & Technology</a>
	<a class="{% if type == 'backup' %}sel{% endif %} button button-primary" href="browse.php?type=backup">Archive Dump</a>
	<a class="{% if type == 'all' %}sel{% endif %} button button-primary" href="browse.php?type=all">All</a>
	<br>

{% for level in levels %}
	{{ video_box(level) }}
{% else %}
	There are no {% if type != 'all' %}{{ type }}{% endif %} videos. You could create one!
{% endfor %}

{% if type == 'all' %}
	{% set le_url = 'browse.php?page=%s' %}
{% else %}
	{% set le_url = 'browse.php?type=' ~ type ~ '&page=%s' %}
{% endif %}
{{ pagination(level_count, glob_lpp, le_url, page) }}

<br><br>
	{% endblock %}