{% extends "_layout.twig" %}
{% block title %}Main page{% endblock %}
	{% block content %}
<div class="row">
	<div class="col-8">
	<div class="p-1 mb-4 bg-light rounded-3">
	  <div class="container-fluid py-5">
		<h1 class="fw-bold">Welcome to squareBracket</h1>
		<p class="col-md-8 fs-4">I can't believe it's not PokTube</p>
		<a class="btn btn-primary btn-lg" href="register.php">Register {{ icon('caret-right-fill', 16) }}</a>
		<big>Already have an account? <a href="login.php">Sign in</a></big>
	  </div>
    </div>
	<h1>Recently uploaded to squareBracket</h1>
	{% for video in videos %}
		{{ video_box(video) }}
	{% else %}
		<p>{{ __("No uploaded videos.") }}</p>
	{% endfor %}
	</div>
	<div class="col-4">
		<h3>What's new?</h3>
		<p>Welcome to the brand new squareBracket!
		We've heard it, the old layout sucked so
		we have redesigned squareBracket to have
		a better user interface.</p>
	</div>
</div>
<br><br>
	{% endblock %}