<!DOCTYPE htmL PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/XxhtmL1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="BitView is the best place to share your videos with the world and your friends and family.">
<meta name="keywords" content="video, clips, camera, recording, upload, share">

<title>BitView - Davidbgc</title>
<link rel="stylesheet" type="text/css" href="assets/2008/main_channel.css">
<link rel="stylesheet" type="text/css" href="assets/2008/main_channel2.css">
</head>
    <body>
        <div class="wrapper">
            <style>
.headerBox {
    border: 1px solid #3399cc !important;
}
a{text-decoration:none;}a:hover{text-decoration:underline;}
h1, h2, h3, h4, h5, h6 {
  color: #222222 !important;
}
tr.commentsTableNBFull td {
  border-bottom: 1px solid #3399cc !important;
}
tr.bulletinTableFull td { 
  border-bottom: 1px dashed #3399cc !important;
  border-right: 1px solid #3399cc !important;
}
.headerTitleLeft, .headerTitle {
  color: #ffffff !important;
}
tr.bulletinTableFull th {
  border-bottom: 1px solid #3399cc !important;
  border-right: 1px solid #3399cc !important;
}
tr.bulletinTableNBFull td {
  background-color: #3399cc;
  border-bottom: 1px solid #3399cc !important;
  border-right: 1px solid #3399cc !important;
}
.bulletinTableFull {
  background-color: #ecf4fb !important;
}
.video-thumb-micro, .video-thumb-small, .video-thumb-medium, .video-thumb-large, .video-thumb-jumbo {
  border: 3px double #3399cc !important;
  background-color: #ecf4fb !important;
}
.vimg90 {
  border: 1px solid #3399cc !important;
}
.imgBrdr {
  border: 1px solid #3399cc !important;
}
.headerBoxOpacity[class] {
    background-color: #3399cc !important;
}
.basicBoxesOpacity[class] {
    background-color: #ecf4fb !important;
}
.headerRCBox .content  {
  background: #3399cc  !important;
}
.headerRCBox .rch * {
  background: #3399cc  !important;
}
.headerRCBox .rch1 {
  border-right: 1px solid #3399cc !important;
  border-left: 1px solid #3399cc !important;
}
.footerBox {
  background-color: #3399cc !important;
  border: 1px solid #3399cc !important;
}
.pagingDiv {
  background: #3399cc;
  color: #222222 !important;
}
.pagerCurrent {
  color: #3399cc  !important;
  border: 1px solid #3399cc !important;
}
.pagerNotCurrent {
  background-color: #ffffff !important; 
}
.headerRCBox .rch2 {
  border-right: 1px solid #3399cc !important;
  border-left: 1px solid #3399cc !important;
}
.headerRCBox .rch3 {
  border-right: 1px solid #3399cc !important;
  border-left: 1px solid #3399cc !important;
}
.headerRCBox .rch4 {
  border-right: 1px solid #3399cc !important;
  border-left: 1px solid #3399cc !important;
}
.headerRCBox .rch5 {
  border-right: 1px solid #3399cc !important;
  border-left: 1px solid #3399cc !important;
}
a.masthead:visited {
  color: #03C !important;
}
a.masthead:link {
  color: #03C !important;
}
a.masthead:active {
  color: #03C !important;
}
a.headerLink:visited {
  color: #03C !important;
}
a.headerLink:link {
  color: #03C !important;
}
a.headerLink:active {
  color: #03C !important;
}
#profileSubNav {
    color: #222222 !important;
}
a:link, a:visited, a:active {
    color: #0033CC !important;
}
body { 
background-color: #ffffff !important; 
}
#pBox {
    margin-bottom: 15px;
    border-bottom: 1px solid #3399cc !important;
}

.highlightBoxesOpacity[class] {
    background: #ecf4fb !important;
}
.highlightBoxes, .basicBoxes {
    border: 1px solid #3399cc !important;
    color: #222222;
}
.vfacets, .runtime {
    color: #222222 !important;
}
.vfacets a:link, a:visited {
    font-size: 11px;
}
#pbox {
    border-bottom: 1px solid #3399cc !important;
}
tr.commentsTableFull td, tr.bulletinTable td {
    border-bottom: 1px dashed #3399cc !important;
}
tr.bulletinTable td.firstCol {
    border-right: 1px solid #3399cc !important;
}
.user-thumb-micro, .user-thumb-small, .user-thumb-medium, .user-thumb-large, .user-thumb-jumbo {
    border: 3px double #3399cc !important;
    background-color: transparent;
}
.vimg, .vimg70 {
    border: 1px solid #3399cc !important;
}
.labels {
    color: #222222 !important;
}
tr.commentsTableFull td {
    color: #222222 !important;
}
.flaggingText {
    color: #222222 !important;
}
</style>
<div id="baseDiv">
                  <table class="channelMastheadTable">
            <tbody><tr>
                <td width="104" valign="absmiddle">
                    <a href="index.php"><img id="smallMastheadLogo" src="/assets/2008/logo_sm.gif"></a>
                </td>            
                <td valign="absmiddle" nowrap="">
                    <div class="alignL padTlg padLsm">
                        <a href="videos.php" class="masthead">Videos</a> | 
                        <a href="channels.php" class="masthead">Channels</a> |
                        <a href="groups.php" class="masthead">Groups</a> | 
                        <a href="my_videos_upload.php" class="masthead">Upload</a>
                    </div>
                </td>
    
                <td class="alignR" valign="top">
                
    <div class="smallText">
                    <b><a href="/signup.php" class="headerLink">Sign Up</a></b>
            |
            <a href="/my_profile.php" class="headerLink">Profile</a>
            |
            <a href="/viewing_history.php" onclick="" class="headerLink">History</a>
            |
            <a href="/help.php" class="headerLink">Help</a>
            |
            <a href="/login.php" class="headerLink">Log In</a>
            </div>
    <div class="searchDiv" style="margin-top:3px;">
            <form name="searchForm" id="searchForm" method="get" action="/results.php">
            <input tabindex="1" type="text" name="search" maxlength="128" id="searchField" class="searchField" value="">
            <select name="t">
                <option value="Search Videos">Videos</option>
                <option value="Search Users">Members</option>
                <option value="Search Groups">Groups</option>
                <option value="Search Playlists">Playlists</option>
            </select>
            <input type="submit" value="Search">
    </form>
    </div>

                    </td>                                           
            </tr>
        </tbody></table>
        <div class="clear"></div>
  <div><img id="smallMastheadBottom" src="/assets/2008/pixel.gif"></div>
  <div></div>    
        <br>
{% block content %}
{% endblock %}        
    </div>
        </div>
        
    
</body></html>