{% extends "_layout.twig" %}

{% block content %}
<div class="wrapper">            <style type="text/css">
.videoModifiers {
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.videoModifiers div.first {
    border-left: 0px;
    padding: 0px 10px 0px 2px;
}
.videoModifiers div.subcategory {
    border-left: 1px solid #ccc;
    padding: 0px 10px;
    font-size: 11px;
    display: inline;
}
.videoModifiers .selected {
    font-weight: bold;
}
</style>
<div id="header-wrapper">
    <div id="header-left">
    My Profile
    </div>
    <div class="clearL"></div>
</div>
<div class="videoModifiers">
        <div class="subcategory first"><span class="selected">My Profile</span></div>
        <div class="subcategory"><a href="/my_videos.php">My Videos</a></div>
        <div class="subcategory"><a href="/my_favorites.php">My Favorites</a></div>
        <div class="subcategory"><a href="/my_messages.php">My Messages</a></div>
        <div class="subcategory"><a href="/my_subscriptions.php">My Subscriptions</a></div>
        <div class="subcategory"><a href="/my_playlists.php">My Playlists</a></div>
        <div class="subcategory"><a href="/my_groups.php">My Groups</a></div>
        <div class="clear"></div>
</div>
<br>
<div style="font-size:14px;font-weight:bold;color:#666666;margin: 1px 0 10px"><img src="/assets/2008/pencil.png" style="width:15px;vertical-align:bottom;margin:0 2px 0 0;position:relative;bottom:1px" alt="Info"> Image Upload</div>
<table width="62%" cellspacing="0" cellpadding="5" border="0">
    <tbody><tr>
            <td align="right"><span style="font-weight:bold">Background Image:</span></td>
                        <form action="/my_profile.php" method="POST" enctype="multipart/form-data"></form>
            <td><input type="file" name="background_image"> <input type="submit" name="change_background_image" value="Submit Image"></td>
            
                    </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Avatar Image:</span></td>
                        <form action="/my_profile.php" method="POST" enctype="multipart/form-data"></form>
            <td><input type="submit" name="delete_avatar_image" value="Delete Image"></td>
            
                    </tr>
</tbody></table>
<form action="/my_profile.php" method="post">
    <div style="font-size:14px;font-weight:bold;color:#666666;margin: 1px 0 10px"><img src="/assets/2008/help.png" style="width:15px;vertical-align:bottom;margin:0 2px 0 0;position:relative;bottom:1px" alt="Info"> Personal Info</div>
    <table width="62%" cellspacing="0" cellpadding="5" border="0">
        <tbody><tr>
            <td width="110px" align="right"><span style="font-weight:bold">Name:</span></td>
            <td><input type="text" name="profile_name" value="Oh Shit, It's Gamerappa!" maxlength="30" style="width:150px"></td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Website:</span></td>
            <td><input type="text" name="profile_website" value="https://squarebracket.veselcraft.ru/" maxlength="64" style="width:200px"></td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Gender:</span></td>
            <td>
                <select name="profile_gender">
                    <option value="0">Private</option>
                    <option value="1" selected="">Male</option>
                    <option value="2">Female</option>
                </select>
            </td>
        </tr>
        <tr><td align="right"><span style="font-weight:bold">Relationship:</span></td>
        <td>
            <select name="profile_relationship">
                <option value="0" selected="">Private</option>
                <option value="1">Single</option>
                <option value="2">Taken</option>
                <option value="3">Married</option>
            </select>
        </td>
        </tr><tr>
            <td align="right"><span style="font-weight:bold">Birthday:</span></td>
            <td>
                <select name="month">
                                            <option value="1" selected="">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                    </select>
                <select name="day">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15" selected="">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                    </select>
                <select name="year">
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007" selected="">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                            <option value="1989">1989</option>
                                            <option value="1988">1988</option>
                                            <option value="1987">1987</option>
                                            <option value="1986">1986</option>
                                            <option value="1985">1985</option>
                                            <option value="1984">1984</option>
                                            <option value="1983">1983</option>
                                            <option value="1982">1982</option>
                                            <option value="1981">1981</option>
                                            <option value="1980">1980</option>
                                            <option value="1979">1979</option>
                                            <option value="1978">1978</option>
                                            <option value="1977">1977</option>
                                            <option value="1976">1976</option>
                                            <option value="1975">1975</option>
                                            <option value="1974">1974</option>
                                            <option value="1973">1973</option>
                                            <option value="1972">1972</option>
                                            <option value="1971">1971</option>
                                            <option value="1970">1970</option>
                                            <option value="1969">1969</option>
                                            <option value="1968">1968</option>
                                            <option value="1967">1967</option>
                                            <option value="1966">1966</option>
                                            <option value="1965">1965</option>
                                            <option value="1964">1964</option>
                                            <option value="1963">1963</option>
                                            <option value="1962">1962</option>
                                            <option value="1961">1961</option>
                                            <option value="1960">1960</option>
                                            <option value="1959">1959</option>
                                            <option value="1958">1958</option>
                                            <option value="1957">1957</option>
                                            <option value="1956">1956</option>
                                            <option value="1955">1955</option>
                                            <option value="1954">1954</option>
                                            <option value="1953">1953</option>
                                            <option value="1952">1952</option>
                                            <option value="1951">1951</option>
                                            <option value="1950">1950</option>
                                            <option value="1949">1949</option>
                                            <option value="1948">1948</option>
                                            <option value="1947">1947</option>
                                            <option value="1946">1946</option>
                                            <option value="1945">1945</option>
                                            <option value="1944">1944</option>
                                            <option value="1943">1943</option>
                                            <option value="1942">1942</option>
                                            <option value="1941">1941</option>
                                            <option value="1940">1940</option>
                                            <option value="1939">1939</option>
                                            <option value="1938">1938</option>
                                            <option value="1937">1937</option>
                                            <option value="1936">1936</option>
                                            <option value="1935">1935</option>
                                            <option value="1934">1934</option>
                                            <option value="1933">1933</option>
                                            <option value="1932">1932</option>
                                            <option value="1931">1931</option>
                                            <option value="1930">1930</option>
                                            <option value="1929">1929</option>
                                            <option value="1928">1928</option>
                                            <option value="1927">1927</option>
                                            <option value="1926">1926</option>
                                            <option value="1925">1925</option>
                                            <option value="1924">1924</option>
                                            <option value="1923">1923</option>
                                            <option value="1922">1922</option>
                                            <option value="1921">1921</option>
                                            <option value="1920">1920</option>
                                            <option value="1919">1919</option>
                                            <option value="1918">1918</option>
                                            <option value="1917">1917</option>
                                            <option value="1916">1916</option>
                                            <option value="1915">1915</option>
                                            <option value="1914">1914</option>
                                            <option value="1913">1913</option>
                                            <option value="1912">1912</option>
                                            <option value="1911">1911</option>
                                            <option value="1910">1910</option>
                                    </select>
            </td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Show Age:</span></td>
            <td>
                <select name="show_birthday">
                    <option value="0">Private</option>
                    <option value="1" selected="">Public</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight: bold">Country:</span></td>
            <td>
                <select name="profile_country">
                                            <option value="">None</option>
                                            <option value="AF">Afghanistan</option>
                                            <option value="AX">Åland Islands</option>
                                            <option value="AL">Albania</option>
                                            <option value="DZ">Algeria</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="AD">Andorra</option>
                                            <option value="AO">Angola</option>
                                            <option value="AI">Anguilla</option>
                                            <option value="AQ">Antarctica</option>
                                            <option value="AG">Antigua and Barbuda</option>
                                            <option value="AR">Argentina</option>
                                            <option value="AM">Armenia</option>
                                            <option value="AW">Aruba</option>
                                            <option value="AU">Australia</option>
                                            <option value="AT">Austria</option>
                                            <option value="AZ">Azerbaijan</option>
                                            <option value="BS">Bahamas</option>
                                            <option value="BH">Bahrain</option>
                                            <option value="BD">Bangladesh</option>
                                            <option value="BB">Barbados</option>
                                            <option value="BY">Belarus</option>
                                            <option value="BE">Belgium</option>
                                            <option value="BZ">Belize</option>
                                            <option value="BJ">Benin</option>
                                            <option value="BM">Bermuda</option>
                                            <option value="BT">Bhutan</option>
                                            <option value="BO">Bolivia</option>
                                            <option value="BA">Bosnia and Herzegovina</option>
                                            <option value="BW">Botswana</option>
                                            <option value="BV">Bouvet Island</option>
                                            <option value="BR">Brazil</option>
                                            <option value="IO">British Indian Ocean Territory</option>
                                            <option value="BN">Brunei Darussalam</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="BF">Burkina Faso</option>
                                            <option value="BI">Burundi</option>
                                            <option value="KH">Cambodia</option>
                                            <option value="CM">Cameroon</option>
                                            <option value="CA" selected="">Canada</option>
                                            <option value="CV">Cape Verde</option>
                                            <option value="KY">Cayman Islands</option>
                                            <option value="CF">Central African Republic</option>
                                            <option value="TD">Chad</option>
                                            <option value="CL">Chile</option>
                                            <option value="CN">China</option>
                                            <option value="CX">Christmas Island</option>
                                            <option value="CC">Cocos (Keeling) Islands</option>
                                            <option value="CO">Colombia</option>
                                            <option value="KM">Comoros</option>
                                            <option value="CG">Congo</option>
                                            <option value="CD">Congo</option>
                                            <option value="CK">Cook Islands</option>
                                            <option value="CR">Costa Rica</option>
                                            <option value="CI">Côte d'Ivoire</option>
                                            <option value="HR">Croatia</option>
                                            <option value="CU">Cuba</option>
                                            <option value="CY">Cyprus</option>
                                            <option value="CZ">Czech Republic</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="DM">Dominica</option>
                                            <option value="DO">Dominican Republic</option>
                                            <option value="EC">Ecuador</option>
                                            <option value="EG">Egypt</option>
                                            <option value="SV">El Salvador</option>
                                            <option value="GQ">Equatorial Guinea</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="ET">Ethiopia</option>
                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                            <option value="FO">Faroe Islands</option>
                                            <option value="FJ">Fiji</option>
                                            <option value="FI">Finland</option>
                                            <option value="FR">France</option>
                                            <option value="GF">French Guiana</option>
                                            <option value="PF">French Polynesia</option>
                                            <option value="TF">French Southern Territories</option>
                                            <option value="GA">Gabon</option>
                                            <option value="GM">Gambia</option>
                                            <option value="GE">Georgia</option>
                                            <option value="DE">Germany</option>
                                            <option value="GH">Ghana</option>
                                            <option value="GI">Gibraltar</option>
                                            <option value="GR">Greece</option>
                                            <option value="GL">Greenland</option>
                                            <option value="GD">Grenada</option>
                                            <option value="GP">Guadeloupe</option>
                                            <option value="GU">Guam</option>
                                            <option value="GT">Guatemala</option>
                                            <option value="GG">Guernsey</option>
                                            <option value="GN">Guinea</option>
                                            <option value="GW">Guinea-Bissau</option>
                                            <option value="GY">Guyana</option>
                                            <option value="HT">Haiti</option>
                                            <option value="HM">Heard Island and McDonald Islands</option>
                                            <option value="VA">Holy See (Vatican City State)</option>
                                            <option value="HN">Honduras</option>
                                            <option value="HK">Hong Kong</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IS">Iceland</option>
                                            <option value="IN">India</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran, Islamic Republic of</option>
                                            <option value="IQ">Iraq</option>
                                            <option value="IE">Ireland</option>
                                            <option value="IM">Isle of Man</option>
                                            <option value="IL">Israel</option>
                                            <option value="IT">Italy</option>
                                            <option value="JM">Jamaica</option>
                                            <option value="JP">Japan</option>
                                            <option value="JE">Jersey</option>
                                            <option value="JO">Jordan</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="KE">Kenya</option>
                                            <option value="KI">Kiribati</option>
                                            <option value="KP">Democratic People's Republic of Korea</option>
                                            <option value="KR">Republic of Korea</option>
                                            <option value="KW">Kuwait</option>
                                            <option value="KG">Kyrgyzstan</option>
                                            <option value="LA">Lao People's Democratic Republic</option>
                                            <option value="LV">Latvia</option>
                                            <option value="LB">Lebanon</option>
                                            <option value="LS">Lesotho</option>
                                            <option value="LR">Liberia</option>
                                            <option value="LY">Libyan Arab Jamahiriya</option>
                                            <option value="LI">Liechtenstein</option>
                                            <option value="LT">Lithuania</option>
                                            <option value="LU">Luxembourg</option>
                                            <option value="MO">Macao</option>
                                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                            <option value="MG">Madagascar</option>
                                            <option value="MW">Malawi</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="MV">Maldives</option>
                                            <option value="ML">Mali</option>
                                            <option value="MT">Malta</option>
                                            <option value="MH">Marshall Islands</option>
                                            <option value="MQ">Martinique</option>
                                            <option value="MR">Mauritania</option>
                                            <option value="MU">Mauritius</option>
                                            <option value="YT">Mayotte</option>
                                            <option value="MX">Mexico</option>
                                            <option value="FM">Micronesia, Federated States of</option>
                                            <option value="MD">Moldova, Republic of</option>
                                            <option value="MC">Monaco</option>
                                            <option value="MN">Mongolia</option>
                                            <option value="ME">Montenegro</option>
                                            <option value="MS">Montserrat</option>
                                            <option value="MA">Morocco</option>
                                            <option value="MZ">Mozambique</option>
                                            <option value="MM">Myanmar</option>
                                            <option value="NA">Namibia</option>
                                            <option value="NR">Nauru</option>
                                            <option value="NP">Nepal</option>
                                            <option value="NL">Netherlands</option>
                                            <option value="AN">Netherlands Antilles</option>
                                            <option value="NC">New Caledonia</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="NI">Nicaragua</option>
                                            <option value="NE">Niger</option>
                                            <option value="NG">Nigeria</option>
                                            <option value="NU">Niue</option>
                                            <option value="NF">Norfolk Island</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="NO">Norway</option>
                                            <option value="OM">Oman</option>
                                            <option value="PK">Pakistan</option>
                                            <option value="PW">Palau</option>
                                            <option value="PS">Palestinian Territory, Occupied</option>
                                            <option value="PA">Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="QA">Qatar</option>
                                            <option value="RE">Réunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="RU">Russian Federation</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="BL">Saint Barthélemy</option>
                                            <option value="SH">Saint Helena</option>
                                            <option value="KN">Saint Kitts and Nevis</option>
                                            <option value="LC">Saint Lucia</option>
                                            <option value="MF">Saint Martin (French part)</option>
                                            <option value="PM">Saint Pierre and Miquelon</option>
                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                            <option value="WS">Samoa</option>
                                            <option value="SM">San Marino</option>
                                            <option value="ST">Sao Tome and Principe</option>
                                            <option value="SA">Saudi Arabia</option>
                                            <option value="SN">Senegal</option>
                                            <option value="RS">Serbia</option>
                                            <option value="SC">Seychelles</option>
                                            <option value="SL">Sierra Leone</option>
                                            <option value="SG">Singapore</option>
                                            <option value="SK">Slovakia</option>
                                            <option value="SI">Slovenia</option>
                                            <option value="SB">Solomon Islands</option>
                                            <option value="SO">Somalia</option>
                                            <option value="ZA">South Africa</option>
                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                            <option value="ES">Spain</option>
                                            <option value="LK">Sri Lanka</option>
                                            <option value="SD">Sudan</option>
                                            <option value="SR">Suriname</option>
                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="CH">Switzerland</option>
                                            <option value="SY">Syrian Arab Republic</option>
                                            <option value="TW">Taiwan, Province of China</option>
                                            <option value="TJ">Tajikistan</option>
                                            <option value="TZ">Tanzania, United Republic of</option>
                                            <option value="TH">Thailand</option>
                                            <option value="TL">Timor-Leste</option>
                                            <option value="TG">Togo</option>
                                            <option value="TK">Tokelau</option>
                                            <option value="TO">Tonga</option>
                                            <option value="TT">Trinidad and Tobago</option>
                                            <option value="TN">Tunisia</option>
                                            <option value="TR">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TC">Turks and Caicos Islands</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="AE">United Arab Emirates</option>
                                            <option value="GB">United Kingdom</option>
                                            <option value="US">United States</option>
                                            <option value="UM">United States Minor Outlying Islands</option>
                                            <option value="UY">Uruguay</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="VU">Vanuatu</option>
                                            <option value="VE">Venezuela</option>
                                            <option value="VN">Viet Nam</option>
                                            <option value="VG">Virgin Islands, British</option>
                                            <option value="VI">Virgin Islands, U.S.</option>
                                            <option value="WF">Wallis and Futuna</option>
                                            <option value="EH">Western Sahara</option>
                                            <option value="YE">Yemen</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                    </select>
            </td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight: bold">Channel Type:</span></td>
            <td>
                <select name="channel_type">
                                            <option value="0">None</option>
                                            <option value="1">Member</option>
                                            <option value="2">Comedian</option>
                                            <option value="3" selected="">Director</option>
                                            <option value="4">Guru</option>
                                            <option value="5">Musician</option>
                                            <option value="6">Reporter</option>
                                    </select>
            </td>
        </tr>
    </tbody></table>
    <div style="font-size:14px;font-weight:bold;color:#666666;margin: 15px 0 10px"><img src="/assets/2008/pencil.png" style="width:15px;vertical-align:bottom;margin:0 2px 0 0;position:relative;bottom:1px" alt="Pencil"> Interests</div>
    <table width="60%" cellspacing="0" cellpadding="5" border="0">
        <tbody><tr>
            <td width="110px" align="right"><span style="font-weight:bold">About Me:</span></td>
            <td><textarea name="profile_about" maxlength="256" style="width:350px;resize:vertical;height:275px;"></textarea></td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Hobbies:</span></td>
            <td><input type="text" name="profile_hobbies" value="" maxlength="128" style="width:200px"></td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Favorite Books:</span></td>
            <td><input type="text" name="profile_books" value="" maxlength="128" style="width:200px"></td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Favorite Movies:</span></td>
            <td><input type="text" name="profile_movies" value="" maxlength="128" style="width:200px"></td>
        </tr>
        <tr>
            <td align="right"><span style="font-weight:bold">Favorite Music:</span></td>
            <td><input type="text" name="profile_music" value="" maxlength="128" style="width:200px"></td>
        </tr>
    </tbody></table>

    <div style="font-size:14px;font-weight:bold;color:#666666;margin: 15px 0 10px"><img src="/assets/2008/painter.png" style="width:17px;vertical-align:bottom;margin:0 2px 0 0;position:relative;bottom:1px" alt="Painter"> Channel Customization</div>
<table width="60%" cellspacing="0" cellpadding="5" border="0">
        <tbody><tr>
            <td width="110px" align="right"><span style="font-weight:bold">Background:</span></td>
            <td><input type="color" name="color_background" value="#ffffff"> </td>
        </tr>

               <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Font Color:</span></td>
            <td><input type="color" name="color_font" value="#222222"></td>
        </tr>
        <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Title Font Color:</span></td>
            <td><input type="color" name="color_title_font" value="#ffffff"></td>
        </tr>
        <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Link Color:</span></td>
            <td><input type="color" name="color_links" value="#0033cc"></td>
        </tr>
        <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Header Font Color:</span></td>
            <td><input type="color" name="color_header_font" value="#ffffff"></td>
        </tr>
        <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Highlight Header:</span></td>
            <td><input type="color" name="color_highlight_header" value="#3399cc"></td>
        </tr>
        <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Highlight Inside:</span></td>
            <td><input type="color" name="color_highlight_inner" value="#ecf4fb"></td>
        </tr>
        <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Regular Header:</span></td>
            <td><input type="color" name="color_normal_header" value="#3399cc"></td>
        </tr>
        <tr>
            <td width="110px" align="right"><span style="font-weight:bold">Regular Inside:</span></td>
            <td><input type="color" name="color_normal_inner" value="#ffffff"></td>
        </tr>

        <tr>
            <td width="110px" align="center"><input type="checkbox" name="big_box" id="big_box" checked=""></td>
            <td><label for="big_box">Big Last Video Box</label></td>
        </tr>

        <tr>
            <td width="110px" align="center"><input type="checkbox" name="subs_box" id="subs_box" checked=""></td>
            <td><label for="subs_box">Subscriptions Box</label></td>
        </tr>

        <tr>
            <td width="110px" align="center"><input type="checkbox" name="subscrib_box" id="subscrib_box" checked=""></td>
            <td><label for="subscrib_box">Subscribers Box</label></td>
        </tr>
        
        <tr>
            <td width="110px" align="center"><input type="checkbox" name="bull_box" id="bull_box" checked=""></td>
            <td><label for="bull_box">Bulletins Box</label></td>
        </tr>
        <tr>
            <td width="110px" align="center"><input type="checkbox" name="videos_box" id="videos_box" checked=""></td>
            <td><label for="videos_box">Videos List Box</label></td>
        </tr>
        
        <tr>
            <td width="110px" align="center"><input type="checkbox" name="fav_box" id="fav_box" checked=""></td>
            <td><label for="fav_box">Favorites List Box</label></td>
        </tr>
        <tr>
            <td width="110px" align="center"><input type="checkbox" name="comment_box" id="comment_box" checked=""></td>
            <td><label for="comment_box">Comment List Box</label></td>
        </tr>
        <tr>
            <td width="110px" align="center"><input type="checkbox" name="lastrat_box" id="lastrat_box" checked=""></td>
            <td><label for="big_box">My Recent Ratings Box</label></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" name="save_profile" value="Save Changes"></td>
        </tr>
    </tbody></table></form>            </div>
{% endblock %}