{% extends "_layout-profile.twig" %}

{% block content %}
<div style="width: 875px; text-align: left;">
    <div id="mainContent"> 
    <h2 style="margin:0 0 2px">Write a comment<span style="font-size:12px;color:gray"> (for {{ userpagedata.name }})</span></h2>
<div style="margin-bottom:3px;font-family:arial,helvetica,sans-serif;color:#222222 !important">Channel comments appear on the users channel.</div>
<form action="/user.php?name={{ userpagedata.name }}" method="POST">
<table style="position:relative;right:4px" cellpadding="4px">
    <tbody><tr>
        <td><textarea maxlength="500" name="comment" cols="66" rows="6"></textarea></td>
    </tr>
    <tr>
        <td><input type="submit" name="post_comment" value="Post Comment"> <a href="/user.php?name={{ userpagedata.name }}"><button type="button">Cancel</button></a></td>
    </tr>
</tbody></table>
</form> 
        </div>
    </div>
{% endblock %}