{% extends "_layout.twig" %}

{% set title = "Modify submission" %}

	{% block content %}
        <div class="alert alert-danger" role="alert">Temporary design.</div>
        <form name="uploadForm" id="uploadForm" method="post" action="edit.php" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="hidden" name="vid_id" value="{{ data.id }}">
                    <input type="text" class="form-control form-long" name="title"
                        value="{{ data.title }}">
                    <textarea class="form-control form-long uploader-form" name="desc" maxlength="2000"
                            form="uploadForm"
                            style="overflow:hidden;resize:vertical" rows="3">{{ data.description }}</textarea>
                    <div class="text-right">
                        <input class="btn btn-primary" type="submit" id="upload" name="upload"
                            value="Save">
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}