<div class="panel panel-default">
    <div class="panel-body">
        <h1>Options</h1>
        <div class="alert alert-danger">
             Changing options within an OpenSB-based page is no longer supported.
        </div>
    </div>
</div>