<form action="customizer.php" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Options</h1>
            <div class="alert alert-info">
                Support for localization may not return in BettySB.
            </div>
            <select class="form-select" name="skin">
                {% for skin in skins %}
                    <option value="{{ skin.metadata.id }}">{{ skin.metadata.name }}</option>
                {% endfor %}
            </select>
            <div class="text-right">
                <input class="btn btn-primary" type="submit" name="action" value="Save">
            </div>
        </div>
    </div>
</form>