{% extends "_layout.twig" %}

{% block content %}
    <div>
        {% if updated %}
            <div class="header_message header-primary">Options changed!</div>
        {% endif %}
        {% for submission in submissions %}
            <div>
                <a href="/watch.php?v={{ submission.id }}">
                    <h2>{{ submission.title }}</h2>
                </a>
                <p>By {{ submission.author.id }}</p>
                <p>{{ submission.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}