{% extends "_layout.twig" %}

{% set title = "Home" %}

{% block content %}
    <div class="jumbotron">
        {% if is_user_logged_in %}
            <h1>Welcome to Qobo, {{ user_data.name }}.</h1>
        {% else %}
            <h1>Welcome to Qobo.</h1>
            <div>Here, you will find a mix of videos and images.</div>
        {% endif %}
    </div>
    <div class="content-header">
        <span>Recent submissions</span>
        <div class="content-header-right">
            <a href="browse.php">Browse</a>
        </div>
    </div>
    <div class="content-box">
        {% for submission in data.submissions_new %}
            {{ include('/components/_index_submission_2.twig') }}
        {% endfor %}
    </div>
    <div class="content-header">
        <span>Randomized list of submissions</span>
        <div class="content-header-right">
            <a href="browse.php">Browse</a>
        </div>
    </div>
    <div class="content-box">
        {% for submission in data.submissions %}
            {{ include('/components/_index_submission_2.twig') }}
        {% endfor %}
    </div>
{% endblock %}