{% extends "_layout.twig" %}

{% set title = "Login" %}

	{% block content %}
        {% if error %}
            <div class="banner banner-danger">{{ error }}</div>
        {% endif %}
        <div class="content-header">
            <span>Login to your Qobo account</span>
        </div>
        <div class="content-box">
            <div class="panel-body">
                <form method="post" name="loginForm" id="loginForm" action="login.php" class="form-signin">
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username" class="form-submit" placeholder="Username">
                    </div>

                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-submit" placeholder="Password">
                    </div>

                    <div class="form-button-container">
                        <input type="submit" class="form-button-submit" value="Login" name="loginsubmit">
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
