{% extends "_layout.twig" %}

{% block precontent %}
    <div class="jumbotron page-banner">
        <div class="jumbotron-container">
            <h1>{{ title }}</h1>
        </div>
    </div>
{% endblock %}

	{% block content %}
        <div class="tabs">
            <a class="tablink {% if page_name=='overview' %}active{% endif %}" href="/admin/overview">Overview</a>
            <a class="tablink {% if page_name=='users' %}active{% endif %}" href="/admin/users">Users</a>
            <a class="tablink {% if page_name=='uploads' %}active{% endif %}" href="/admin/uploads">Uploads</a>
            <a class="tablink {% if page_name=='interactions' %}active{% endif %}" href="/admin/interactions">Interactions</a>
            {% if invite_keys_enabled %}
                <a class="tablink {% if page_name=='invitekeys' %}active{% endif %}" href="/admin/invitekeys">Invite keys</a>
            {% endif %}
        </div>

        <div class="content-box no-border-top">
        {% block admincontent %}
        {% endblock %}
        </div>
    {% endblock %}