{% extends "_layout.twig" %}

{% block style %}
    <style>
        .jumbotron.profile-banner {
            background-image: url('{{ banner_picture }}');
        }
        {#
        body {
            background: #323232;
        }
        #}
    </style>
{% endblock %}

{% block precontent %}
    {% if current_theme not in ["classic", "cubicle"] %}
    <div class="jumbotron profile-banner"></div>
    {% endif %}
    <div class="profile-intro">
        <div class="page">
            <div class="page-contents">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}