{% extends "_layout.twig" %}

{% set title = "Browse" %}

{% block content %}
    <div class="section">
        <div class="section-title">
            <h1>Browse ({{ data.count }})</h1>
        </div>
        <div class="content-box">
            {% for submission in data.submissions %}
                {{ include('/components/_index_submission.twig') }}
            {% endfor %}
        </div>
        {% if data.type == 'all' %}
            {% set le_url = 'browse?page=%s' %}
        {% else %}
            {% set le_url = 'browse?type=' ~ type ~ '&page=%s' %}
        {% endif %}

        {{ pagination(data.count, 20, le_url, page) }}
    </div>
{% endblock %}