{% extends "_layout_login.twig" %}

{% set title = "Login" %}

	{% block content %}
        {% if error %}
            <div class="banner banner-danger">{{ error }}</div>
        {% endif %}
        <div class="section">
            <div class="section-title">
                <h1>Login</h1>
            </div>
            <div class="content-box rounded login">
                <div class="panel-body">
                    <form method="post" name="loginForm" id="loginForm" action="login" class="form-signin">
                        <div class="form-input">
                            <label for="username">Username:</label>
                            <input type="text" name="username" class="form-submit" placeholder="Username">
                        </div>

                        <div class="form-input">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="form-submit" placeholder="Password">
                        </div>

                        {# TODO #}
                        {% if not areWeRunningTheNewCode %}
                        <div class="form-input">
                            <input type="checkbox" name="remember_me" id="remember_me">
                            <label for="remember_me">Remember me (for up to a year)</label>
                        </div>
                        {% endif %}

                        <div class="form-button-container">
                            <input type="submit" class="button button-primary" value="Login" name="loginsubmit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}