{% extends "_layout.twig" %}

{% set title = "My uploads" %}

{% block content %}
    {% set items_per_page = 20 %}
    {% set total_pages = (data.count / items_per_page) | round(0, 'ceil') %}
    {% set current_page = page %}

    <div class="section">
        <div class="section-title">
            <h1>My uploads (Page {{ current_page }} of {{ total_pages }})</h1>
        </div>
        <div class="content-box">
            {% for submission in data.submissions %}
                {{ include('/components/_edit_submission.twig') }}
            {% endfor %}
        </div>
        {% set le_url = 'my_uploads?page=%s' %}

        {{ pagination(data.count, items_per_page, le_url, current_page) }}
    </div>
{% endblock %}