{% extends "_layout_login.twig" %}

{% set title = "Register" %}

	{% block content %}
        <div class="section">
            <div class="section-title">
                <h1>Register</h1>
            </div>
            <div class="content-box rounded login">
                <div class="panel-body">
                    <form method="post" name="loginForm" id="loginForm" action="register" class="form-signin">
                        <div class="form-input">
                            <label for="email">Email address:</label>
                            <input type="email" name="email" class="form-submit">
                        </div>

                        <div class="form-input">
                            <label for="username">Username:</label>
                            <input type="text" name="username" class="form-submit">
                        </div>

                        <div class="form-input">
                            <label for="pass1">Password:</label>
                            <input type="password" name="pass1" class="form-submit">
                        </div>

                        <div class="form-input">
                            <label for="pass2">Password (confirm):</label>
                            <input type="password" name="pass2" class="form-submit">
                        </div>

                        {% if invite_keys_enabled %}
                        <div class="form-input">
                            <label for="invite">Invite key:</label>
                            <input type="text" name="invite" class="form-submit">
                        </div>
                        {% endif %}

                        <div class="form-button-container">
                            <input type="submit" class="button button-primary" value="Register" name="registersubmit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-text">
                By registering on {{ website_branding.name }},
                you accept the <a href="/tos">Terms of Service</a>
                and <a href="/privacy">Privacy Policy</a>.
            </div>
        </div>
    {% endblock %}
