{% extends "_layout.twig" %}

{% set title = "Upload" %}

	{% block content %}
        <div class="section">
            <div class="section-title">
                <h1>Upload</h1>
            </div>
            <p style="font-weight: bold;">
                Make sure you have read the <a href="/guidelines">guidelines</a> first. Failure to comply
                with the guidelines will result in your upload being taken down. (No reuploads!)
            </p>
            <div class="content-box">
                <form name="uploadForm" id="uploadForm" method="post" action="upload" enctype="multipart/form-data">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-input">
                                <label for="title">Title (required):</label>
                                <input type="text" class="form-submit" id="title" name="title" required>
                            </div>

                            <div class="form-input">
                                <label for="desc">Description (optional):</label>
                                <textarea class="form-submit" name="desc" maxlength="65500"
                                          form="uploadForm"
                                          style="overflow:hidden;resize:vertical" rows="3"></textarea>
                            </div>

                            <div class="form-input">
                                <label for="tags">Tags (required):</label>
                                <input type="text" class="form-submit" name="tags" required>
                            </div>

                            <div class="form-input">
                                <label for="fileToUpload">File to upload (required):</label>
                                <input class="form-submit" type="file" name="fileToUpload" id="fileToUpload" required>
                            </div>

                            <div>File limit: {{ limit }}</div>

                            <div class="form-submit">
                                <input type="checkbox" name="rating" id="rating" value="true">
                                <label for="rating"> Is sensitive?</label><br>
                            </div>

                            <div class="form-button-container">
                                <input class="button button-primary" type="submit" id="upload" name="upload"
                                       value="Upload">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}