{% extends "_layout_login.twig" %}

{% set title = "Verify your birthdate" %}

	{% block content %}
        <div class="section">
            <div class="section-title">
                <h1>Verify your birthdate</h1>
            </div>
            <div class="content-box rounded login">
                <div class="panel-body">
                    <div>Before you can continue using {{ website_branding.name }}, please specify your birthdate.</div>
                    <hr>
                    <form method="post" name="loginForm" id="loginForm" action="/verify_birthdate" class="form-signin">
                        <div class="form-input">
                            <label for="birthdate">Birthdate:</label>
                            <input type="date" name="birthdate" required />
                        </div>

                        <div class="form-button-container">
                            <input type="submit" class="button button-primary" value="Submit" name="birthdatesubmit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}