{% extends "_layout.twig" %}

{% set title = "Write journal" %}

	{% block content %}
        <div class="section">
            <div class="section-title">
                <h1>Write a new journal entry</h1>
            </div>
            <div class="content-box">
                <form name="uploadForm" id="uploadForm" method="post" action="write" enctype="multipart/form-data">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-input">
                                <label for="title">Title:</label>
                                <input type="text" class="form-submit" id="title" name="title" required>
                            </div>

                            <div class="form-input">
                                <label for="desc">Content:</label>
                                <textarea class="form-submit" name="desc" maxlength="65535"
                                          form="uploadForm"
                                          style="overflow:hidden;resize:vertical" rows="10" required></textarea>
                            </div>

                            {% if user_is_authenticated_admin %}
                                <div class="form-input">
                                    <input type="checkbox" id="news" name="news" value="true">
                                    <label for="news"> Publish as website announcement</label><br>
                                </div>
                            {% endif %}

                            <div class="form-button-container">
                                <input class="button button-primary" type="submit" id="upload" name="upload"
                                       value="Submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}