<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>sbNext</title>
	<link rel="stylesheet" href="/assets/main.css">
	{% block customcss %}{% endblock %}
</head>
<body>
	<div class="header">
		<div class="links">
			<a width="121" height="32" href="index.php?frontend=new">
				<div class="logo"></div>
			</a>
			<a href="gordon.php?frontend=new" class="btn btn-primary header-right">Login</a>
		</div>
	</div>
	<div class="nav">
		<div class="links">
			<a href="index.php?frontend=new" class="link selected">Home</a>
			<a href="/browse.php?frontend=new" class="link">Browse</a>
			<a href="" class="link">Community</a>
			{% for menu_link in menu_links %}
				<a href="{{ menu_link.url }}" class="link">{{ menu_link.name }}</a>
			{% endfor %}
		</div>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
		<div class="text-center">
			<h4>squareBracket Beta 1</h4>
			<p>By squareBracket contributors · 2020-{{ 'now' | date('Y') }}</p>
			<p><small>CSS based on the GoodTube website by Diyamund.</small></p>
		</div>
	</div>
</body>
</html>