{% extends "_layout.twig" %}
	{% block content %}
<h1>squareBracket Next CSS Testing Area</h1>
<h2>Buttons</h2>
<button type="submit" class="btn btn-primary">Primary</button>
<button type="submit" class="btn btn-secondary">Secondary</button>
<button type="submit" class="btn btn-success">Success</button>
<button type="submit" class="btn btn-info">Info</button>
<button type="submit" class="btn btn-danger">Danger</button>
<button type="submit" class="btn btn-warning">Warning</button>
<button type="submit" class="btn btn-light">Light</button>
<button type="submit" class="btn btn-dark">Dark</button>
<button type="submit" class="btn btn-poktube">PokTube</button>
<button type="submit" class="btn btn-sneed">Sneed</button>
<h3>Sizing</h3>
<h4>Large</h4>
<button type="submit" class="btn btn-large btn-primary">Large primary</button>
<button type="submit" class="btn btn-large btn-secondary">Large secondary</button>
<button type="submit" class="btn btn-large btn-success">Large Success</button>
<button type="submit" class="btn btn-large btn-info">Large info</button>
<button type="submit" class="btn btn-large btn-danger">Large danger</button>
<button type="submit" class="btn btn-large btn-warning">Large warning</button>
<button type="submit" class="btn btn-large btn-light">Large light</button>
<button type="submit" class="btn btn-large btn-dark">Large dark</button>
<button type="submit" class="btn btn-large btn-poktube">Large PokTube</button>
<button type="submit" class="btn btn-large btn-sneed">Large Sneed</button>
<h4>Small</h4>
<button type="submit" class="btn btn-small btn-primary">Small primary</button>
<button type="submit" class="btn btn-small btn-secondary">Small secondary</button>
<button type="submit" class="btn btn-small btn-success">Small Success</button>
<button type="submit" class="btn btn-small btn-info">Small Info</button>
<button type="submit" class="btn btn-small btn-danger">Small danger</button>
<button type="submit" class="btn btn-small btn-warning">Small warning</button>
<button type="submit" class="btn btn-small btn-light">Small light</button>
<button type="submit" class="btn btn-small btn-dark">Small dark</button>
<button type="submit" class="btn btn-small btn-sneed">Small Sneed</button>
<button type="submit" class="btn btn-small btn-poktube">Small PokTube</button>
<h2>Alerts</h2>
<div class="alert alert-primary">Primary</div>
<div class="alert alert-secondary">Secondary</div>
<div class="alert alert-success">Success</div>
<div class="alert alert-info">Info</div>
<div class="alert alert-danger">Danger</div>
<div class="alert alert-warning">Warning</div>
<div class="alert alert-light">Light</div>
<div class="alert alert-dark">Dark</div>
<div class="alert alert-poktube">PokTube</div>
<div class="alert alert-sneed">Sneed</div>
<h2>Backgrounds</h2>
</div>
<div style="width: 100%; padding: 25px" class="bg-primary">Primary</div>
<div style="width: 100%; padding: 25px" class="bg-secondary">Secondary</div>
<div style="width: 100%; padding: 25px" class="bg-success">Success</div>
<div style="width: 100%; padding: 25px" class="bg-info">Info</div>
<div style="width: 100%; padding: 25px" class="bg-danger">Danger</div>
<div style="width: 100%; padding: 25px" class="bg-warning">Warning</div>
<div style="width: 100%; padding: 25px" class="bg-light">Light</div>
<div style="width: 100%; padding: 25px" class="bg-dark">Dark</div>
<div style="width: 100%; padding: 25px" class="bg-poktube">PokTube</div>
<div style="width: 100%; padding: 25px" class="bg-sneed">Sneed</div>
{% endblock %}