{% extends "_layout.twig" %}
{% block customcss %}
<style>
body {
background: rgb(91,123,162);
background: linear-gradient(0, rgba(91,123,162,1) 2%, rgba(41,69,106,1) 27%); 
}
</style>
{% endblock %}
{% block content %}
<center>
<img src="https://i.ytimg.com/vi/aLyx9rcMjrc/hqdefault.jpg">
<h1>GORDON PLEASE DON'T FUCKING KILL ME</h1>
<p>Go to the Bootstrap layout if you want to login/register, this shit is very incomplete. -gamerappa 7/10/2021</p>
</center>
{% endblock %}