{% extends "_layout.twig" %}
{% block content %}
<center>
<img src="https://i.ytimg.com/vi/aLyx9rcMjrc/hqdefault.jpg">
<h1>GORDON PLEASE DON'T FUCKING KILL ME</h1>
<p>Go to the Bootstrap layout if you want to login/register, this shit is very incomplete. -gamerappa 7/10/2021</p>
</center>
{% endblock %}