{% extends "_layout.twig" %}

{% set title = "Browse" %}

{% block content %}
    <div class="section">
        <div class="section-title">
            <h1>My submissions ({{ data.count }})</h1>
        </div>
        <div class="content-box">
            {% for submission in data.submissions %}
                {{ include('/components/_edit_submission.twig') }}
            {% endfor %}
        </div>
        {% set le_url = 'my_submissions?page=%s' %}

        {{ pagination(data.count, 20, le_url, page) }}
    </div>
{% endblock %}