{% extends "_layout.twig" %}

{% set title = "Account settings" %}

	{% block content %}
        {% if error %}
            <div class="banner banner-danger">{{ error }}</div>
        {% endif %}
        <div class="section">
        <div class="section-title">
            <h1>Account settings</h1>
        </div>
        <div class="content-box">
        <form action="settings" method="post" enctype="multipart/form-data">

            <div class="text-title">
                <span>Audience rating</span>
            </div>

            <p>Select the highest audience rating you're comfortable with. Higher ratings might not be suitable.</p>

            <select class="form-submit" name="rating" id="rating">
                <option value="general" {% if user_data.comfortable_rating == "general" %}selected{% endif %}>General</option>
                <option value="questionable" {% if user_data.comfortable_rating == "questionable" %}selected{% endif %}>Questionable</option>
                <option value="mature" {% if user_data.comfortable_rating == "mature" %}selected{% endif %}>Mature</option>
            </select>

            <hr>

            <div class="text-title">
                <span>Security</span>
            </div>

            <div class="form-input">
                <label for="current_pass">Current password:</label>
            <input class="form-submit" type="password" name="current_pass" size="30" maxlength="256"
                   placeholder="Current password"><br>
            </div>

            <div class="form-input">
                <label for="pass">New password:</label>
            <input class="form-submit" type="password" name="pass" size="30" maxlength="256" placeholder="New password"><br>
            </div>

            <div class="form-input">
                <label for="pass2">Confirm new password:</label>
            <input class="form-submit" type="password" name="pass2" size="30" maxlength="256"
                   placeholder="Confirm new password">
            </div>

            <hr>

            <div class="text-title">
                <span>Profile</span>
            </div>

            <div class="form-input">
                <label for="profilePicture">Profile picture:</label>
                <input type="file" name="profilePicture" id="profilePicture">
            </div>

            <div class="form-input">
                <label for="title">Profile name:</label>
            <input class="form-submit" type="text" name="title" size="45" maxlength="50" value="{{ user_data.title }}">
            </div>

            <div class="form-input">
                <label for="about">Profile description:</label>
            <textarea class="form-submit" name="about" rows="5" cols="80" wrap="virtual">{{ user_data.about }}</textarea>
            </div>

            <div class="form-button-container">
                <input type="submit" id="upload" name="save" class="button button-primary"
                       value="Save changes">
            </div>
        </form>
        </div>
        </div>
    {% endblock %}