<html data-cast-api-enabled="true" lang="en">
   <head>
      <script id="js-3480730095" class="www-searchbox" src="//s.ytimg.com/yts/jsbin/www-searchbox-vfl5XnjkO.js" data-loaded="true"></script><script id="js-4197864020" class="www-masthead" src="//s.ytimg.com/yts/jsbin/www-masthead-vflLqI3m0.js" data-loaded="true"></script><script>var ytcsi = {data_: {tick: {},span: {},info: {}},tick: function(l, t) {ytcsi.data_.tick[l] = t || +new Date();},span: function(l, s) {ytcsi.data_.span[l] = (typeof s == 'number') ? s :+new Date() - ytcsi.data_.tick[l];},info: function(k, v) {ytcsi.data_.info[k] = v;}};ytcsi.tick('_start');if (document.webkitVisibilityState == 'prerender') {ytcsi.info('prerender', 1);document.addEventListener('webkitvisibilitychange', function() {ytcsi.tick('_start');}, false);}try {ytcsi.pt_ = (window.chrome && chrome.csi().pageT ||window.gtbExternal && gtbExternal.pageT() ||window.external && external.pageT);if (ytcsi.pt_) {ytcsi.info('pt', Math.floor(ytcsi.pt_));}} catch(e) {}</script>  
      <link id="css-2927621615" rel="stylesheet" href="http://s.ytimg.com/yts/cssbin/www-core-vflMEC9Yn.css">
      <title>YouTube</title>
      <link rel="search" type="application/opensearchdescription+xml" href="http://www.youtube.com/opensearch?locale=en_US" title="YouTube Video Search">
      <link rel="shortcut icon" href="http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico" type="image/x-icon">
      <link rel="icon" href="//s.ytimg.com/yts/img/favicon_32-vflWoMFGx.png" sizes="32x32">
      <link rel="alternate" media="handheld" href="http://m.youtube.com/index?&amp;desktop_uri=%2F">
      <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.youtube.com/index?&amp;desktop_uri=%2F">
      <meta name="description" content="Share your videos with friends, family, and the world">
      <meta name="keywords" content="video, sharing, camera phone, video phone, free, upload">
      <meta property="og:image" content="//s.ytimg.com/yts/img/youtube_logo_stacked-vfl225ZTx.png">
      <meta property="fb:app_id" content="87741124305">
      <link rel="publisher" href="https://plus.google.com/115229808208707341778">
      <link id="css-1613382624" rel="stylesheet" href="http://s.ytimg.com/yts/cssbin/www-home-vfl6hbT8h.css">
      <link id="css-3973618546" rel="stylesheet" href="http://s.ytimg.com/yts/cssbin/www-channels4-vflLzPxqN.css">
      <script>if (window.ytcsi) {ytcsi.tick("ct");}</script>
      <style type="text/css">.gsok_a{background:url(data:image/gif;base64,R0lGODlhEwALAKECAAAAABISEv///////yH5BAEKAAIALAAAAAATAAsAAAIdDI6pZ+suQJyy0ocV3bbm33EcCArmiUYk1qxAUAAAOw==) no-repeat center;display:inline-block;height:11px;line-height:0;width:19px}.gsok_a img{border:none;visibility:hidden}.gsst_a{display:inline-block}.gsst_a{cursor:pointer;padding:0 4px}.gsst_a:hover{text-decoration:none!important}.gsst_b{font-size:16px;padding:0 2px;position:relative;user-select:none;-moz-user-select:none;white-space:nowrap}.gsst_e{opacity:0.55;}.gsst_a:hover .gsst_e,.gsst_a:focus .gsst_e{opacity:0.72;}.gsst_a:active .gsst_e{opacity:1;}.gsst_f{background:white;text-align:left}.gsst_g{background-color:white;border:1px solid #ccc;border-top-color:#d9d9d9;box-shadow:0 2px 4px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);margin:-1px -3px;padding:0 6px}.gsst_h{background-color:white;height:1px;margin-bottom:-1px;position:relative;top:-1px}.gsib_a{width:100%;padding:4px 6px 0}.gsib_a,.gsib_b{vertical-align:top}.gssb_c{border:0;position:absolute;z-index:989}.gssb_e{border:1px solid #ccc;border-top-color:#d9d9d9;box-shadow:0 2px 4px rgba(0,0,0,0.2);-moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);cursor:default}.gssb_f{visibility:hidden;white-space:nowrap}.gssb_k{border:0;display:block;position:absolute;top:0;z-index:988}.gsdd_a{border:none!important}a.gspqs_a{padding:0 3px 0 8px}.gspqs_b{color:#666;line-height:22px}.gspr_a{padding-right:1px}.gsq_a{padding:0}.gssb_a{padding:0 7px}.gssb_a,.gssb_a td{white-space:nowrap;overflow:hidden;line-height:22px}#gssb_b{font-size:11px;color:#36c;text-decoration:none}#gssb_b:hover{font-size:11px;color:#36c;text-decoration:underline}.gssb_g{text-align:center;padding:8px 0 7px;position:relative}.gssb_h{font-size:15px;height:28px;margin:0.2em}.gssb_i{background:#eee}.gss_ifl{visibility:hidden;padding-left:5px}.gssb_i .gss_ifl{visibility:visible}a.gssb_j{font-size:13px;color:#36c;text-decoration:none;line-height:100%}a.gssb_j:hover{text-decoration:underline}.gssb_l{height:1px;background-color:#e5e5e5}.gssb_m{color:#000;background:#fff}.gscp_a,.gscp_c,.gscp_d,.gscp_e,.gscp_f{display:inline-block;vertical-align:bottom}.gscp_f{border:none}.gscp_a{background:#d9e7fe;border:1px solid #9cb0d8;cursor:default;outline:none;text-decoration:none!important;user-select:none;-moz-user-select:none;}.gscp_a:hover{border-color:#869ec9}.gscp_a.gscp_b{background:#4787ec;border-color:#3967bf}.gscp_c{color:#444;font-size:13px;font-weight:bold}.gscp_d{color:#aeb8cb;cursor:pointer;font:21px arial,sans-serif;line-height:inherit;padding:0 7px}.gscp_d{position:relative;top:1px}.gscp_a:hover .gscp_d{color:#575b66}.gscp_c:hover,.gscp_a .gscp_d:hover{color:#222}.gscp_a.gscp_b .gscp_c,.gscp_a.gscp_b .gscp_d{color:#fff}.gscp_e{height:100%;padding:0 4px}.gsfe_a{border:1px solid #b9b9b9;border-top-color:#a0a0a0;box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);-webkit-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);}.gsfe_b{border:1px solid #4d90fe;outline:none;box-shadow:inset 0px 1px 2px rgba(0,0,0,0.3);-moz-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0px 1px 2px rgba(0,0,0,0.3);}.gsfi{font-size:16px}.gsfs{font-size:16px}a.gssb_j{font-size:12px;color:#03c}.gssb_a,.gssb_a td{line-height:20px}.gssb_a{padding:0 6px}.gssb_c{z-index:3000001}.gssb_i td{background:#eee}.gssb_k{z-index:3000000}.gssb_l{margin:2px 0}.gsib_a{padding:0 4px}.gsok_a{padding:0}.gsok_a img{display:block}.gsfe_b{border:1px solid #1c62b9;box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.3);outline:none;}a.gscp_a{position:relative;background:#e2e2e2;border:1px solid #bbb;border-radius:3px}.gsfe_a a.gscp_a{border-width:1px;border-style:solid;border-color:#bbb}a.gscp_a.gscp_b{border-color:#777!important;background:#999;outline:none}.gscp_c{color:#666;font-size:11px;font-weight:bold;padding-right:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)";zoom:1;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)}.gsfe_a a.gscp_a .gscp_c{color:#444}a.gscp_a.gscp_b .gscp_c,.gsfe_a a.gscp_a.gscp_b .gscp_c{color:#fff;text-shadow:0 1px 0 rgba(100, 100, 100, 0.5);-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80646464,Positive=true)";zoom:1;filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80646464,Positive=true)}.gscp_d{position:absolute;padding:0;background:url(//s.ytimg.com/yts/img/icons/close-vflrEJzIW.png);background-repeat:no-repeat;background-position-y:0;right:3px;top:6px;font-size:0;width:13px;height:13px}.gscp_d:hover{background-position-y:-13px}a.gscp_a.gscp_b .gscp_d{background-position-y:-26px}.gsfe_a a.gscp_a.gscp_b .gscp_d:hover{background-position-y:-39px}.gscp_f{background:#000}</style>
   </head>
   <!-- machid: sNW5tN3Z2SWdXaDZJSG85YlF5Y0pwMXFqWjZDOThhVjdrMjd5QnU3SzUxYnlIZWdzc1ZBQUxR -->
   <body dir="ltr" class="ltr site-left-aligned exp-new-site-width exp-watch7-comment-ui hitchhiker-enabled guide-enabled guide-expanded page-loaded">
      <div id="body-container">
         <form name="logoutForm" method="POST" action="/logout"><input type="hidden" name="action_logout" value="1"><input name="session_token" type="hidden" value="KdtAEfx3K7-XllPE43NdE0-uyeF8MTM3MDM4MTk4MEAxMzcwMjk1NTgw"></form>
         <div id="yt-masthead-container" class="yt-grid-box">
            <div id="yt-masthead" class="">
               <a id="logo-container" href="/" title="YouTube home" class=" "><img id="logo" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="YouTube home"></a>
               <div id="yt-masthead-signin"><button class=" yt-uix-button yt-uix-button-primary" type="button" onclick=";window.location.href=this.getAttribute('href');return false;" href="https://accounts.google.com/ServiceLogin?hl=en_US&amp;uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26feature%3Dsign_in_button%26hl%3Den_US%26next%3D%252F%26nomobiletemp%3D1" role="button"><span class="yt-uix-button-content">Sign in </span></button></div>
               <div id="yt-masthead-content">
                  <span id="masthead-upload-button-group"><a href="//www.youtube.com/upload" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-default" data-sessionlink="feature=mhsb&amp;ei=HA2tUc6rNZqvhAGNvIGYDg"><span class="yt-uix-button-content">Upload</span></a></span>
                  <form id="masthead-search" class="search-form consolidated-form" action="/results" onsubmit="if (_gel('masthead-search-term').value == '') return false;">
                     <button onclick="if (_gel('masthead-search-term').value == '') return false; _gel('masthead-search').submit(); return false;;return true;" class="search-btn-component search-button yt-uix-button yt-uix-button-default" tabindex="2" dir="ltr" id="search-btn" type="submit" role="button"><span class="yt-uix-button-content">Search </span></button>
                     <div id="masthead-search-terms" class="masthead-search-terms-border gsfe_b " dir="ltr"><label><input id="masthead-search-term" class="search-term yt-uix-form-input-bidi" name="search_query" value="" type="text" tabindex="1" title="Search" dir="ltr" autocomplete="off" spellcheck="false" style="outline: currentcolor none medium;"></label></div>
                     <input type="hidden" name="oq"><input type="hidden" name="gs_l">
                  </form>
               </div>
            </div>
         </div>
         <div id="alerts">  </div>
         <div id="header">
            <div id="masthead_child_div"></div>
            <div id="ad_creative_expand_btn_1" class="masthead-ad-control masthead-ad-control-header open hid">
               <a onclick="masthead.expand_ad(); return false;">
               <span>Show ad</span>
               <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="">
               </a>
            </div>
         </div>
         <div id="page-container">
            <div id="page" class="home branded-page-v2-masthead-ad-header clearfix masthead-ad-expanded">
               <div id="guide">
                  <div id="guide-container" class="">
                     <div id="guide-main" class="    guide-module     spf-nolink ">
                        <div class="guide-module-toggle">
                           <span class="guide-module-toggle-icon">
                           <span class="guide-module-toggle-arrow"></span>
                           <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="">
                           <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" id="collapsed-notification-icon">
                           </span>
                           <div class="guide-module-toggle-label">
                              <h3>
                                 <span>
                                 Guide
                                 </span>
                              </h3>
                           </div>
                        </div>
                        <div class="guide-module-content yt-scrollbar">
                           <ul class="guide-toplevel">
                              <li id="guide-subscriptions-section" class="guide-section without-filter guide-section-no-counts">
                                 <div id="guide-subs-footer-container">
                                    <div id="guide-subscriptions-container">
                                       <div class="guide-channels-content yt-scrollbar">
                                          <ul id="guide-channels" class="guide-channels-list guide-item-container yt-uix-scroller filter-has-matches">
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink  guide-item-selected " href="/" title="Popular on YouTube" data-channel-id="youtube" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAMQgB8oAA">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i1.ytimg.com/li/tnHdj3df7iM/default.jpg" src="//i1.ytimg.com/li/tnHdj3df7iM/default.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>Popular on YouTube</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink   " href="/music" title="Music" data-channel-id="HCp-Rdqh3z4Uc" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAQQgB8oAQ">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i1.ytimg.com/li/p-Rdqh3z4Uc/default.jpg" src="//i1.ytimg.com/li/p-Rdqh3z4Uc/default.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>Music</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink   " href="/sports" title="Sports" data-channel-id="HC7Dr1BKwqctY" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAUQgB8oAg">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i4.ytimg.com/li/7Dr1BKwqctY/default.jpg" src="//i4.ytimg.com/li/7Dr1BKwqctY/default.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>Sports</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink   " href="/gaming" title="Gaming" data-channel-id="HChfZhJdhTqX8" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAYQgB8oAw">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i1.ytimg.com/li/hfZhJdhTqX8/default.jpg" src="//i1.ytimg.com/li/hfZhJdhTqX8/default.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>Gaming</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink   " href="/movies" title="Movies" data-channel-id="UCczhp4wznQWonO7Pb8HQ2MQ" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAcQgB8oBA">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i4.ytimg.com/i/czhp4wznQWonO7Pb8HQ2MQ/1.jpg" src="//i4.ytimg.com/i/czhp4wznQWonO7Pb8HQ2MQ/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>Movies</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink   " href="/YouTubeShowsUS" title="TV Shows" data-channel-id="UCl8dMTqDrJQ0c8y23UBu4kQ" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAgQgB8oBQ">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i1.ytimg.com/i/l8dMTqDrJQ0c8y23UBu4kQ/1.jpg" src="//i1.ytimg.com/i/l8dMTqDrJQ0c8y23UBu4kQ/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>TV Shows</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink   " href="/news" title="News" data-channel-id="HCPvDBPPFfuaM" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAkQgB8oBg">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i1.ytimg.com/li/PvDBPPFfuaM/default.jpg" src="//i1.ytimg.com/li/PvDBPPFfuaM/default.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>News</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li class="guide-channel">
                                                <a class="guide-item yt-uix-sessionlink   " href="/feed/UCBR8-60-B28hp2BmDPdntcQ" title="Spotlight" data-channel-id="UCBR8-60-B28hp2BmDPdntcQ" data-sessionlink="feature=g-channel&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAoQgB8oBw">
                                                <span class="">
                                                <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                                <span class="yt-thumb-square">
                                                <span class="yt-thumb-clip">
                                                <span class="yt-thumb-clip-inner">
                                                <img data-thumb="//i3.ytimg.com/i/BR8-60-B28hp2BmDPdntcQ/1.jpg" src="//i3.ytimg.com/i/BR8-60-B28hp2BmDPdntcQ/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                                <span class="vertical-align"></span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                </span>
                                                <span class="display-name">
                                                <span>Spotlight</span>
                                                </span>
                                                </span>
                                                </a>
                                             </li>
                                             <li id="guide-filter-no-results">
                                                No channels found
                                             </li>
                                             <li id="guide-filter-loading-results">
                                                <p class="yt-spinner">
                                                   <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">
                                                   <span class="yt-spinner-message">
                                                   Loading subscriptions
                                                   </span>
                                                </p>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <hr class="guide-section-separator">
                                 </div>
                              </li>
                              <li id="guide-subscription-suggestions-section" class="guide-section guide-section-no-counts">
                                 <h3>
                                    Channels for you
                                 </h3>
                                 <div class="guide-recommendations-list">
                                    <div class="guide-channels-content yt-scrollbar">
                                       <ul class="guide-channels-list guide-item-container yt-uix-scroller filter-has-matches">
                                          <li class="guide-channel">
                                             <a class="guide-item yt-uix-sessionlink   " href="/feed/UCry7B7DGVgUIa6k4Tis_DJQ" title="The Ricky Gervais Channel" data-channel-id="UCry7B7DGVgUIa6k4Tis_DJQ" data-sessionlink="feature=g-chrec&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CAwQgB8oAA">
                                             <span class="">
                                             <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                             <span class="yt-thumb-square">
                                             <span class="yt-thumb-clip">
                                             <span class="yt-thumb-clip-inner">
                                             <img data-thumb="//i3.ytimg.com/i/ry7B7DGVgUIa6k4Tis_DJQ/1.jpg" src="//i3.ytimg.com/i/ry7B7DGVgUIa6k4Tis_DJQ/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                             <span class="vertical-align"></span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             <span class="display-name">
                                             <span>The Ricky Gervais Channel</span>
                                             </span>
                                             </span>
                                             </a>
                                          </li>
                                          <li class="guide-channel">
                                             <a class="guide-item yt-uix-sessionlink   " href="/feed/UCBR8-60-B28hp2BmDPdntcQ" title="YouTube Spotlight" data-channel-id="UCBR8-60-B28hp2BmDPdntcQ" data-sessionlink="feature=g-chrec&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CA0QgB8oAQ">
                                             <span class="">
                                             <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                             <span class="yt-thumb-square">
                                             <span class="yt-thumb-clip">
                                             <span class="yt-thumb-clip-inner">
                                             <img data-thumb="//i3.ytimg.com/i/BR8-60-B28hp2BmDPdntcQ/1.jpg" src="//i3.ytimg.com/i/BR8-60-B28hp2BmDPdntcQ/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                             <span class="vertical-align"></span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             <span class="display-name">
                                             <span>YouTube Spotlight</span>
                                             </span>
                                             </span>
                                             </a>
                                          </li>
                                          <li class="guide-channel">
                                             <a class="guide-item yt-uix-sessionlink   " href="/feed/UCWljxewHlJE3M7U_6_zFNyA" title="AwesomenessTV" data-channel-id="UCWljxewHlJE3M7U_6_zFNyA" data-sessionlink="feature=g-chrec&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CA4QgB8oAg">
                                             <span class="">
                                             <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                             <span class="yt-thumb-square">
                                             <span class="yt-thumb-clip">
                                             <span class="yt-thumb-clip-inner">
                                             <img data-thumb="//i4.ytimg.com/i/WljxewHlJE3M7U_6_zFNyA/1.jpg" src="//i4.ytimg.com/i/WljxewHlJE3M7U_6_zFNyA/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                             <span class="vertical-align"></span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             <span class="display-name">
                                             <span>AwesomenessTV</span>
                                             </span>
                                             </span>
                                             </a>
                                          </li>
                                          <li class="guide-channel">
                                             <a class="guide-item yt-uix-sessionlink   " href="/feed/UC2C_jShtL725hvbm1arSV9w" title="C. G. P. Grey" data-channel-id="UC2C_jShtL725hvbm1arSV9w" data-sessionlink="feature=g-chrec&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CA8QgB8oAw">
                                             <span class="">
                                             <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                             <span class="yt-thumb-square">
                                             <span class="yt-thumb-clip">
                                             <span class="yt-thumb-clip-inner">
                                             <img data-thumb="//i3.ytimg.com/i/2C_jShtL725hvbm1arSV9w/1.jpg" src="//i3.ytimg.com/i/2C_jShtL725hvbm1arSV9w/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                             <span class="vertical-align"></span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             <span class="display-name">
                                             <span>C. G. P. Grey</span>
                                             </span>
                                             </span>
                                             </a>
                                          </li>
                                          <li class="guide-channel">
                                             <a class="guide-item yt-uix-sessionlink   " href="/feed/UCUGzhBmck61sa3eGxp9xI8A" title="VampireWeekendVEVO" data-channel-id="UCUGzhBmck61sa3eGxp9xI8A" data-sessionlink="feature=g-chrec&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CBAQgB8oBA">
                                             <span class="">
                                             <span class="thumb">    <span class="video-thumb  yt-thumb yt-thumb-18">
                                             <span class="yt-thumb-square">
                                             <span class="yt-thumb-clip">
                                             <span class="yt-thumb-clip-inner">
                                             <img data-thumb="//i2.ytimg.com/i/UGzhBmck61sa3eGxp9xI8A/1.jpg" src="//i2.ytimg.com/i/UGzhBmck61sa3eGxp9xI8A/1.jpg" data-thumb-manual="1" alt="Thumbnail" width="18">
                                             <span class="vertical-align"></span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             </span>
                                             <span class="display-name">
                                             <span>VampireWeekendVEVO</span>
                                             </span>
                                             </span>
                                             </a>
                                          </li>
                                          <li id="guide-filter-no-results">
                                             No channels found
                                          </li>
                                          <li id="guide-filter-loading-results">
                                             <p class="yt-spinner">
                                                <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">
                                                <span class="yt-spinner-message">
                                                Loading subscriptions
                                                </span>
                                             </p>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                                 <hr class="guide-section-separator">
                                 <ul id="gh-management" class="guide-item-container">
                                    <li class="guide-channel">
                                       <a class="guide-item yt-uix-sessionlink   " href="/channels" title="Browse channels" data-channel-id="guide_builder" data-sessionlink="feature=g-manage&amp;ei=HA2tUc6rNZqvhAGNvIGYDg&amp;ved=CBIQhx8oAA">
                                       <span class="">
                                       <span class="thumb guide-management-plus-icon">
                                       <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="">
                                       </span>
                                       <span>Browse channels</span>
                                       </span>
                                       </a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                           <div class="guide-section guide-header signup-promo guided-help-box">
                              <p>
                                 Sign in to add channels to your guide and for great recommendations!
                              </p>
                              <div id="guide-builder-promo-buttons" class="signed-out clearfix">
                                 <a href="https://accounts.google.com/ServiceLogin?hl=en_US&amp;uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26feature%3Dsign_in_promo%26hl%3Den_US%26next%3D%252F%26nomobiletemp%3D1" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-primary" data-sessionlink="ei=HA2tUc6rNZqvhAGNvIGYDg"><span class="yt-uix-button-content">Sign in ›</span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="watch-context-container" class="guide-module collapsed hid"></div>
                  </div>
               </div>
               <div id="content" class="">
			   {% block content %}{% endblock %}
               </div>
            </div>
         </div>
      </div>
      <div id="footer-container">
         <div id="footer">
            <div id="footer-main">
               <div id="footer-logo"><a href="/" title="YouTube home"><img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="YouTube home"></a></div>
               <ul class="pickers yt-uix-button-group" data-button-toggle-group="optional">
                  <li>
                     <button id="yt-picker-language-button" class=" yt-uix-button yt-uix-button-default" onclick=";return false;" type="button" data-button-menu-id="arrow-display" data-button-action="yt.www.picker.load" data-picker-position="footer" data-button-toggle="true" data-picker-key="language" role="button"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-footer-language" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-valign"></span></span><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
                     Language:
                     </span>
                     English
                     </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
                  </li>
                  <li>
                     <button id="yt-picker-country-button" class=" yt-uix-button yt-uix-button-default" onclick=";return false;" type="button" data-button-menu-id="arrow-display" data-button-action="yt.www.picker.load" data-picker-position="footer" data-button-toggle="true" data-picker-key="country" role="button"><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
                     Country:
                     </span>
                     Worldwide
                     </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
                  </li>
                  <li>
                     <button id="yt-picker-safetymode-button" class=" yt-uix-button yt-uix-button-default" onclick=";return false;" type="button" data-button-menu-id="arrow-display" data-button-action="yt.www.picker.load" data-picker-position="footer" data-button-toggle="true" data-picker-key="safetymode" role="button"><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
                     Safety:
                     </span>
                     Off
                     </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
                  </li>
               </ul>
               <button class="yt-uix-button-reverse yt-uix-button yt-uix-button-default" onclick="yt.www.feedback.startHelp(this, null, 1699306);return false;" id="google-help" type="button" role="button"><span class="yt-uix-button-content">  <img class="questionmark" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
               <span>Help</span>
               <img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
               </span></button>
               <div id="yt-picker-language-footer" class="yt-picker" style="display: none">
                  <p class="yt-spinner">
                     <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">
                     <span class="yt-spinner-message">
                     Loading...
                     </span>
                  </p>
               </div>
               <div id="yt-picker-country-footer" class="yt-picker" style="display: none">
                  <p class="yt-spinner">
                     <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">
                     <span class="yt-spinner-message">
                     Loading...
                     </span>
                  </p>
               </div>
               <div id="yt-picker-safetymode-footer" class="yt-picker" style="display: none">
                  <p class="yt-spinner">
                     <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">
                     <span class="yt-spinner-message">
                     Loading...
                     </span>
                  </p>
               </div>
            </div>
            <div id="footer-links">
               <ul id="footer-links-primary">
                  <li><a href="//www.youtube.com/yt/about/">About</a></li>
                  <li><a href="//www.youtube.com/yt/press/">Press &amp; Blogs</a></li>
                  <li><a href="//www.youtube.com/yt/copyright/">Copyright</a></li>
                  <li><a href="//www.youtube.com/yt/creators/">Creators &amp; Partners</a></li>
                  <li><a href="//www.youtube.com/yt/advertise/">Advertising</a></li>
                  <li><a href="//www.youtube.com/yt/dev/">Developers</a></li>
               </ul>
               <ul id="footer-links-secondary">
                  <li><a href="/t/terms">Terms</a></li>
                  <li><a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a></li>
                  <li><a href="//www.youtube.com/yt/policyandsafety/">
                     Policy &amp; Safety
                     </a>
                  </li>
                  <li><a href="//www.google.com/tools/feedback/intl/en/error.html" onclick="return yt.www.feedback.start();" id="reportbug">Send feedback</a></li>
                  <li><a href="/testtube">Try something new!</a></li>
                  <li>  <span class="copyright" dir="ltr">© 2013 YouTube, LLC</span></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="yt-dialog hid" id="feed-privacy-lb">
         <div class="yt-dialog-base">
            <span class="yt-dialog-align"></span>
            <div class="yt-dialog-fg">
               <div class="yt-dialog-fg-content">
                  <div class="yt-dialog-loading">
                     <div class="yt-dialog-waiting-content">
                        <div class="yt-spinner-img"></div>
                        <div class="yt-dialog-waiting-text">Loading...</div>
                     </div>
                  </div>
                  <div class="yt-dialog-content">
                     <div id="feed-privacy-dialog">
                     </div>
                  </div>
                  <div class="yt-dialog-working">
                     <div id="yt-dialog-working-overlay">
                     </div>
                     <div id="yt-dialog-working-bubble">
                        <div class="yt-dialog-waiting-content">
                           <div class="yt-spinner-img"></div>
                           <div class="yt-dialog-waiting-text">Working...</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="shared-addto-watch-later-login" class="hid">
         <a href="https://accounts.google.com/ServiceLogin?hl=en_US&amp;uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26feature%3Dplaylist%26hl%3Den_US%26next%3D%252F%26nomobiletemp%3D1" class="sign-in-link">Sign in</a> to add this to Watch Later
      </div>
      <div id="shared-addto-menu" style="display: none;" class="hid sign-in">
         <div class="addto-menu">
            <div id="addto-list-panel" class="menu-panel active-panel">
               <span class="yt-uix-button-menu-item yt-uix-tooltip sign-in" data-possible-tooltip="" data-tooltip-show-delay="750"><a href="https://accounts.google.com/ServiceLogin?hl=en_US&amp;uilel=3&amp;service=youtube&amp;passive=true&amp;continue=http%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26feature%3Dplaylist%26hl%3Den_US%26next%3D%252F%26nomobiletemp%3D1" class="sign-in-link">Sign in</a> to add this to Watch Later
               </span>
            </div>
            <div id="addto-list-saved-panel" class="menu-panel">
               <div class="panel-content">
                  <div class="yt-alert yt-alert-naked yt-alert-success  ">
                     <div class="yt-alert-icon">
                        <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
                     </div>
                     <div class="yt-alert-content" role="alert">
                        <span class="yt-alert-vertical-trick"></span>
                        <div class="yt-alert-message">
                           <span class="message">Added to <span class="addto-title yt-uix-tooltip yt-uix-tooltip-reverse" title="More information about this playlist" data-tooltip-show-delay="750"></span></span>
                        </div>
                     </div>
                  </div>
                  <div class="yt-alert yt-alert-naked yt-alert-warn  private-video-warning hid">
                     <div class="yt-alert-icon">
                        <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
                     </div>
                     <div class="yt-alert-content" role="alert">
                        <span class="yt-alert-vertical-trick"></span>
                        <div class="yt-alert-message">
                           Private videos will be skipped if viewers don't have access, but playlist notes are publicly visible.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="addto-list-error-panel" class="menu-panel">
               <div class="panel-content">
                  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
                  <span class="error-details"></span>
                  <a class="show-menu-link">Back to list</a>
               </div>
            </div>
            <div id="addto-note-input-panel" class="menu-panel">
               <div class="panel-content">
                  <div class="yt-alert yt-alert-naked yt-alert-success  ">
                     <div class="yt-alert-icon">
                        <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
                     </div>
                     <div class="yt-alert-content" role="alert">
                        <span class="yt-alert-vertical-trick"></span>
                        <div class="yt-alert-message">
                           <span class="message">Added to playlist:</span>
                           <span class="addto-title yt-uix-tooltip" title="More information about this playlist" data-tooltip-show-delay="750"></span>
                        </div>
                     </div>
                  </div>
                  <div class="yt-alert yt-alert-naked yt-alert-warn  private-video-warning hid">
                     <div class="yt-alert-icon">
                        <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
                     </div>
                     <div class="yt-alert-content" role="alert">
                        <span class="yt-alert-vertical-trick"></span>
                        <div class="yt-alert-message">
                           Private videos will be skipped if viewers don't have access, but playlist notes are publicly visible.
                        </div>
                     </div>
                  </div>
               </div>
               <div class="yt-uix-char-counter" data-char-limit="150">
                  <div class="addto-note-box addto-text-box"><textarea id="addto-note" class="addto-note yt-uix-char-counter-input" maxlength="150"></textarea><label for="addto-note" class="addto-note-label">Add an optional note</label></div>
                  <span class="yt-uix-char-counter-remaining">150</span>
               </div>
               <button class="playlist-save-note yt-uix-button yt-uix-button-default" type="button" onclick=";return false;" disabled="disabled" role="button"><span class="yt-uix-button-content">Add note </span></button>
            </div>
            <div id="addto-note-saving-panel" class="menu-panel">
               <div class="panel-content loading-content">
                  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
                  <span>Saving note...</span>
               </div>
            </div>
            <div id="addto-note-saved-panel" class="menu-panel">
               <div class="panel-content">
                  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
                  <span class="message">Note added to:</span>
               </div>
            </div>
            <div id="addto-note-error-panel" class="menu-panel">
               <div class="panel-content">
                  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
                  <span class="message">Error adding note:</span>
                  <ul class="error-details"></ul>
                  <a class="add-note-link">Click to add a new note</a>
               </div>
            </div>
            <div class="close-note hid">
               <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="close-button">
            </div>
         </div>
      </div>
      <script>if (window.ytcsi) {ytcsi.tick("js_head");}</script>        <script id="js-2638671459" class="www-core" src="//s.ytimg.com/yts/jsbin/www-core-vfl2rtjV9.js" data-loaded="true"></script>
      <script>
         var searchBox = document.getElementById('masthead-search-term');
         if (searchBox) {
           searchBox.focus();
         }
      </script>
      <script>
         yt.setMsg('FLASH_UPGRADE', "\u003cdiv class=\"yt-alert yt-alert-default yt-alert-error  yt-alert-player\"\u003e  \u003cdiv class=\"yt-alert-icon\"\u003e\n    \u003cimg s\u0072c=\"\/\/s.ytimg.com\/yts\/img\/pixel-vfl3z5WfW.gif\" class=\"icon master-sprite\" alt=\"Alert icon\"\u003e\n  \u003c\/div\u003e\n\u003cdiv class=\"yt-alert-buttons\"\u003e\u003c\/div\u003e\u003cdiv class=\"yt-alert-content\" role=\"alert\"\u003e    \u003cspan class=\"yt-alert-vertical-trick\"\u003e\u003c\/span\u003e\n    \u003cdiv class=\"yt-alert-message\"\u003e\n            You need to upgrade your Adobe Flash Player to watch this video. \u003cbr\u003e \u003ca href=\"http:\/\/get.adobe.com\/flashplayer\/\"\u003eDownload it from Adobe.\u003c\/a\u003e\n    \u003c\/div\u003e\n\u003c\/div\u003e\u003c\/div\u003e");
         yt.setConfig({
         'PLAYER_CONFIG': {"html5": false, "args": {"enablejsapi": 1}, "min_version": "8.0.0", "url": "\/\/s.ytimg.com\/yts\/swf\/masthead_child-vflRMMO6_.swf", "url_v8": "", "attrs": {"id": "masthead_child", "height": "1", "width": "1"}, "params": {"allowscriptaccess": "always", "bgcolor": "#FFFFFF", "allowfullscreen": "false"}, "url_v9as2": ""}
         });
         
         yt.flash.embed("masthead_child_div", yt.getConfig('PLAYER_CONFIG'));
      </script>
      <script id="js-407664050" class="www-home" src="//s.ytimg.com/yts/jsbin/www-home-vflIk6iLA.js" data-loaded="true"></script>
      <script>
         window.masthead = new yt.www.ads.MastheadAd(
             "keaP86sPcSQ",
             false);
         
         
         
         
         
         
         yt.setConfig('JS_PAGE_MODULES', {
         "\/\/s.ytimg.com\/yts\/jsbin\/www_feed_mod-vfl-ra4la.js": []
         });
         
      </script>
      <script>
         yt.setAjaxToken('feed_change_ajax', "s_F2dCpyw_oK6nSlkFe_xpWOZkh8MTM3MDM4MTk4MUAxMzcwMjk1NTgx");
          yt.setConfig({
            'GUIDE_SELECTED_ITEM': "youtube"
          });
      </script>
      <script>yt.setConfig({'EVENT_ID': "HA2tUc6rNZqvhAGNvIGYDg",'PAGE_NAME': "index",'LOGGED_IN': false,'SESSION_INDEX': null,'CURRENT_URL': "http:\/\/www.youtube.com\/",'MASTHEAD_JS': "\/\/s.ytimg.com\/yts\/jsbin\/www-masthead-vflLqI3m0.js",'JS_COMMON_MODULE': "\/\/s.ytimg.com\/yts\/jsbin\/www_common_mod-vflVyNFg4.js",'SAFETY_MODE_PENDING': false,'LOCAL_DATE_TIME_CONFIG': {"weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "amPms": ["AM", "PM"], "formatWeekdayShortTime": "EE h:mm a", "months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "shortWeekdays": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "formatLongDate": "MMMM d, yyyy h:mm a", "shortMonths": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "formatLongDateOnly": "MMMM d, yyyy", "formatShortDate": "MMM d, yyyy"},'FEEDBACK_BUCKET_ID': "Home",'FEEDBACK_LOCALE_LANGUAGE': "en",'FEEDBACK_LOCALE_EXTRAS': {"is_branded": "", "is_partner": "", "guide_subs": "NA", "accept_language": null, "logged_in": false, "experiments": "933202,913574,906937,916611,900352,924605,928201,901208,929123,929915,929906,925714,929919,929119,931202,932802,928017,912512,912518,911416,906906,904476,930807,919373,906836,933701,900816,926403,912711,929606,910075"}});yt.setMsg({'ADDTO_WATCH_LATER': "Watch Later",'ADDTO_WATCH_LATER_ADDED': "Added",'ADDTO_WATCH_LATER_ERROR': "Error"});yt.setAjaxToken('addto_ajax_logged_out', "agDDptf6-OTQPObM5pGelql1rjV8MTM3MDM4MTk4MUAxMzcwMjk1NTgx");  yt.setConfig('FEED_PRIVACY_CSS_URL', "http:\/\/s.ytimg.com\/yts\/cssbin\/www-feedprivacydialog-vfl3p9Fo3.css");
         yt.setAjaxToken('feed_privacy_ajax', "2QC_bNtVwHp8inY3z5zbBYzIP718MTM3MDM4MTk4MUAxMzcwMjk1NTgx");
           yt.pubsub.subscribe('init', yt.www.account.FeedPrivacyDialog.init);
         yt.setConfig({'SBOX_JS_URL': "\/\/s.ytimg.com\/yts\/jsbin\/www-searchbox-vfl5XnjkO.js",'SBOX_SETTINGS': {"CLOSE_ICON_URL": "\/\/s.ytimg.com\/yts\/img\/icons\/close-vflrEJzIW.png", "USE_HTTPS": false, "SHOW_CHIP": false, "SESSION_INDEX": null, "REQUEST_LANGUAGE": "en", "REQUEST_DOMAIN": "us", "PSUGGEST_TOKEN": null, "EXPERIMENT_ID": -1, "HAS_ON_SCREEN_KEYBOARD": false, "CHIP_PARAMETERS": {}},'SBOX_LABELS': {"WATCH_NOW_LABEL": "Watch now", "VIEW_CHANNEL_LABEL": "View channel", "SUGGESTION_DISMISSED_LABEL": "Suggestion dismissed", "SUGGESTION_DISMISS_LABEL": "Dismiss"}});  yt.setConfig({
           'YPC_LOADER_ENABLED': true,
           'YPC_LOADER_CONFIGS': "\/ypc_config_ajax",
           'YPC_LOADER_JS': "\/\/s.ytimg.com\/yts\/jsbin\/www-ypc-vfl2KyNWf.js",
           'YPC_LOADER_CSS': "http:\/\/s.ytimg.com\/yts\/cssbin\/www-ypc-vflRGdYjt.css",
           'YPC_LOADER_CALLBACKS': ['yt.www.ypc.checkout.init', 'yt.www.ypc.subscription.init']
         });
      </script>    <script>
         ytcsi.span('st', 165);yt.setConfig({'TIMING_ACTION': "glo",'TIMING_INFO': {"yt_spf": 0, "ei": "HA2tUc6rNZqvhAGNvIGYDg", "yt_lt": "cold", "yt_li": 0, "e": "933202,913574,906937,916611"}});    
      </script>
      <script>yt.setConfig({'XSRF_TOKEN': "KdtAEfx3K7-XllPE43NdE0-uyeF8MTM3MDM4MTk4MEAxMzcwMjk1NTgw",'XSRF_REDIRECT_TOKEN': "AAggoV2WNKdaOa9bWarzXwQ8uDF8MTM3MDM4MTk4MUAxMzcwMjk1NTgx",'XSRF_FIELD_NAME': "session_token"});</script><script>yt.setConfig('THUMB_DELAY_LOAD_BUFFER', 300);</script><script>if (window.ytcsi) {ytcsi.tick("js_foot");}</script>
      <div id="debug"></div>
      <iframe class="gstl_0 gssb_k" style="display: none;"></iframe>
      <table style="width: 145px; display: none; top: 119px; left: 8px; position: absolute;" class="gstl_0 gssb_c" cellspacing="0" cellpadding="0">
         <tbody>
            <tr>
               <td class="gssb_f"></td>
               <td class="gssb_e" style="width: 100%;"></td>
            </tr>
         </tbody>
      </table>
   </body>
   <style id="stylus-3" type="text/css" class="stylus">#wm-ipp-base {
      min-height: 0px;
      }
   </style>
</html>