<div class="new-comment" id="comment_field">
    <div class="text-title">
        <span>New comment</span>
    </div>
    <textarea class="form-submit-wide" id="comment_contents" name="comment" maxlength="1000"
              style="overflow:hidden;resize:vertical" rows="4"></textarea>
    <input type="submit" id="comment_button" name="post" class="button button-primary"
           value="Add comment">
</div>